# Topic: Food Accessibility and Profitability

In [1]:
# Import necessary libraries
import pandas as pd  # Import Pandas for data manipulation and analysis
import numpy as np    # Import NumPy for numerical operations

In [2]:
# Import necessary libraries
import pandas as pd

# Load Agricultural Survey data from the CSV file into a DataFrame
# Ensure low_memory=False to prevent memory issues for large datasets
raw_data = pd.read_csv('./Dataset/data.csv', low_memory=False)

# Display the first few rows of the raw data to understand its structure
# This helps in initial exploration and understanding of the dataset
print("First few rows of the raw data:")
print(raw_data.head())

First few rows of the raw data:
   Unnamed: 0    hhcode  gender1  gender2  gender3  gender4  gender5  gender6  \
0           0  10010601      1.0      2.0      1.0      1.0      2.0      1.0
1           1  10010602      1.0      2.0      1.0      1.0      1.0      2.0
2           2  10010603      2.0      1.0      2.0      2.0      2.0      1.0
3           3  10010604      2.0      2.0      2.0      1.0      1.0      1.0
4           4  10010605      1.0      2.0      1.0      1.0      1.0      2.0

   gender7  gender8  ...  longtermrainfallshifts2  longtermrainfallshifts3  \
0      1.0      1.0  ...                      NaN                      NaN
1      1.0      1.0  ...                      NaN                      NaN
2      2.0      2.0  ...                      NaN                      NaN
3      1.0      1.0  ...                      NaN                      NaN
4      1.0      1.0  ...                      NaN                      NaN

   adjtempshifts1_1  adjtempshifts2_1  adjtempshifts3_1  adjrainfallshifts1_1  \
0               NaN               NaN               NaN                   NaN
1               NaN               NaN               NaN                   NaN
2               NaN               NaN               NaN                   NaN
3               NaN               NaN               NaN                   NaN
4               NaN               NaN               NaN                   NaN

   adjrainfallshifts2_1  adjrainfallshifts3_1  interviewer  vname
0                   NaN                   NaN            .      .
1                   NaN                   NaN            .      .
2                   NaN                   NaN            .      .
3                   NaN                   NaN            .      .
4                   NaN                   NaN            .      .

[5 rows x 1754 columns]

In [3]:
# Store names of columns externally to select needed columns
# Open 'columns.txt' file in write mode
with open('columns.txt', 'w') as file:
    # Iterate through the columns of the raw_data DataFrame
    for item in raw_data.columns:
        # Write each column name followed by a newline character to 'columns.txt'
        file.write('%s\n' % item)

# Section information

Section 1: Household Roster--Members of Households and Education
Section 2: Employment
Section 3: Tenure Issues and Labor Composition
Section 4: Details on Farming Activities
Section 5: Access and Extension Services 
Section 6: Other Farming Costs and Farm Subsidies
Section 7: Adaptation Options

In [4]:
# Create a list of relevant section files containing section columns
sections = ['section_3_col.txt', 'section_4_col.txt', 'section_7_col.txt']
sec_cols = {}
# Iterate through the list of section file names
for file_name in sections:
    # Open the txt file in read mode
    with open(file_name, 'r') as file:
        # Read lines from the file and create a list
        columns = [column.strip() for column in file.readlines()]
        # Remove the '.txt' extension and save the list with the corresponding file name
        sec_cols[file_name[:-4]] = columns
# Print the list of columns needed    
print(sec_cols)

{'section_3_col': ['hhcode', 'adm0', 'adm1', 'farmtype', 'fplots', 'fplotarea1', 'fplotarea2', 'fplotarea3', 'plotunits', 'fsystem1', 'fsystem2', 'fsystem3', 'fsystem4', 'tenure1', 'tenure2', 'tenure3', 'tenure4', 'yearsuse1', 'yearsuse2', 'yearsuse3', 'yearsuse4', 'rentplot1', 'rentplot2', 'rentplot3', 'rentplot4', 'farmsalev', 'farmbuyv', 'season1s', 'season1e', 'season2s', 'season2e', 'season3s', 'season3e', 'seas1nam', 'seas2nam', 'seas3nam'], 'section_4_col': ['hhcode', 's1p1c1', 's1p1c1plant', 's1p1c1harv', 's1p1c1area', 's1p1c1qharv', 's1p1c1cons', 's1p1c1lives', 's1p1c1lost', 's1p1c1mkt', 's1p1c1sold', 's1p1c1cval', 's1p1c1seed', 's1p1c1sval', 's1p1c2', 's1p1c2plant', 's1p1c2harv', 's1p1c2area', 's1p1c2qharv', 's1p1c2cons', 's1p1c2lives', 's1p1c2lost', 's1p1c2mkt', 's1p1c2sold', 's1p1c2cval', 's1p1c2seed', 's1p1c2sval', 's1p1c3', 's1p1c3plant', 's1p1c3harv', 's1p1c3area', 's1p1c3qharv', 's1p1c3cons', 's1p1c3lives', 's1p1c3lost', 's1p1c3mkt', 's1p1c3sold', 's1p1c3cval', 's1p1c3seed', 's1p1c3sval', 's1p1c4', 's1p1c4plant', 's1p1c4harv', 's1p1c4area', 's1p1c4qharv', 's1p1c4cons', 's1p1c4lives', 's1p1c4lost', 's1p1c4mkt', 's1p1c4sold', 's1p1c4cval', 's1p1c4seed', 's1p1c4sval', 's1p1c5', 's1p1c5plant', 's1p1c5harv', 's1p1c5area', 's1p1c5qharv', 's1p1c5cons', 's1p1c5lives', 's1p1c5lost', 's1p1c5mkt', 's1p1c5sold', 's1p1c5cval', 's1p1c5seed', 's1p1c5sval', 's1p1c6', 's1p1c6plant', 's1p1c6harv', 's1p1c6area', 's1p1c6qharv', 's1p1c6cons', 's1p1c6lives', 's1p1c6lost', 's1p1c6mkt', 's1p1c6sold', 's1p1c6cval', 's1p1c6seed', 's1p1c6sval', 's1p2c1', 's1p2c1plant', 's1p2c1harv', 's1p2c1area', 's1p2c1qharv', 's1p2c1cons', 's1p2c1lives', 's1p2c1lost', 's1p2c1mkt', 's1p2c1sold', 's1p2c1cval', 's1p2c1seed', 's1p2c1sval', 's1p2c2', 's1p2c2plant', 's1p2c2harv', 's1p2c2area', 's1p2c2qharv', 's1p2c2cons', 's1p2c2lives', 's1p2c2lost', 's1p2c2mkt', 's1p2c2sold', 's1p2c2cval', 's1p2c2seed', 's1p2c2sval', 's1p2c3', 's1p2c3plant', 's1p2c3harv', 's1p2c3area', 's1p2c3qharv', 's1p2c3cons', 's1p2c3lives', 's1p2c3lost', 's1p2c3mkt', 's1p2c3sold', 's1p2c3cval', 's1p2c3seed', 's1p2c3sval', 's1p2c4', 's1p2c4plant', 's1p2c4harv', 's1p2c4area', 's1p2c4qharv', 's1p2c4cons', 's1p2c4lives', 's1p2c4lost', 's1p2c4mkt', 's1p2c4sold', 's1p2c4cval', 's1p2c4seed', 's1p2c4sval', 's1p2c5', 's1p2c5plant', 's1p2c5harv', 's1p2c5area', 's1p2c5qharv', 's1p2c5cons', 's1p2c5lives', 's1p2c5lost', 's1p2c5mkt', 's1p2c5sold', 's1p2c5cval', 's1p2c5seed', 's1p2c5sval', 's1p2c6', 's1p2c6plant', 's1p2c6harv', 's1p2c6area', 's1p2c6qharv', 's1p2c6cons', 's1p2c6lives', 's1p2c6lost', 's1p2c6mkt', 's1p2c6sold', 's1p2c6cval', 's1p2c6seed', 's1p2c6sval', 's2p1c1', 's2p1c1plant', 's2p1c1harv', 's2p1c1area', 's2p1c1qharv', 's2p1c1cons', 's2p1c1lives', 's2p1c1lost', 's2p1c1mkt', 's2p1c1sold', 's2p1c1cval', 's2p1c1seed', 's2p1c1sval', 's2p1c2', 's2p1c2plant', 's2p1c2harv', 's2p1c2area', 's2p1c2qharv', 's2p1c2cons', 's2p1c2lives', 's2p1c2lost', 's2p1c2mkt', 's2p1c2sold', 's2p1c2cval', 's2p1c2seed', 's2p1c2sval', 's2p1c3', 's2p1c3plant', 's2p1c3harv', 's2p1c3area', 's2p1c3qharv', 's2p1c3cons', 's2p1c3lives', 's2p1c3lost', 's2p1c3mkt', 's2p1c3sold', 's2p1c3cval', 's2p1c3seed', 's2p1c3sval', 's2p1c4', 's2p1c4plant', 's2p1c4harv', 's2p1c4area', 's2p1c4qharv', 's2p1c4cons', 's2p1c4lives', 's2p1c4lost', 's2p1c4mkt', 's2p1c4sold', 's2p1c4cval', 's2p1c4seed', 's2p1c4sval', 's2p1c5', 's2p1c5plant', 's2p1c5harv', 's2p1c5area', 's2p1c5qharv', 's2p1c5cons', 's2p1c5lives', 's2p1c5lost', 's2p1c5mkt', 's2p1c5sold', 's2p1c5cval', 's2p1c5seed', 's2p1c5sval', 's2p1c6', 's2p1c6plant', 's2p1c6harv', 's2p1c6area', 's2p1c6qharv', 's2p1c6cons', 's2p1c6lives', 's2p1c6lost', 's2p1c6mkt', 's2p1c6sold', 's2p1c6cval', 's2p1c6seed', 's2p1c6sval', 's2p2c1', 's2p2c1plant', 's2p2c1harv', 's2p2c1area', 's2p2c1qharv', 's2p2c1cons', 's2p2c1lives', 's2p2c1lost', 's2p2c1mkt', 's2p2c1sold', 's2p2c1cval', 's2p2c1seed', 's2p2c1sval', 's2p2c2', 's2p2c2plant', 's2p2c2harv', 's2p2c2area', 's2p2c2qharv', 's2p2c2cons', 's2p2c2lives', 's2p2c2lost', 's2p2c2mkt', 's2p2c2sold', 's2p2c2cval', 's2p2c2seed', 's2p2c2sval', 's2p2c3', 's2p2c3plant', 's2p2c3harv', 's2p2c3area', 's2p2c3qharv', 's2p2c3cons', 's2p2c3lives', 's2p2c3lost', 's2p2c3mkt', 's2p2c3sold', 's2p2c3cval', 's2p2c3seed', 's2p2c3sval', 's2p2c4', 's2p2c4plant', 's2p2c4harv', 's2p2c4area', 's2p2c4qharv', 's2p2c4cons', 's2p2c4lives', 's2p2c4lost', 's2p2c4mkt', 's2p2c4sold', 's2p2c4cval', 's2p2c4seed', 's2p2c4sval', 's2p2c5', 's2p2c5plant', 's2p2c5harv', 's2p2c5area', 's2p2c5qharv', 's2p2c5cons', 's2p2c5lives', 's2p2c5lost', 's2p2c5mkt', 's2p2c5sold', 's2p2c5cval', 's2p2c5seed', 's2p2c5sval', 's2p2c6', 's2p2c6plant', 's2p2c6harv', 's2p2c6area', 's2p2c6qharv', 's2p2c6cons', 's2p2c6lives', 's2p2c6lost', 's2p2c6mkt', 's2p2c6sold', 's2p2c6cval', 's2p2c6seed', 's2p2c6sval', 's3p1c1', 's3p1c1plant', 's3p1c1harv', 's3p1c1area', 's3p1c1qharv', 's3p1c1cons', 's3p1c1lives', 's3p1c1lost', 's3p1c1mkt', 's3p1c1sold', 's3p1c1cval', 's3p1c1seed', 's3p1c1sval', 's3p1c2', 's3p1c2plant', 's3p1c2harv', 's3p1c2area', 's3p1c2qharv', 's3p1c2cons', 's3p1c2lives', 's3p1c2lost', 's3p1c2mkt', 's3p1c2sold', 's3p1c2cval', 's3p1c2seed', 's3p1c2sval', 's3p1c3', 's3p1c3plant', 's3p1c3harv', 's3p1c3area', 's3p1c3qharv', 's3p1c3cons', 's3p1c3lives', 's3p1c3lost', 's3p1c3mkt', 's3p1c3sold', 's3p1c3cval', 's3p1c3seed', 's3p1c3sval', 's3p1c4', 's3p1c4plant', 's3p1c4harv', 's3p1c4area', 's3p1c4qharv', 's3p1c4cons', 's3p1c4lives', 's3p1c4lost', 's3p1c4mkt', 's3p1c4sold', 's3p1c4cval', 's3p1c4seed', 's3p1c4sval', 's3p1c5', 's3p1c5plant', 's3p1c5harv', 's3p1c5area', 's3p1c5qharv', 's3p1c5cons', 's3p1c5lives', 's3p1c5lost', 's3p1c5mkt', 's3p1c5sold', 's3p1c5cval', 's3p1c5seed', 's3p1c5sval', 's3p1c6', 's3p1c6plant', 's3p1c6harv', 's3p1c6area', 's3p1c6qharv', 's3p1c6cons', 's3p1c6lives', 's3p1c6lost', 's3p1c6mkt', 's3p1c6sold', 's3p1c6cval', 's3p1c6seed', 's3p1c6sval', 's3p2c1', 's3p2c1plant', 's3p2c1harv', 's3p2c1area', 's3p2c1qharv', 's3p2c1cons', 's3p2c1lives', 's3p2c1lost', 's3p2c1mkt', 's3p2c1sold', 's3p2c1cval', 's3p2c1seed', 's3p2c1sval', 's3p2c2', 's3p2c2plant', 's3p2c2harv', 's3p2c2area', 's3p2c2qharv', 's3p2c2cons', 's3p2c2lives', 's3p2c2lost', 's3p2c2mkt', 's3p2c2sold', 's3p2c2cval', 's3p2c2seed', 's3p2c2sval', 's3p2c3', 's3p2c3plant', 's3p2c3harv', 's3p2c3area', 's3p2c3qharv', 's3p2c3cons', 's3p2c3lives', 's3p2c3lost', 's3p2c3mkt', 's3p2c3sold', 's3p2c3cval', 's3p2c3seed', 's3p2c3sval', 's3p2c4', 's3p2c4plant', 's3p2c4harv', 's3p2c4area', 's3p2c4qharv', 's3p2c4cons', 's3p2c4lives', 's3p2c4lost', 's3p2c4mkt', 's3p2c4sold', 's3p2c4cval', 's3p2c4seed', 's3p2c4sval', 's3p2c5', 's3p2c5plant', 's3p2c5harv', 's3p2c5area', 's3p2c5qharv', 's3p2c5cons', 's3p2c5lives', 's3p2c5lost', 's3p2c5mkt', 's3p2c5sold', 's3p2c5cval', 's3p2c5seed', 's3p2c5sval', 's3p2c6', 's3p2c6plant', 's3p2c6harv', 's3p2c6area', 's3p2c6qharv', 's3p2c6cons', 's3p2c6lives', 's3p2c6lost', 's3p2c6mkt', 's3p2c6sold', 's3p2c6cval', 's3p2c6seed', 's3p2c6sval', 'pc1', 'pc2', 'pc3', 'pc4', 'pc5', 'nyieldc1', 'nyieldc2', 'nyieldc3', 'nyieldc4', 'nyieldc5', 's1p1fert', 's1p1irrig1', 's1p1irrig2', 's1p1irrig3', 's1p1irrig4', 's1p1pest', 's1p1wat1', 's1p1wat2', 's1p1wat3', 's1p1wat4', 's1p1wat5', 's1p2fert', 's1p2irrig1', 's1p2irrig2', 's1p2irrig3', 's1p2irrig4', 's1p2pest', 's1p2wat1', 's1p2wat2', 's1p2wat3', 's1p2wat4', 's1p2wat5', 's2p1fert', 's2p1irrig1', 's2p1irrig2', 's2p1irrig3', 's2p1irrig4', 's2p1pest', 's2p1wat1', 's2p1wat2', 's2p1wat3', 's2p1wat4', 's2p1wat5', 's2p2fert', 's2p2irrig1', 's2p2irrig2', 's2p2irrig3', 's2p2irrig4', 's2p2pest', 's2p2wat1', 's2p2wat2', 's2p2wat3', 's2p2wat4', 's2p2wat5', 's3p1fert', 's3p1irrig1', 's3p1irrig2', 's3p1irrig3', 's3p1irrig4', 's3p1pest', 's3p1wat1', 's3p1wat2', 's3p1wat3', 's3p1wat4', 's3p1wat5', 's3p2fert', 's3p2irrig1', 's3p2irrig2', 's3p2irrig3', 's3p2irrig4', 's3p2pest', 's3p2wat1', 's3p2wat2', 's3p2wat3', 's3p2wat4', 's3p2wat5', 'costkgfert', 'costkgpest', 'distsmktkm', 'distsmkthr', 'distpmktkm', 'distpmkthr', 'transport', 'cost1crop', 'cost2crop', 'cost3crop', 'cost4crop', 'cost5crop'], 'section_7_col': ['hhcode', 'farmingexperience', 'ad711', 'ad712', 'ad713', 'ad714', 'ad715', 'ad716', 'ad717', 'ad718', 'ad719', 'ad7110', 'ad7111', 'ad7112', 'ad7113', 'ad7114', 'ad7115', 'ad7116', 'ad7117', 'ad7118', 'ad7119', 'ad7120', 'ad7121', 'ad7122', 'ad7123', 'ad7124', 'ad7125', 'ad721', 'ad722', 'ad723', 'ad724', 'ad725', 'ad726', 'ad727', 'ad728', 'ad729', 'ad7210', 'ad7211', 'ad7212', 'ad731', 'ad732', 'ad733', 'ad734', 'ad735', 'ad736', 'ad741', 'ad742', 'ad743', 'ad744', 'ad745', 'ad746', 'ad747', 'ad751', 'ad752', 'ad753', 'ad754', 'ad755', 'ad756', 'ad757', 'ad758', 'ad759', 'ad7510', 'ad7511', 'ad7512', 'ad7513', 'ad7514', 'ad7515', 'ad7516', 'ad7517', 'ad7518', 'ad7519', 'ad7520', 'ad7521', 'ad7522', 'ad7523', 'ad7524', 'ad7525', 'ad761', 'ad762', 'ad763', 'ad764', 'ad765', 'ad766', 'ad767', 'ad768', 'ad769', 'ad7610', 'ad7611', 'ad7612', 'ad7613', 'ad7614', 'ad7615', 'ad7616', 'ad7617', 'ad7618', 'ad7619', 'ad7620', 'ad7621', 'ad7622', 'ad7623', 'ad7624', 'ad7625', 'clmadaptstrategy1', 'clmadaptstrategy2', 'clmadaptstrategy3', 'constraint1', 'constraint2', 'constraint3', 'longtermtempshifts1', 'longtermtempshifts2', 'longtermtempshifts3', 'longtermrainfallshifts1', 'longtermrainfallshifts2', 'longtermrainfallshifts3', 'adjtempshifts1_1', 'adjtempshifts2_1', 'adjtempshifts3_1', 'adjrainfallshifts1_1', 'adjrainfallshifts2_1', 'adjrainfallshifts3_1']}

In [5]:
# Create a list of each section's columns using the key(section name) as the identifies and values(column names) as items in the list
# Iterate through the dictionary items
for key, value in sec_cols.items():
    # Create variables with key names and assign them the corresponding list values
    locals()[key] = value

## Section 3 - Tenure issues

In [6]:
# Filter raw data to contain columns needed for section 3
tenure_data = raw_data[section_3_col]
# Print tenure_data
pd.set_option('display.max_columns', None)
print(tenure_data)

         hhcode         adm0     adm1  farmtype  fplots  fplotarea1  \
0      10010601  burkinafaso      Bam       2.0     1.0         5.0
1      10010602  burkinafaso      Bam       2.0     1.0         5.0
2      10010603  burkinafaso      Bam       2.0     1.0         3.0
3      10010604  burkinafaso      Bam       1.0     1.0         1.0
4      10010605  burkinafaso      Bam       2.0     1.0         5.0
...         ...          ...      ...       ...     ...         ...
9592  100090113        kenya  WESTERN       2.0     1.0         3.0
9593  100090114        kenya  WESTERN       2.0     1.0         3.0
9594  100090115        kenya  WESTERN       2.0     1.0         1.0
9595  100090116        kenya  WESTERN       1.0     1.0         1.0
9596  100090117        kenya  WESTERN       2.0     1.0         2.0

      fplotarea2  fplotarea3 plotunits  fsystem1  fsystem2  fsystem3  \
0           0.00         0.0        HA       2.0       NaN       NaN
1           3.00         0.0        HA       2.0       3.0       NaN
2           4.00         0.0        HA       3.0       2.0       NaN
3           0.50         0.0        HA       3.0       3.0       NaN
4           1.75         0.0        HA       1.0       2.0       NaN
...          ...         ...       ...       ...       ...       ...
9592        0.00         0.0        HA       NaN       NaN       NaN
9593        0.00         0.0        HA       NaN       NaN       NaN
9594        0.00         0.0        HA       NaN       NaN       NaN
9595        0.00         0.0        HA       NaN       NaN       NaN
9596        0.00         0.0        HA       NaN       NaN       NaN

      fsystem4  tenure1  tenure2  tenure3  tenure4  yearsuse1  yearsuse2  \
0          NaN      1.0      NaN      NaN      NaN       60.0        NaN
1          NaN      1.0      1.0      NaN      NaN       60.0       60.0
2          NaN      1.0      1.0      NaN      NaN        7.0        7.0
3          NaN      1.0      1.0      NaN      NaN      107.0      107.0
4          NaN      1.0      4.0      NaN      NaN       23.0       17.0
...        ...      ...      ...      ...      ...        ...        ...
9592       NaN      NaN      NaN      NaN      NaN       12.0        0.0
9593       NaN      NaN      NaN      NaN      NaN        5.0        0.0
9594       NaN      NaN      NaN      NaN      NaN       20.0        0.0
9595       NaN      NaN      NaN      NaN      NaN        8.0        0.0
9596       NaN      NaN      NaN      NaN      NaN       12.0        0.0

      yearsuse3  yearsuse4  rentplot1  rentplot2  rentplot3  rentplot4  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1           NaN        NaN        NaN        NaN        NaN        NaN
2           NaN        NaN        NaN        NaN        NaN        NaN
3           NaN        NaN        NaN        NaN        NaN        NaN
4           NaN        NaN        NaN        NaN        NaN        NaN
...         ...        ...        ...        ...        ...        ...
9592        NaN        NaN        0.0        0.0        NaN        NaN
9593        NaN        NaN        0.0        0.0        NaN        NaN
9594        NaN        NaN        0.0        0.0        NaN        NaN
9595        NaN        NaN        0.0        0.0        NaN        NaN
9596        NaN        NaN        0.0        0.0        NaN        NaN

      farmsalev   farmbuyv season1s   season1e  season2s season2e season3s  \
0           NaN        NaN     June    October  November      May      NaN
1           NaN        NaN     June    October  November      May      NaN
2           NaN        NaN     June    October  November      May      NaN
3     1000000.0  1000000.0     June    October  November      May      NaN
4      100000.0   100000.0     June    October  November      May      NaN
...         ...        ...      ...        ...       ...      ...      ...
9592  2000000.0        NaN  10feb03    15jul03   30aug03  20dec03        .
9593  1000000.0  1000000.0  20mar03  15ddaug03   15sep03  15jan04        .
9594   600000.0        NaN  ddmar03    ddjul03   ddsep03  dddec03        .
9595   430000.0        NaN  ddfeb03    ddaug03   ddaug03  dddec03        .
9596  1000000.0        NaN      -99        -99       -99      -99      -99

     season3e      seas1nam     seas2nam seas3nam
0         NaN  Rainy season   Dry season      NaN
1         NaN  Rainy season   Dry season      NaN
2         NaN  Rainy season   Dry season      NaN
3         NaN  Rainy season   Dry season      NaN
4         NaN  Rainy season   Dry season      NaN
...       ...           ...          ...      ...
9592        .    Long rains  Short rains        .
9593        .    Long rains  Short rains        .
9594        .    Long rains  Short rains        .
9595        .    Long rains  Short rains        .
9596      -99           NaN          NaN        .

[9597 rows x 36 columns]

In [7]:
# Calculate the percentage of NaN values in each column
na_percentage = (tenure_data.isna().mean() * 100)

# Drop columns with more than 80% NaN values
columns_to_drop = na_percentage[na_percentage > 80].index
tenure_data = tenure_data.drop(columns=columns_to_drop)

In [8]:
# Calculate sum of missing data in each column
tenure_data.isna().sum()

hhcode           0
adm0             0
adm1             0
farmtype       109
fplots          29
fplotarea1       0
fplotarea2       0
fplotarea3       0
plotunits        0
fsystem1       810
fsystem2      4431
tenure1        853
tenure2       4441
yearsuse1      124
yearsuse2     4057
rentplot1     5182
rentplot2     5738
farmsalev     1760
farmbuyv      4059
season1s       889
season1e       887
season2s       150
season2e       148
season3s      1794
season3e      1794
seas1nam       119
seas2nam       168
seas3nam      1239
dtype: int64

In [9]:
# Confirm all plot areas are in the same unit
tenure_data['plotunits'].describe()

count     9597
unique       1
top         HA
freq      9597
Name: plotunits, dtype: object

In [10]:
tenure_data.columns

Index(['hhcode', 'adm0', 'adm1', 'farmtype', 'fplots', 'fplotarea1',
       'fplotarea2', 'fplotarea3', 'plotunits', 'fsystem1', 'fsystem2',
       'tenure1', 'tenure2', 'yearsuse1', 'yearsuse2', 'rentplot1',
       'rentplot2', 'farmsalev', 'farmbuyv', 'season1s', 'season1e',
       'season2s', 'season2e', 'season3s', 'season3e', 'seas1nam', 'seas2nam',
       'seas3nam'],
      dtype='object')

In [11]:
# Create an empty dataframe to contain selected tenure features
tenure_features = pd.DataFrame()

In [12]:
# Create a list of streamlined columns
columns =['hhcode', 'adm0', 'adm1', 'farmtype', 'fplotarea1', 'fsystem1',
       'tenure1', 'yearsuse1', 'rentplot1', 'season1s', 'season1e', 'season2s', 'season2e', 'seas1nam', 'seas2nam']
# Filter the tenure_data to store streamlined columns in tenure_features
tenure_features = tenure_data[columns]

In [13]:
# Get value_counts of the columns to spot odd values
cat_cols = tenure_features.columns
for col in cat_cols:
    print(tenure_features[col].value_counts(dropna=False))

10010601     1
60250915     1
60251002     1
60251003     1
60251004     1
            ..
30080755     1
30080756     1
30080757     1
30080758     1
100090117    1
Name: hhcode, Length: 9597, dtype: int64
burkinafaso     1087
senegal         1078
zambia          1008
ethiopia         998
egypt            900
niger            900
ghana            894
kenya            816
cameroon         800
zimbabwe         700
south africa     416
Name: adm0, dtype: int64
Lower Egypt     540
oromia          360
Northern        273
Western         231
RIFT VALLEY     205
               ...
Zoundweogo        5
Koulpeologo       4
coast             2
Volta             1
bborng-ahafo      1
Name: adm1, Length: 120, dtype: int64
1.0    5220
2.0    2342
3.0    1926
NaN     109
Name: farmtype, dtype: int64
2.000000     758
1.000000     721
3.000000     544
5.000000     499
4.000000     473
            ...
15.175875      1
32.375198      1
21.853260      1
5.463315       1
0.420000       1
Name: fplotarea1, Length: 822, dtype: int64
2.0    3451
3.0    3407
1.0    1286
NaN     810
4.0     390
6.0     173
5.0      79
0.0       1
Name: fsystem1, dtype: int64
1.0     6003
4.0     1134
NaN      853
6.0      512
5.0      430
7.0      270
3.0      218
2.0      146
0.0       27
15.0       2
12.0       1
16.0       1
Name: tenure1, dtype: int64
10.0     726
20.0     714
30.0     606
3.0      508
15.0     506
        ...
107.0      1
59.0       1
76.0       1
115.0      1
2.5        1
Name: yearsuse1, Length: 90, dtype: int64
NaN              5182
0.000000         3647
200000.000000      43
150000.000000      28
1000.000000        28
                 ...
18.250000           1
108.300003          1
162.500000          1
25.410000           1
590.000000          1
Name: rentplot1, Length: 219, dtype: int64
-999       1392
NaN         889
1-Jun       887
October     748
mar         710
           ...
w1nov         1
w1oct         1
w1jun         1
25jan         1
20mar03       1
Name: season1s, Length: 134, dtype: int64
-999         1396
30-Sep        900
NaN           887
.             700
November      614
             ...
w3may03         1
w2oct03         1
w4jul04         1
ddddaug03       1
15ddaug03       1
Name: season1e, Length: 156, dtype: int64
-99         1032
1-Nov        900
10/06/02     748
.            700
December     614
            ...
w3sept03       1
w4may03        1
ddmar03        1
36433          1
20aug03        1
Name: season2s, Length: 145, dtype: int64
-99        1031
31-Mar      780
.           700
April       616
-999        566
           ...
w1jan04       1
w3feb04       1
w2aug04       1
w2aug03       1
20dec03       1
Name: season2e, Length: 170, dtype: int64
1               2153
2               1926
-999            1422
Rainy season    1086
0                846
.                700
major            475
long rain        352
Long rains       309
long rains       153
NaN              119
3                 22
-99               16
2-belg             4
1belge             3
99                 3
belg(1)            2
3belg              2
Rainy Season       1
2- belg            1
1,2                1
999                1
Name: seas1nam, dtype: int64
2              3870
Dry season     1087
-99            1003
1               898
.               700
-999            576
minor           356
short rain      306
Short rains     302
NaN             168
short rains     153
0                79
Spring           40
Outumn           20
3                16
3meher           12
3 meher           2
beley             2
belg              2
3-meher           1
3,1beley          1
oct               1
4                 1
belg3,1           1
Name: seas2nam, dtype: int64

In [14]:
# Convert 'adm1' column to lowercase to ensure consistency in capitalization
tenure_features['adm1'] = tenure_features['adm1'].str.lower()

# Display the count of 'adm1' values grouped by 'adm0' in the DataFrame.
# Setting display option to show all rows for better visibility.
# NaN values are retained in the count (dropna=False).
# Sorting the output by 'adm0' and 'adm1'.
with pd.option_context('display.max_rows', None):
    print(tenure_features.groupby('adm0')['adm1'].value_counts(dropna=False).sort_index())

adm0          adm1
burkinafaso   bale                  14
              bam                   30
              banwa                 30
              bougouriba            21
              boulgou               11
              boulkiemde            30
              comoe                 60
              ganzourgou            28
              gnagna                25
              gourma                55
              houet                 59
              ioba                  23
              kenedougou            39
              komandjari             7
              kompienga             25
              kossi                 30
              koulpeologo            4
              kouritenga            29
              kourweogo             25
              leraba                29
              mou houn              30
              nahouri               28
              namentenga            20
              nayala                29
              noumbiel              22
              oubritenga            25
              oudalan               14
              passore               27
              poni                   7
              sanguie               28
              sanmatenga            29
              seno                  29
              sissili               32
              soum                  34
              sourou                29
              tapoa                 11
              tuy                   25
              yagha                 22
              yatenga               12
              zandoma               27
              ziro                  28
              zoundweogo             5
cameroon      adamoua               30
              centre               100
              east                 100
              extreme-nord          30
              littoral             100
              north                 40
              north west           100
              south                100
              south west           100
              west                 100
egypt         lower egypt          540
              midd egypt           180
              upper egypt          180
ethiopia      afar                  60
              amhara               118
              beneshangul gumuz    140
              oromia               360
              somali                80
              southern region      160
              tigray                80
ghana         ashanti              150
              bborng-ahafo           1
              brong-ahafo          119
              central               74
              eastern              105
              greater accre         22
              northern             132
              upper east            60
              upper west            45
              volta                 81
              western              105
kenya         central              114
              coast                 83
              eastern              172
              nyanza               131
              rift valley          205
              riftvalley            22
              western               89
niger         diffa                 60
              dosso                150
              maradi               180
              tahoua               180
              tillaberi            180
              zinder               150
senegal       diourbel             137
              fatick               122
              kaolack              149
              kolda                 60
              louga                180
              matam                 29
              saint louis           73
              tambacounda          180
              thies                148
south africa  eastern cape          55
              free state            56
              gauteng               11
              kwazulu-natal         95
              limpopo               27
              mpumalanga            46
              north west            43
              northern cape         40
              western cape          43
zambia        central              140
              copperbelt           108
              eastern              104
              luapula              104
              lusaka                70
              north western         60
              northern             141
              southern             155
              western              126
zimbabwe      manicaland           153
              mash central          59
              mash east             61
              mash west            154
              masvingo             141
              midlands             132
Name: adm1, dtype: int64

C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\1512509711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['adm1'] = tenure_features['adm1'].str.lower()

In [15]:
# Replace 'bborng-ahafo' with 'brong-ahafo' in the 'adm1' column of the 'tenure_features' DataFrame.
tenure_features['adm1'] = tenure_features['adm1'].replace('bborng-ahafo', 'brong-ahafo')

C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\2203154058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['adm1'] = tenure_features['adm1'].replace('bborng-ahafo', 'brong-ahafo')

In [16]:
# Convert odd values not within categotical range to 'Other', 5
tenure_features.loc[:, 'fsystem1'] = tenure_features['fsystem1'].apply(lambda x: x if (x in range(1, 7) or pd.isna(x)) else 5)

# Convert odd values not within categotical range to 'Other', 7
tenure_features.loc[:, 'tenure1'] = tenure_features['tenure1'].apply(lambda x: x if (x in range(1, 8) or pd.isna(x)) else 7)

C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\2700109091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features.loc[:, 'fsystem1'] = tenure_features['fsystem1'].apply(lambda x: x if (x in range(1, 7) or pd.isna(x)) else 5)
C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\2700109091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features.loc[:, 'tenure1'] = tenure_features['tenure1'].apply(lambda x: x if (x in range(1, 8) or pd.isna(x)) else 7)

In [17]:
# Convert 'seas1nam' and 'seas2nam' columns to lowercase for consistency
tenure_features['seas1nam'] = tenure_features['seas1nam'].str.lower()
tenure_features['seas2nam'] = tenure_features['seas2nam'].str.lower()

# Define a dictionary for replacements
replacements = {
    'long rain': 'long rains',  # Correcting typo and standardizing naming
    'short rain': 'short rains',  # Correcting typo and standardizing naming
    '0': 'others',
    '3': 'others',
    '3meher': 'others',
    '3 meher': 'others',
    'beley': 'others',
    'belg': 'others',
    '3-meher': 'others',
    '3,1beley': 'others',
    'oct': 'others',
    '4': 'others',
    'belg3,1': 'others',
    '2-belg': 'others',
    '1belge': 'others',
    '99': 'others',
    'belg(1)': 'others',
    '3belg': 'others',
    '2- belg': 'others',
    '1,2': 'others',
    '999': 'others'
}

# Apply replacements to 'seas1nam' and 'seas2nam' columns
tenure_features['seas1nam'] = tenure_features['seas1nam'].replace(replacements)
tenure_features['seas2nam'] = tenure_features['seas2nam'].replace(replacements)

C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\1553282771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['seas1nam'] = tenure_features['seas1nam'].str.lower()
C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\1553282771.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['seas2nam'] = tenure_features['seas2nam'].str.lower()
C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\1553282771.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['seas1nam'] = tenure_features['seas1nam'].replace(replacements)
C:\Users\Binatone-PH\AppData\Local\Temp\ipykernel_18376\1553282771.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenure_features['seas2nam'] = tenure_features['seas2nam'].replace(replacements)

## Section 4 - Details on Farming Activities

In [18]:
# Filter raw data to contain columns needed for section 4
crop_data = raw_data[section_4_col]

# Print tenure_data
print(crop_data)

         hhcode  s1p1c1 s1p1c1plant s1p1c1harv  s1p1c1area  s1p1c1qharv  \
0      10010601    12.0         Jun        Oct         9.0        520.0
1      10010602    41.0         Jul        Sep         9.0        750.0
2      10010603    12.0         Jun        Oct         7.0        310.0
3      10010604    44.0         Jun        Nov        50.0        340.0
4      10010605    44.0         Jun        Nov        55.0       1782.0
...         ...     ...         ...        ...         ...          ...
9592  100090113     2.0     ddjul03        NaN        30.0        400.0
9593  100090114    26.0     16apr03    17nov03        75.0       3600.0
9594  100090115    26.0     ddmar03    ddjul03        50.0       1800.0
9595  100090116    26.0     15feb03    30jul03       100.0       2700.0
9596  100090117     NaN         NaN        NaN         NaN          NaN

      s1p1c1cons  s1p1c1lives  s1p1c1lost  s1p1c1mkt  s1p1c1sold  s1p1c1cval  \
0          300.0          NaN        20.0        NaN       200.0     46325.0
1          370.0          0.0        15.0        NaN         0.0         NaN
2          250.0          0.0        10.0        NaN         0.0         NaN
3          300.0          0.0        40.0        NaN         0.0         NaN
4         1602.0         30.0        50.0        NaN         0.0         NaN
...          ...          ...         ...        ...         ...         ...
9592        50.0          0.0         0.0        2.0       350.0     20000.0
9593       540.0          0.0        90.0        1.0      2970.0     30000.0
9594       900.0          0.0         0.0        2.0       900.0     12600.0
9595       810.0          0.0        40.0        2.0      1850.0     18500.0
9596         NaN          NaN         NaN        NaN         NaN         NaN

     s1p1c1seed s1p1c1sval  s1p1c2 s1p1c2plant s1p1c2harv  s1p1c2area  \
0            26        375    14.0         Jul        Oct         NaN
1            10        170    12.0         Jun        Sep         NaN
2            10        175    41.0         Jul        Oct         NaN
3            16        125    12.0         Jun        Oct         NaN
4            20        125    12.0         Jun        Nov         NaN
...         ...        ...     ...         ...        ...         ...
9592        120         25    26.0     10mar03    15aug03        15.0
9593         30        150     4.0     17apr03    15aug03        25.0
9594         10        150     2.0     05apr03        -99        20.0
9595         10       1400     NaN         NaN        NaN         NaN
9596          .          .     NaN         NaN        NaN         NaN

      s1p1c2qharv  s1p1c2cons  s1p1c2lives  s1p1c2lost  s1p1c2mkt  s1p1c2sold  \
0           150.0         NaN          NaN         5.0        3.0        70.0
1           350.0         NaN          0.0        30.0        NaN         0.0
2            25.0         NaN          0.0         2.0        NaN         0.0
3            60.0         NaN          0.0         4.0        NaN         0.0
4           356.0         NaN          0.0        20.0        NaN         0.0
...           ...         ...          ...         ...        ...         ...
9592       3600.0       270.0          0.0         0.0        2.0      3330.0
9593        540.0        90.0          0.0        20.0        1.0       430.0
9594        200.0        90.0          0.0        10.0        2.0       100.0
9595          NaN         NaN          NaN         NaN        NaN         NaN
9596          NaN         NaN          NaN         NaN        NaN         NaN

      s1p1c2cval s1p1c2seed s1p1c2sval  s1p1c3 s1p1c3plant s1p1c3harv  \
0            NaN          2          .    22.0         Jul        Oct
1            NaN         16          .    44.0         Jun        Nov
2            NaN         .5          .    56.0         Jul        Oct
3            NaN          4          .    22.0         Jun        Oct
4            NaN          4          .    56.0         Jul        Oct
...          ...        ...        ...     ...         ...        ...
9592     40000.0         25        150     4.0     10mar03    30aug03
9593     11180.0         20         30     NaN         NaN        NaN
9594      4000.0         60         70     4.0      9mar03     6jun03
9595         NaN          .          .     NaN         NaN        NaN
9596         NaN          .          .     NaN         NaN        NaN

      s1p1c3area  s1p1c3qharv  s1p1c3cons  s1p1c3lives  s1p1c3lost  s1p1c3mkt  \
0            7.0        450.0         NaN          5.0        25.0        NaN
1           60.0       3950.0         NaN         20.0        25.0        NaN
2            3.0         45.0         NaN          0.0         3.0        NaN
3            NaN         70.0         NaN          0.0         2.0        NaN
4            5.0         20.0         NaN          0.0         3.0        NaN
...          ...          ...         ...          ...         ...        ...
9592        15.0       1080.0        90.0          0.0         0.0        2.0
9593         NaN          NaN         NaN          NaN         NaN        NaN
9594        50.0        360.0        90.0          0.0         0.0        2.0
9595         NaN          NaN         NaN          NaN         NaN        NaN
9596         NaN          NaN         NaN          NaN         NaN        NaN

      s1p1c3sold  s1p1c3cval   s1p1c3seed s1p1c3sval  s1p1c4 s1p1c4plant  \
0            0.0         NaN           20          .    26.0         Jun
1            0.0         NaN           20          .    56.0         Jul
2            0.0         NaN  .0199999996          .    44.0         Jun
3            0.0         NaN           17          .    25.0         NaN
4            0.0         NaN            2          .    27.0         Jun
...          ...         ...          ...        ...     ...         ...
9592       990.0     29700.0           40         30    22.0      1apr03
9593         NaN         NaN            .          .     NaN         NaN
9594       270.0     10800.0           30         40     NaN         NaN
9595         NaN         NaN            .          .     NaN         NaN
9596         NaN         NaN            .          .     NaN         NaN

     s1p1c4harv  s1p1c4area  s1p1c4qharv  s1p1c4cons  s1p1c4lives  s1p1c4lost  \
0           Aug    2.000000        380.0         NaN         10.0        20.0
1           Nov    5.000000         65.0         NaN          0.0         5.0
2           Nov   70.000000        970.0         NaN         20.0        20.0
3           Apr         NaN        450.0         NaN          0.0        10.0
4           Nov   15.000001        144.0         NaN          0.0        18.0
...         ...         ...          ...         ...          ...         ...
9592    10sep03   30.000000       1200.0        90.0          0.0         0.0
9593        NaN         NaN          NaN         NaN          NaN         NaN
9594        NaN         NaN          NaN         NaN          NaN         NaN
9595        NaN         NaN          NaN         NaN          NaN         NaN
9596        NaN         NaN          NaN         NaN          NaN         NaN

      s1p1c4mkt  s1p1c4sold  s1p1c4cval   s1p1c4seed s1p1c4sval  s1p1c5  \
0           NaN         0.0         NaN           20         75    27.0
1           NaN         0.0         NaN  .1000000015       1000     NaN
2           NaN         0.0         NaN           18        150    22.0
3           NaN       420.0     50000.0            .          .    26.0
4           NaN         0.0         NaN            2        140    41.0
...         ...         ...         ...          ...        ...     ...
9592        1.0      1110.0     50000.0           50         40     NaN
9593        NaN         NaN         NaN            .          .     NaN
9594        NaN         NaN         NaN            .          .     NaN
9595        NaN         NaN         NaN            .          .     NaN
9596        NaN         NaN         NaN            .          .     NaN

     s1p1c5plant s1p1c5harv  s1p1c5area  s1p1c5qharv  s1p1c5cons  s1p1c5lives  \
0            Jun        Nov        25.6        470.0         NaN         50.0
1            NaN        NaN         NaN          NaN         NaN          NaN
2            Jul        Oct        15.0        160.0         NaN          0.0
3            Jul        Sep         NaN         12.0         NaN          0.0
4            Jul        Oct         2.0         37.0         NaN          0.0
...          ...        ...         ...          ...         ...          ...
9592         NaN        NaN         NaN          NaN         NaN          NaN
9593         NaN        NaN         NaN          NaN         NaN          NaN
9594         NaN        NaN         NaN          NaN         NaN          NaN
9595         NaN        NaN         NaN          NaN         NaN          NaN
9596         NaN        NaN         NaN          NaN         NaN          NaN

      s1p1c5lost  s1p1c5mkt  s1p1c5sold  s1p1c5cval s1p1c5seed s1p1c5sval  \
0           25.0        NaN         0.0         NaN         10          .
1            NaN        NaN         NaN         NaN          .          .
2           16.0        1.0        80.0         NaN          7          .
3            2.0        NaN         0.0         NaN          2          .
4            0.0        NaN        27.0      4750.0         17          .
...          ...        ...         ...         ...        ...        ...
9592         NaN        NaN         NaN         NaN          .          .
9593         NaN        NaN         NaN         NaN          .          .
9594         NaN        NaN         NaN         NaN          .          .
9595         NaN        NaN         NaN         NaN          .          .
9596         NaN        NaN         NaN         NaN          .          .

      s1p1c6 s1p1c6plant s1p1c6harv  s1p1c6area  s1p1c6qharv  s1p1c6cons  \
0       29.0         Jul        Sep         5.0          NaN        80.0
1        NaN         NaN        NaN         NaN          NaN         NaN
2        NaN         NaN        NaN         NaN          NaN         NaN
3       29.0         Jul        Sep         NaN          NaN        12.0
4       34.0         Jul        Oct         5.0          NaN         0.6
...      ...         ...        ...         ...          ...         ...
9592     NaN         NaN        NaN         NaN          NaN         NaN
9593     NaN         NaN        NaN         NaN          NaN         NaN
9594     NaN         NaN        NaN         NaN          NaN         NaN
9595     NaN         NaN        NaN         NaN          NaN         NaN
9596     NaN         NaN        NaN         NaN          NaN         NaN

      s1p1c6lives  s1p1c6lost  s1p1c6mkt  s1p1c6sold  s1p1c6cval   s1p1c6seed  \
0             NaN         NaN        NaN         0.0         NaN            1
1             NaN         NaN        NaN         NaN         NaN            .
2             NaN         NaN        NaN         NaN         NaN            .
3             0.0         NaN        NaN         0.0         NaN           .5
4             0.0         NaN        NaN         0.0         NaN  .0199999996
...           ...         ...        ...         ...         ...          ...
9592          NaN         NaN        NaN         NaN         NaN            .
9593          NaN         NaN        NaN         NaN         NaN            .
9594          NaN         NaN        NaN         NaN         NaN            .
9595          NaN         NaN        NaN         NaN         NaN            .
9596          NaN         NaN        NaN         NaN         NaN            .

     s1p1c6sval  s1p2c1 s1p2c1plant s1p2c1harv  s1p2c1area  s1p2c1qharv  \
0             .    39.0         Jun        Sep         5.0         85.0
1             .    27.0         Jun        Nov        40.0        864.0
2             .     NaN         NaN        NaN         NaN          NaN
3             .     NaN         NaN        NaN         NaN          NaN
4             .    33.0         Jul        Oct         5.0         40.0
...         ...     ...         ...        ...         ...          ...
9592          .     NaN         NaN        NaN         NaN          NaN
9593          .     NaN         NaN        NaN         NaN          NaN
9594          .     NaN         NaN        NaN         NaN          NaN
9595          .     NaN         NaN        NaN         NaN          NaN
9596          .     NaN         NaN        NaN         NaN          NaN

      s1p2c1cons  s1p2c1lives  s1p2c1lost  s1p2c1mkt  s1p2c1sold  s1p2c1cval  \
0           80.0          NaN         5.0        NaN         0.0         NaN
1          800.0          0.0        20.0        NaN         0.0         NaN
2            NaN          NaN         NaN        NaN         NaN         NaN
3            NaN          NaN         NaN        NaN         NaN         NaN
4           40.0          0.0         0.0        NaN         0.0         NaN
...          ...          ...         ...        ...         ...         ...
9592         NaN          NaN         NaN        NaN         NaN         NaN
9593         NaN          NaN         NaN        NaN         NaN         NaN
9594         NaN          NaN         NaN        NaN         NaN         NaN
9595         NaN          NaN         NaN        NaN         NaN         NaN
9596         NaN          NaN         NaN        NaN         NaN         NaN

     s1p2c1seed s1p2c1sval  s1p2c2 s1p2c2plant s1p2c2harv  s1p2c2area  \
0             1          .    41.0         Jun        Oct        12.0
1            14          .    44.0         Jun        Nov        30.0
2             .          .     NaN         NaN        NaN         NaN
3             .          .     NaN         NaN        NaN         NaN
4             2          .    14.0         Jul        Dec         2.5
...         ...        ...     ...         ...        ...         ...
9592          .          .     NaN         NaN        NaN         NaN
9593          .          .     NaN         NaN        NaN         NaN
9594          .          .     NaN         NaN        NaN         NaN
9595          .          .     NaN         NaN        NaN         NaN
9596          .          .     NaN         NaN        NaN         NaN

      s1p2c2qharv  s1p2c2cons  s1p2c2lives  s1p2c2lost  s1p2c2mkt  s1p2c2sold  \
0            50.0        20.0          NaN         3.0        NaN         NaN
1          2600.0      2000.0         30.0        25.0        NaN         NaN
2             NaN         NaN          NaN         NaN        NaN         NaN
3             NaN         NaN          NaN         NaN        NaN         NaN
4            41.0        17.0          0.0         7.0        3.0         NaN
...           ...         ...          ...         ...        ...         ...
9592          NaN         NaN          NaN         NaN        NaN         NaN
9593          NaN         NaN          NaN         NaN        NaN         NaN
9594          NaN         NaN          NaN         NaN        NaN         NaN
9595          NaN         NaN          NaN         NaN        NaN         NaN
9596          NaN         NaN          NaN         NaN        NaN         NaN

      s1p2c2cval s1p2c2seed s1p2c2sval  s1p2c3 s1p2c3plant s1p2c3harv  \
0         2500.0        1.5          .    44.0         Jun        Nov
1            NaN         14          .    12.0         Jun        Sep
2            NaN          .          .     NaN         NaN        NaN
3            NaN          .          .     NaN         NaN        NaN
4         2125.0          6          .     NaN         NaN        NaN
...          ...        ...        ...     ...         ...        ...
9592         NaN          .          .     NaN         NaN        NaN
9593         NaN          .          .     NaN         NaN        NaN
9594         NaN          .          .     NaN         NaN        NaN
9595         NaN          .          .     NaN         NaN        NaN
9596         NaN          .          .     NaN         NaN        NaN

      s1p2c3area  s1p2c3qharv  s1p2c3cons  s1p2c3lives  s1p2c3lost  s1p2c3mkt  \
0           35.0       4155.0         NaN         70.0        30.0        NaN
1            5.0        225.0         NaN          0.0        25.0        NaN
2            NaN          NaN         NaN          NaN         NaN        NaN
3            NaN          NaN         NaN          NaN         NaN        NaN
4            NaN          NaN         NaN          NaN         NaN        NaN
...          ...          ...         ...          ...         ...        ...
9592         NaN          NaN         NaN          NaN         NaN        NaN
9593         NaN          NaN         NaN          NaN         NaN        NaN
9594         NaN          NaN         NaN          NaN         NaN        NaN
9595         NaN          NaN         NaN          NaN         NaN        NaN
9596         NaN          NaN         NaN          NaN         NaN        NaN

      s1p2c3sold  s1p2c3cval  s1p2c3seed  s1p2c3sval  s1p2c4 s1p2c4plant  \
0            0.0         NaN        40.0         NaN    33.0         Jul
1            0.0         NaN        15.0         NaN    22.0         Jul
2            NaN         NaN         NaN         NaN     NaN         NaN
3            NaN         NaN         NaN         NaN     NaN         NaN
4            NaN         NaN         NaN         NaN     NaN         NaN
...          ...         ...         ...         ...     ...         ...
9592         NaN         NaN         NaN         NaN     NaN         NaN
9593         NaN         NaN         NaN         NaN     NaN         NaN
9594         NaN         NaN         NaN         NaN     NaN         NaN
9595         NaN         NaN         NaN         NaN     NaN         NaN
9596         NaN         NaN         NaN         NaN     NaN         NaN

     s1p2c4harv  s1p2c4area  s1p2c4qharv  s1p2c4cons  s1p2c4lives  s1p2c4lost  \
0           Sep         5.0        225.0         NaN          0.0        10.0
1           Oct        15.0        350.0         NaN          0.0        50.0
2           NaN         NaN          NaN         NaN          NaN         NaN
3           NaN         NaN          NaN         NaN          NaN         NaN
4           NaN         NaN          NaN         NaN          NaN         NaN
...         ...         ...          ...         ...          ...         ...
9592        NaN         NaN          NaN         NaN          NaN         NaN
9593        NaN         NaN          NaN         NaN          NaN         NaN
9594        NaN         NaN          NaN         NaN          NaN         NaN
9595        NaN         NaN          NaN         NaN          NaN         NaN
9596        NaN         NaN          NaN         NaN          NaN         NaN

      s1p2c4mkt  s1p2c4sold  s1p2c4cval  s1p2c4seed  s1p2c4sval  s1p2c5  \
0           NaN         0.0         NaN         2.0         NaN     NaN
1           NaN         0.0         NaN        25.0         NaN    33.0
2           NaN         NaN         NaN         NaN         NaN     NaN
3           NaN         NaN         NaN         NaN         NaN     NaN
4           NaN         NaN         NaN         NaN         NaN     NaN
...         ...         ...         ...         ...         ...     ...
9592        NaN         NaN         NaN         NaN         NaN     NaN
9593        NaN         NaN         NaN         NaN         NaN     NaN
9594        NaN         NaN         NaN         NaN         NaN     NaN
9595        NaN         NaN         NaN         NaN         NaN     NaN
9596        NaN         NaN         NaN         NaN         NaN     NaN

     s1p2c5plant s1p2c5harv  s1p2c5area  s1p2c5qharv  s1p2c5cons  s1p2c5lives  \
0            NaN        NaN         NaN          NaN         NaN          NaN
1            Jul        Oct        10.0        200.0         NaN          0.0

In [19]:
# Calculate sum of missing data in each column
with pd.option_context('display.max_rows', None):
    print(crop_data.isna().sum())

hhcode            0
s1p1c1         2489
s1p1c1plant     422
s1p1c1harv      456
s1p1c1area     2683
s1p1c1qharv    2508
s1p1c1cons     2890
s1p1c1lives    4642
s1p1c1lost     4064
s1p1c1mkt      3438
s1p1c1sold     2774
s1p1c1cval     5586
s1p1c1seed      206
s1p1c1sval      214
s1p1c2         4464
s1p1c2plant    1803
s1p1c2harv     1785
s1p1c2area     4342
s1p1c2qharv    3720
s1p1c2cons     4818
s1p1c2lives    5265
s1p1c2lost     4944
s1p1c2mkt      4318
s1p1c2sold     4222
s1p1c2cval     7413
s1p1c2seed      263
s1p1c2sval      267
s1p1c3         6189
s1p1c3plant    2820
s1p1c3harv     2798
s1p1c3area     6378
s1p1c3qharv    4752
s1p1c3cons     5573
s1p1c3lives    5907
s1p1c3lost     5568
s1p1c3mkt      4877
s1p1c3sold     5096
s1p1c3cval     7809
s1p1c3seed      274
s1p1c3sval      278
s1p1c4         7641
s1p1c4plant    3684
s1p1c4harv     3677
s1p1c4area     7038
s1p1c4qharv    5610
s1p1c4cons     6135
s1p1c4lives    6400
s1p1c4lost     6131
s1p1c4mkt      5422
s1p1c4sold     5782
s1p1c4cval     8481
s1p1c4seed      308
s1p1c4sval      310
s1p1c5         8757
s1p1c5plant    4259
s1p1c5harv     4255
s1p1c5area     8304
s1p1c5qharv    6396
s1p1c5cons     6679
s1p1c5lives    6718
s1p1c5lost     6605
s1p1c5mkt      5957
s1p1c5sold     6472
s1p1c5cval     9120
s1p1c5seed      321
s1p1c5sval      322
s1p1c6         9187
s1p1c6plant    4596
s1p1c6harv     4592
s1p1c6area     8361
s1p1c6qharv    6849
s1p1c6cons     6762
s1p1c6lives    6937
s1p1c6lost     6933
s1p1c6mkt      6181
s1p1c6sold     6777
s1p1c6cval     9334
s1p1c6seed      329
s1p1c6sval      331
s1p2c1         7598
s1p2c1plant    3821
s1p2c1harv     3865
s1p2c1area     7754
s1p2c1qharv    5797
s1p2c1cons     5964
s1p2c1lives    6609
s1p2c1lost     6345
s1p2c1mkt      5622
s1p2c1sold     5994
s1p2c1cval     8406
s1p2c1seed      318
s1p2c1sval      323
s1p2c2         8458
s1p2c2plant    4303
s1p2c2harv     4311
s1p2c2area     8554
s1p2c2qharv    6342
s1p2c2cons     6387
s1p2c2lives    6813
s1p2c2lost     6636
s1p2c2mkt      5952
s1p2c2sold     6716
s1p2c2cval     9080
s1p2c2seed      326
s1p2c2sval      330
s1p2c3         9234
s1p2c3plant    4699
s1p2c3harv     4698
s1p2c3area     9238
s1p2c3qharv    6842
s1p2c3cons     6990
s1p2c3lives    6984
s1p2c3lost     6944
s1p2c3mkt      6284
s1p2c3sold     6894
s1p2c3cval     9395
s1p2c3seed     6234
s1p2c3sval     6364
s1p2c4         9440
s1p2c4plant    4131
s1p2c4harv     4129
s1p2c4area     9461
s1p2c4qharv    6978
s1p2c4cons     7048
s1p2c4lives    7042
s1p2c4lost     7019
s1p2c4mkt      6362
s1p2c4sold     6997
s1p2c4cval     9509
s1p2c4seed     7246
s1p2c4sval     7313
s1p2c5         9532
s1p2c5plant    4190
s1p2c5harv     4188
s1p2c5area     9539
s1p2c5qharv    7044
s1p2c5cons     7075
s1p2c5lives    7075
s1p2c5lost     7067
s1p2c5mkt      6404
s1p2c5sold     7055
s1p2c5cval     9560
s1p2c5seed     7301
s1p2c5sval     7329
s1p2c6         9584
s1p2c6plant    4216
s1p2c6harv     4216
s1p2c6area     9588
s1p2c6qharv    7086
s1p2c6cons     7092
s1p2c6lives    7093
s1p2c6lost     7093
s1p2c6mkt      6432
s1p2c6sold     7087
s1p2c6cval     9590
s1p2c6seed     7338
s1p2c6sval     7334
s2p1c1         5536
s2p1c1plant    3161
s2p1c1harv     3159
s2p1c1area     6516
s2p1c1qharv    4954
s2p1c1cons     4317
s2p1c1lives    5330
s2p1c1lost     4998
s2p1c1mkt      5734
s2p1c1sold     5235
s2p1c1cval     7682
s2p1c1seed      141
s2p1c1sval      148
s2p1c2         7474
s2p1c2plant    4035
s2p1c2harv     4038
s2p1c2area     7553
s2p1c2qharv    5318
s2p1c2cons     5445
s2p1c2lives    6146
s2p1c2lost     5953
s2p1c2mkt      6457
s2p1c2sold     5578
s2p1c2cval     8403
s2p1c2seed      246
s2p1c2sval      255
s2p1c3         8450
s2p1c3plant    4439
s2p1c3harv     4438
s2p1c3area     8500
s2p1c3qharv    6110
s2p1c3cons     6195
s2p1c3lives    6626
s2p1c3lost     6495
s2p1c3mkt      6188
s2p1c3sold     6295
s2p1c3cval     8952
s2p1c3seed      367
s2p1c3sval      369
s2p1c4         9018
s2p1c4plant    4926
s2p1c4harv     4925
s2p1c4area     9053
s2p1c4qharv    6578
s2p1c4cons     6618
s2p1c4lives    6847
s2p1c4lost     6777
s2p1c4mkt      6397
s2p1c4sold     6681
s2p1c4cval     9281
s2p1c4seed      445
s2p1c4sval      448
s2p1c5         9327
s2p1c5plant    5985
s2p1c5harv     5982
s2p1c5area     9337
s2p1c5qharv    6849
s2p1c5cons     6868
s2p1c5lives    6979
s2p1c5lost     6948
s2p1c5mkt      6507
s2p1c5sold     6888
s2p1c5cval     9447
s2p1c5seed     7368
s2p1c5sval     6472
s2p1c6         9495
s2p1c6plant    6057
s2p1c6harv     6057
s2p1c6area     9505
s2p1c6qharv    7007
s2p1c6cons     7008
s2p1c6lives    7041
s2p1c6lost     7032
s2p1c6mkt      6577
s2p1c6sold     7018
s2p1c6cval     9541
s2p1c6seed     7459
s2p1c6sval     6560
s2p2c1         7976
s2p2c1plant    3906
s2p2c1harv     3907
s2p2c1area     8025
s2p2c1qharv    5787
s2p2c1cons     5826
s2p2c1lives    6031
s2p2c1lost     6044
s2p2c1mkt      6020
s2p2c1sold     5811
s2p2c1cval     8960
s2p2c1seed      501
s2p2c1sval      500
s2p2c2         8754
s2p2c2plant    4129
s2p2c2harv     4129
s2p2c2area     9313
s2p2c2qharv    6387
s2p2c2cons     6408
s2p2c2lives    6471
s2p2c2lost     6494
s2p2c2mkt      6321
s2p2c2sold     6406
s2p2c2cval     9200
s2p2c2seed      511
s2p2c2sval      510
s2p2c3         9320
s2p2c3plant    4258
s2p2c3harv     4260
s2p2c3area     9334
s2p2c3qharv    6862
s2p2c3cons     6873
s2p2c3lives    6913
s2p2c3lost     6914
s2p2c3mkt      6520
s2p2c3sold     6879
s2p2c3cval     9462
s2p2c3seed     7313
s2p2c3sval     6413
s2p2c4         9516
s2p2c4plant    4730
s2p2c4harv     4728
s2p2c4area     9524
s2p2c4qharv    7024
s2p2c4cons     7028
s2p2c4lives    7049
s2p2c4lost     7049
s2p2c4mkt      6583
s2p2c4sold     7026
s2p2c4cval     9549
s2p2c4seed     7464
s2p2c4sval     7463
s2p2c5         9564
s2p2c5plant    6531
s2p2c5harv     6531
s2p2c5area     9570
s2p2c5qharv    7070
s2p2c5cons     7071
s2p2c5lives    7077
s2p2c5lost     7078
s2p2c5mkt      6611
s2p2c5sold     7073
s2p2c5cval     9579
s2p2c5seed     7496
s2p2c5sval     7496
s2p2c6         9588
s2p2c6plant    4553
s2p2c6harv     4553
s2p2c6area     9592
s2p2c6qharv    7089
s2p2c6cons     7092
s2p2c6lives    7093
s2p2c6lost     7093
s2p2c6mkt      6624
s2p2c6sold     7091
s2p2c6cval     9594
s2p2c6seed     7517
s2p2c6sval     7516
s3p1c1         9122
s3p1c1plant    4297
s3p1c1harv     4290
s3p1c1area     9132
s3p1c1qharv    7555
s3p1c1cons     7602
s3p1c1lives    7740
s3p1c1lost     7722
s3p1c1mkt      6943
s3p1c1sold     7584
s3p1c1cval     9210
s3p1c1seed     1713
s3p1c1sval     1719
s3p1c2         9406
s3p1c2plant    4494
s3p1c2harv     4487
s3p1c2area     9415
s3p1c2qharv    7655
s3p1c2cons     7670
s3p1c2lives    7779
s3p1c2lost     7772
s3p1c2mkt      7009
s3p1c2sold     7677
s3p1c2cval     9464
s3p1c2seed     1736
s3p1c2sval     1736
s3p1c3         9529
s3p1c3plant    4572
s3p1c3harv     4568
s3p1c3area     9533
s3p1c3qharv    7748
s3p1c3cons     7751
s3p1c3lives    7795
s3p1c3lost     7786
s3p1c3mkt      7069
s3p1c3sold     7761
s3p1c3cval     9553
s3p1c3seed     7064
s3p1c3sval     7067
s3p1c4         9575
s3p1c4plant    5520
s3p1c4harv     5519
s3p1c4area     9579
s3p1c4qharv    7777
s3p1c4cons     7782
s3p1c4lives    7797
s3p1c4lost     7794
s3p1c4mkt      7104
s3p1c4sold     7784
s3p1c4cval     9583
s3p1c4seed     7999
s3p1c4sval     7099
s3p1c5         9586
s3p1c5plant    4631
s3p1c5harv     4631
s3p1c5area     9589
s3p1c5qharv    7789
s3p1c5cons     7789
s3p1c5lives    7797
s3p1c5lost     7797
s3p1c5mkt      7112
s3p1c5sold     7792
s3p1c5cval     9592
s3p1c5seed     8010
s3p1c5sval     8010
s3p1c6         9590
s3p1c6plant    4635
s3p1c6harv     4635
s3p1c6area     9593
s3p1c6qharv    7793
s3p1c6cons     7793
s3p1c6lives    7797
s3p1c6lost     7796
s3p1c6mkt      7115
s3p1c6sold     7793
s3p1c6cval     9594
s3p1c6seed     8014
s3p1c6sval     8014
s3p2c1         9528
s3p2c1plant    4605
s3p2c1harv     4597
s3p2c1area     9531
s3p2c1qharv    7770
s3p2c1cons     7774
s3p2c1lives    7783
s3p2c1lost     7783
s3p2c1mkt      7107
s3p2c1sold     7780
s3p2c1cval     9551
s3p2c1seed     8013
s3p2c1sval     1832
s3p2c2         9576
s3p2c2plant    5045
s3p2c2harv     5044
s3p2c2area     9579
s3p2c2qharv    7786
s3p2c2cons     7786
s3p2c2lives    7793
s3p2c2lost     7791
s3p2c2mkt      7114
s3p2c2sold     7790
s3p2c2cval     9588
s3p2c2seed     7113
s3p2c2sval     1833
s3p2c3         9590
s3p2c3plant    5632
s3p2c3harv     5949
s3p2c3area     9593
s3p2c3qharv    7796
s3p2c3cons     7797
s3p2c3lives    7797
s3p2c3lost     7797
s3p2c3mkt      7119
s3p2c3sold     7797
s3p2c3cval     9596
s3p2c3seed     8018
s3p2c3sval     8018
s3p2c4         9596
s3p2c4plant    7039
s3p2c4harv     5051
s3p2c4area     9596
s3p2c4qharv    7796
s3p2c4cons     7796
s3p2c4lives    7797
s3p2c4lost     7796
s3p2c4mkt      7119
s3p2c4sold     7797
s3p2c4cval     9597
s3p2c4seed     8018
s3p2c4sval     8018
s3p2c5         9596
s3p2c5plant    4733
s3p2c5harv     4733
s3p2c5area     9596
s3p2c5qharv    7796
s3p2c5cons     7796
s3p2c5lives    7797
s3p2c5lost     7797
s3p2c5mkt      7118
s3p2c5sold     7796
s3p2c5cval     9596
s3p2c5seed     8017
s3p2c5sval     8017
s3p2c6         9597
s3p2c6plant    7039
s3p2c6harv     7039
s3p2c6area     9597
s3p2c6qharv    7797
s3p2c6cons     7797
s3p2c6lives    7797
s3p2c6lost     7797
s3p2c6mkt      7119
s3p2c6sold     7797
s3p2c6cval     9597
s3p2c6seed     8018
s3p2c6sval     8018
pc1             414
pc2            1363
pc3            2512
pc4            3959
pc5            5079
nyieldc1        496
nyieldc2       1429
nyieldc3       2583
nyieldc4       3996
nyieldc5       5102
s1p1fert       3596
s1p1irrig1     6140
s1p1irrig2     6367
s1p1irrig3     6419
s1p1irrig4     6315
s1p1pest       4098
s1p1wat1       4102
s1p1wat2       6303
s1p1wat3       6371
s1p1wat4       4170
s1p1wat5       6347
s1p2fert       5759
s1p2irrig1     6168
s1p2irrig2     6307
s1p2irrig3     6319
s1p2irrig4     6304
s1p2pest       5928
s1p2wat1       5625
s1p2wat2       6295
s1p2wat3       6294
s1p2wat4       5882
s1p2wat5       6304
s2p1fert       4835
s2p1irrig1     6177
s2p1irrig2     6286
s2p1irrig3     6311
s2p1irrig4     6267
s2p1pest       4993
s2p1wat1       5791
s2p1wat2       6258
s2p1wat3       6302
s2p1wat4       4966
s2p1wat5       6308
s2p2fert       5342
s2p2irrig1     6258
s2p2irrig2     6280
s2p2irrig3     6316
s2p2irrig4     6304
s2p2pest       5360
s2p2wat1       6125
s2p2wat2       6305
s2p2wat3       6317
s2p2wat4       5377
s2p2wat5       6302
s3p1fert       6935
s3p1irrig1     7010
s3p1irrig2     7016
s3p1irrig3     7018
s3p1irrig4     6994
s3p1pest       6955
s3p1wat1       6943
s3p1wat2       7010
s3p1wat3       7013
s3p1wat4       6987
s3p1wat5       7011
s3p2fert       7000
s3p2irrig1     7017
s3p2irrig2     7022
s3p2irrig3     7020
s3p2irrig4     7015
s3p2pest       7004
s3p2wat1       6974
s3p2wat2       7018
s3p2wat3       7021
s3p2wat4       7019
s3p2wat5       7016
costkgfert     3940
costkgpest     5034
distsmktkm      593
distsmkthr     5457
distpmktkm      808
distpmkthr     5332
transport      1380
cost1crop      1741
cost2crop      2299
cost3crop      2611
cost4crop      3217
cost5crop      3763
dtype: int64

In [20]:
# Use regex to drop columns not needed
import re

# Define regex partern to match columns to drop
regex_pattern = r's3|p2|c2|c3|c4|c5|c6'

#use filter and regex to drop columns matching the pattern
plot_cols = [col for col in crop_data.columns if re.search(regex_pattern, col)]
crop_data = crop_data.drop(columns=plot_cols)
print(plot_cols)

['s1p1c2', 's1p1c2plant', 's1p1c2harv', 's1p1c2area', 's1p1c2qharv', 's1p1c2cons', 's1p1c2lives', 's1p1c2lost', 's1p1c2mkt', 's1p1c2sold', 's1p1c2cval', 's1p1c2seed', 's1p1c2sval', 's1p1c3', 's1p1c3plant', 's1p1c3harv', 's1p1c3area', 's1p1c3qharv', 's1p1c3cons', 's1p1c3lives', 's1p1c3lost', 's1p1c3mkt', 's1p1c3sold', 's1p1c3cval', 's1p1c3seed', 's1p1c3sval', 's1p1c4', 's1p1c4plant', 's1p1c4harv', 's1p1c4area', 's1p1c4qharv', 's1p1c4cons', 's1p1c4lives', 's1p1c4lost', 's1p1c4mkt', 's1p1c4sold', 's1p1c4cval', 's1p1c4seed', 's1p1c4sval', 's1p1c5', 's1p1c5plant', 's1p1c5harv', 's1p1c5area', 's1p1c5qharv', 's1p1c5cons', 's1p1c5lives', 's1p1c5lost', 's1p1c5mkt', 's1p1c5sold', 's1p1c5cval', 's1p1c5seed', 's1p1c5sval', 's1p1c6', 's1p1c6plant', 's1p1c6harv', 's1p1c6area', 's1p1c6qharv', 's1p1c6cons', 's1p1c6lives', 's1p1c6lost', 's1p1c6mkt', 's1p1c6sold', 's1p1c6cval', 's1p1c6seed', 's1p1c6sval', 's1p2c1', 's1p2c1plant', 's1p2c1harv', 's1p2c1area', 's1p2c1qharv', 's1p2c1cons', 's1p2c1lives', 's1p2c1lost', 's1p2c1mkt', 's1p2c1sold', 's1p2c1cval', 's1p2c1seed', 's1p2c1sval', 's1p2c2', 's1p2c2plant', 's1p2c2harv', 's1p2c2area', 's1p2c2qharv', 's1p2c2cons', 's1p2c2lives', 's1p2c2lost', 's1p2c2mkt', 's1p2c2sold', 's1p2c2cval', 's1p2c2seed', 's1p2c2sval', 's1p2c3', 's1p2c3plant', 's1p2c3harv', 's1p2c3area', 's1p2c3qharv', 's1p2c3cons', 's1p2c3lives', 's1p2c3lost', 's1p2c3mkt', 's1p2c3sold', 's1p2c3cval', 's1p2c3seed', 's1p2c3sval', 's1p2c4', 's1p2c4plant', 's1p2c4harv', 's1p2c4area', 's1p2c4qharv', 's1p2c4cons', 's1p2c4lives', 's1p2c4lost', 's1p2c4mkt', 's1p2c4sold', 's1p2c4cval', 's1p2c4seed', 's1p2c4sval', 's1p2c5', 's1p2c5plant', 's1p2c5harv', 's1p2c5area', 's1p2c5qharv', 's1p2c5cons', 's1p2c5lives', 's1p2c5lost', 's1p2c5mkt', 's1p2c5sold', 's1p2c5cval', 's1p2c5seed', 's1p2c5sval', 's1p2c6', 's1p2c6plant', 's1p2c6harv', 's1p2c6area', 's1p2c6qharv', 's1p2c6cons', 's1p2c6lives', 's1p2c6lost', 's1p2c6mkt', 's1p2c6sold', 's1p2c6cval', 's1p2c6seed', 's1p2c6sval', 's2p1c2', 's2p1c2plant', 's2p1c2harv', 's2p1c2area', 's2p1c2qharv', 's2p1c2cons', 's2p1c2lives', 's2p1c2lost', 's2p1c2mkt', 's2p1c2sold', 's2p1c2cval', 's2p1c2seed', 's2p1c2sval', 's2p1c3', 's2p1c3plant', 's2p1c3harv', 's2p1c3area', 's2p1c3qharv', 's2p1c3cons', 's2p1c3lives', 's2p1c3lost', 's2p1c3mkt', 's2p1c3sold', 's2p1c3cval', 's2p1c3seed', 's2p1c3sval', 's2p1c4', 's2p1c4plant', 's2p1c4harv', 's2p1c4area', 's2p1c4qharv', 's2p1c4cons', 's2p1c4lives', 's2p1c4lost', 's2p1c4mkt', 's2p1c4sold', 's2p1c4cval', 's2p1c4seed', 's2p1c4sval', 's2p1c5', 's2p1c5plant', 's2p1c5harv', 's2p1c5area', 's2p1c5qharv', 's2p1c5cons', 's2p1c5lives', 's2p1c5lost', 's2p1c5mkt', 's2p1c5sold', 's2p1c5cval', 's2p1c5seed', 's2p1c5sval', 's2p1c6', 's2p1c6plant', 's2p1c6harv', 's2p1c6area', 's2p1c6qharv', 's2p1c6cons', 's2p1c6lives', 's2p1c6lost', 's2p1c6mkt', 's2p1c6sold', 's2p1c6cval', 's2p1c6seed', 's2p1c6sval', 's2p2c1', 's2p2c1plant', 's2p2c1harv', 's2p2c1area', 's2p2c1qharv', 's2p2c1cons', 's2p2c1lives', 's2p2c1lost', 's2p2c1mkt', 's2p2c1sold', 's2p2c1cval', 's2p2c1seed', 's2p2c1sval', 's2p2c2', 's2p2c2plant', 's2p2c2harv', 's2p2c2area', 's2p2c2qharv', 's2p2c2cons', 's2p2c2lives', 's2p2c2lost', 's2p2c2mkt', 's2p2c2sold', 's2p2c2cval', 's2p2c2seed', 's2p2c2sval', 's2p2c3', 's2p2c3plant', 's2p2c3harv', 's2p2c3area', 's2p2c3qharv', 's2p2c3cons', 's2p2c3lives', 's2p2c3lost', 's2p2c3mkt', 's2p2c3sold', 's2p2c3cval', 's2p2c3seed', 's2p2c3sval', 's2p2c4', 's2p2c4plant', 's2p2c4harv', 's2p2c4area', 's2p2c4qharv', 's2p2c4cons', 's2p2c4lives', 's2p2c4lost', 's2p2c4mkt', 's2p2c4sold', 's2p2c4cval', 's2p2c4seed', 's2p2c4sval', 's2p2c5', 's2p2c5plant', 's2p2c5harv', 's2p2c5area', 's2p2c5qharv', 's2p2c5cons', 's2p2c5lives', 's2p2c5lost', 's2p2c5mkt', 's2p2c5sold', 's2p2c5cval', 's2p2c5seed', 's2p2c5sval', 's2p2c6', 's2p2c6plant', 's2p2c6harv', 's2p2c6area', 's2p2c6qharv', 's2p2c6cons', 's2p2c6lives', 's2p2c6lost', 's2p2c6mkt', 's2p2c6sold', 's2p2c6cval', 's2p2c6seed', 's2p2c6sval', 's3p1c1', 's3p1c1plant', 's3p1c1harv', 's3p1c1area', 's3p1c1qharv', 's3p1c1cons', 's3p1c1lives', 's3p1c1lost', 's3p1c1mkt', 's3p1c1sold', 's3p1c1cval', 's3p1c1seed', 's3p1c1sval', 's3p1c2', 's3p1c2plant', 's3p1c2harv', 's3p1c2area', 's3p1c2qharv', 's3p1c2cons', 's3p1c2lives', 's3p1c2lost', 's3p1c2mkt', 's3p1c2sold', 's3p1c2cval', 's3p1c2seed', 's3p1c2sval', 's3p1c3', 's3p1c3plant', 's3p1c3harv', 's3p1c3area', 's3p1c3qharv', 's3p1c3cons', 's3p1c3lives', 's3p1c3lost', 's3p1c3mkt', 's3p1c3sold', 's3p1c3cval', 's3p1c3seed', 's3p1c3sval', 's3p1c4', 's3p1c4plant', 's3p1c4harv', 's3p1c4area', 's3p1c4qharv', 's3p1c4cons', 's3p1c4lives', 's3p1c4lost', 's3p1c4mkt', 's3p1c4sold', 's3p1c4cval', 's3p1c4seed', 's3p1c4sval', 's3p1c5', 's3p1c5plant', 's3p1c5harv', 's3p1c5area', 's3p1c5qharv', 's3p1c5cons', 's3p1c5lives', 's3p1c5lost', 's3p1c5mkt', 's3p1c5sold', 's3p1c5cval', 's3p1c5seed', 's3p1c5sval', 's3p1c6', 's3p1c6plant', 's3p1c6harv', 's3p1c6area', 's3p1c6qharv', 's3p1c6cons', 's3p1c6lives', 's3p1c6lost', 's3p1c6mkt', 's3p1c6sold', 's3p1c6cval', 's3p1c6seed', 's3p1c6sval', 's3p2c1', 's3p2c1plant', 's3p2c1harv', 's3p2c1area', 's3p2c1qharv', 's3p2c1cons', 's3p2c1lives', 's3p2c1lost', 's3p2c1mkt', 's3p2c1sold', 's3p2c1cval', 's3p2c1seed', 's3p2c1sval', 's3p2c2', 's3p2c2plant', 's3p2c2harv', 's3p2c2area', 's3p2c2qharv', 's3p2c2cons', 's3p2c2lives', 's3p2c2lost', 's3p2c2mkt', 's3p2c2sold', 's3p2c2cval', 's3p2c2seed', 's3p2c2sval', 's3p2c3', 's3p2c3plant', 's3p2c3harv', 's3p2c3area', 's3p2c3qharv', 's3p2c3cons', 's3p2c3lives', 's3p2c3lost', 's3p2c3mkt', 's3p2c3sold', 's3p2c3cval', 's3p2c3seed', 's3p2c3sval', 's3p2c4', 's3p2c4plant', 's3p2c4harv', 's3p2c4area', 's3p2c4qharv', 's3p2c4cons', 's3p2c4lives', 's3p2c4lost', 's3p2c4mkt', 's3p2c4sold', 's3p2c4cval', 's3p2c4seed', 's3p2c4sval', 's3p2c5', 's3p2c5plant', 's3p2c5harv', 's3p2c5area', 's3p2c5qharv', 's3p2c5cons', 's3p2c5lives', 's3p2c5lost', 's3p2c5mkt', 's3p2c5sold', 's3p2c5cval', 's3p2c5seed', 's3p2c5sval', 's3p2c6', 's3p2c6plant', 's3p2c6harv', 's3p2c6area', 's3p2c6qharv', 's3p2c6cons', 's3p2c6lives', 's3p2c6lost', 's3p2c6mkt', 's3p2c6sold', 's3p2c6cval', 's3p2c6seed', 's3p2c6sval', 'pc2', 'pc3', 'pc4', 'pc5', 'nyieldc2', 'nyieldc3', 'nyieldc4', 'nyieldc5', 's1p2fert', 's1p2irrig1', 's1p2irrig2', 's1p2irrig3', 's1p2irrig4', 's1p2pest', 's1p2wat1', 's1p2wat2', 's1p2wat3', 's1p2wat4', 's1p2wat5', 's2p2fert', 's2p2irrig1', 's2p2irrig2', 's2p2irrig3', 's2p2irrig4', 's2p2pest', 's2p2wat1', 's2p2wat2', 's2p2wat3', 's2p2wat4', 's2p2wat5', 's3p1fert', 's3p1irrig1', 's3p1irrig2', 's3p1irrig3', 's3p1irrig4', 's3p1pest', 's3p1wat1', 's3p1wat2', 's3p1wat3', 's3p1wat4', 's3p1wat5', 's3p2fert', 's3p2irrig1', 's3p2irrig2', 's3p2irrig3', 's3p2irrig4', 's3p2pest', 's3p2wat1', 's3p2wat2', 's3p2wat3', 's3p2wat4', 's3p2wat5']

In [21]:
# Calculate the percentage of NaN values in each column
na_percentage = (crop_data.isna().mean() * 100)

# Drop columns with more than 80% NaN values
columns_to_drop = na_percentage[na_percentage > 80].index
crop_data = crop_data.drop(columns=columns_to_drop)

print(crop_data)

         hhcode  s1p1c1 s1p1c1plant s1p1c1harv  s1p1c1area  s1p1c1qharv  \
0      10010601    12.0         Jun        Oct         9.0        520.0
1      10010602    41.0         Jul        Sep         9.0        750.0
2      10010603    12.0         Jun        Oct         7.0        310.0
3      10010604    44.0         Jun        Nov        50.0        340.0
4      10010605    44.0         Jun        Nov        55.0       1782.0
...         ...     ...         ...        ...         ...          ...
9592  100090113     2.0     ddjul03        NaN        30.0        400.0
9593  100090114    26.0     16apr03    17nov03        75.0       3600.0
9594  100090115    26.0     ddmar03    ddjul03        50.0       1800.0
9595  100090116    26.0     15feb03    30jul03       100.0       2700.0
9596  100090117     NaN         NaN        NaN         NaN          NaN

      s1p1c1cons  s1p1c1lives  s1p1c1lost  s1p1c1mkt  s1p1c1sold  s1p1c1cval  \
0          300.0          NaN        20.0        NaN       200.0     46325.0
1          370.0          0.0        15.0        NaN         0.0         NaN
2          250.0          0.0        10.0        NaN         0.0         NaN
3          300.0          0.0        40.0        NaN         0.0         NaN
4         1602.0         30.0        50.0        NaN         0.0         NaN
...          ...          ...         ...        ...         ...         ...
9592        50.0          0.0         0.0        2.0       350.0     20000.0
9593       540.0          0.0        90.0        1.0      2970.0     30000.0
9594       900.0          0.0         0.0        2.0       900.0     12600.0
9595       810.0          0.0        40.0        2.0      1850.0     18500.0
9596         NaN          NaN         NaN        NaN         NaN         NaN

     s1p1c1seed s1p1c1sval  s2p1c1 s2p1c1plant s2p1c1harv  s2p1c1area  \
0            26        375     NaN         NaN        NaN         NaN
1            10        170     NaN         NaN        NaN         NaN
2            10        175     NaN         NaN        NaN         NaN
3            16        125     NaN         NaN        NaN         NaN
4            20        125     NaN         NaN        NaN         NaN
...         ...        ...     ...         ...        ...         ...
9592        120         25     NaN         NaN        NaN         NaN
9593         30        150     NaN         NaN        NaN         NaN
9594         10        150    26.0      5sep03    dddec03        50.0
9595         10       1400     4.0     20aug03    20jan04       100.0
9596          .          .     NaN         NaN        NaN         NaN

      s2p1c1qharv  s2p1c1cons  s2p1c1lives  s2p1c1lost  s2p1c1mkt  s2p1c1sold  \
0             NaN         NaN          NaN         NaN        NaN         NaN
1             NaN         NaN          NaN         NaN        NaN         NaN
2             NaN         NaN          NaN         NaN        NaN         NaN
3             NaN         NaN          NaN         NaN        NaN         NaN
4             NaN         NaN          NaN         NaN        NaN         NaN
...           ...         ...          ...         ...        ...         ...
9592          NaN         NaN          NaN         NaN        NaN         NaN
9593          NaN         NaN          NaN         NaN        NaN         NaN
9594       1800.0       900.0          0.0         0.0        1.0       900.0
9595       2700.0       450.0          0.0        45.0        1.0      2205.0
9596          NaN         NaN          NaN         NaN        NaN         NaN

     s2p1c1seed s2p1c1sval   pc1  nyieldc1  s1p1fert  s1p1irrig1  s1p1irrig2  \
0             .          .  44.0    1080.0     150.0         NaN         NaN
1             .          .  44.0     400.0      50.0         NaN         NaN
2             .          .  44.0     325.0       NaN         NaN         NaN
3             .          .  44.0     250.0      25.0         NaN         NaN
4             .          .  44.0     648.0     460.0         NaN         NaN
...         ...        ...   ...       ...       ...         ...         ...
9592          .          .   4.0    1400.0     100.0         NaN         NaN
9593          .          .  26.0    2700.0     250.0         NaN         NaN
9594         10         70   2.0     400.0     150.0         NaN         NaN
9595         10        700  26.0    3600.0      50.0         NaN         NaN
9596          .          .   NaN       NaN       NaN         NaN         NaN

      s1p1irrig3  s1p1irrig4  s1p1pest  s1p1wat1  s1p1wat2  s1p1wat3  \
0            NaN         NaN       NaN       4.0       NaN       NaN
1            NaN         NaN       NaN       4.0       NaN       NaN
2            NaN         NaN       NaN       4.0       NaN       NaN
3            NaN         NaN       0.0       4.0       NaN       NaN
4            NaN         NaN       NaN       4.0       NaN       NaN
...          ...         ...       ...       ...       ...       ...
9592         NaN         NaN       NaN       4.0       NaN       NaN
9593         NaN         NaN       1.0       4.0       NaN       NaN
9594         NaN         NaN       NaN       4.0       NaN       NaN
9595         NaN         NaN       NaN       4.0       NaN       NaN
9596         NaN         NaN       NaN       NaN       NaN       NaN

      s1p1wat4  s1p1wat5  s2p1fert  s2p1irrig1  s2p1irrig2  s2p1irrig3  \
0          NaN       NaN       NaN         NaN         NaN         NaN
1          NaN       NaN       NaN         NaN         NaN         NaN
2          NaN       NaN       NaN         NaN         NaN         NaN
3          NaN       NaN       NaN         NaN         NaN         NaN
4          NaN       NaN     110.0         1.0         NaN         NaN
...        ...       ...       ...         ...         ...         ...
9592       NaN       NaN       NaN         NaN         NaN         NaN
9593       NaN       NaN       NaN         NaN         NaN         NaN
9594       NaN       NaN       NaN         NaN         NaN         NaN
9595       NaN       NaN       NaN         NaN         NaN         NaN
9596       NaN       NaN       NaN         NaN         NaN         NaN

      s2p1irrig4  s2p1pest  s2p1wat1  s2p1wat2  s2p1wat3  s2p1wat4  s2p1wat5  \
0            NaN       NaN       NaN       NaN       NaN       NaN       NaN
1            NaN       NaN       NaN       NaN       NaN       NaN       NaN
2            NaN       NaN       NaN       NaN       NaN       NaN       NaN
3            NaN       NaN       NaN       NaN       NaN       NaN       NaN
4            NaN       2.0       1.0       NaN       NaN       NaN       NaN
...          ...       ...       ...       ...       ...       ...       ...
9592         NaN       NaN       NaN       NaN       NaN       NaN       NaN
9593         NaN       NaN       NaN       NaN       NaN       NaN       NaN
9594         NaN       NaN       NaN       NaN       NaN       NaN       NaN
9595         NaN       NaN       NaN       NaN       NaN       NaN       NaN
9596         NaN       NaN       NaN       NaN       NaN       NaN       NaN

      costkgfert  costkgpest  distsmktkm  distsmkthr  distpmktkm  distpmkthr  \
0          250.0         NaN         2.0         NaN         2.0         NaN
1          250.0         NaN         2.0         NaN         2.0         NaN
2            NaN         NaN         2.0         NaN         2.0         NaN
3          250.0         NaN         1.0         NaN         1.0         NaN
4          250.0         NaN         1.0         NaN         1.0         NaN
...          ...         ...         ...         ...         ...         ...
9592        32.0         NaN         5.0         NaN         5.0         NaN
9593        26.0       360.0         7.0         NaN         7.0         NaN
9594        38.0         NaN        10.0         NaN        10.0         NaN
9595        32.0         NaN         4.0         NaN         4.0         NaN
9596         NaN         NaN        20.0         NaN        20.0         NaN

      transport  cost1crop  cost2crop  cost3crop  cost4crop  cost5crop
0           6.0        0.0     2500.0    12500.0   103950.0        0.0
1           6.0        0.0        0.0   115000.0        0.0        0.0
2           1.0        0.0      500.0     3000.0        0.0        0.0
3           1.0        0.0    49500.0        0.0     3000.0     1200.0
4           1.0        0.0     2500.0        0.0     3000.0        0.0
...         ...        ...        ...        ...        ...        ...
9592        5.0    20000.0     5000.0     1000.0        0.0        0.0
9593        5.0     2500.0        0.0        0.0        0.0        0.0
9594        4.0     3000.0      500.0        0.0        0.0        0.0
9595        1.0        0.0        0.0        0.0        0.0        0.0
9596        4.0        0.0        0.0        0.0        0.0        0.0

[9597 rows x 62 columns]

In [22]:
print(crop_data.columns)

Index(['hhcode', 's1p1c1', 's1p1c1plant', 's1p1c1harv', 's1p1c1area',
       's1p1c1qharv', 's1p1c1cons', 's1p1c1lives', 's1p1c1lost', 's1p1c1mkt',
       's1p1c1sold', 's1p1c1cval', 's1p1c1seed', 's1p1c1sval', 's2p1c1',
       's2p1c1plant', 's2p1c1harv', 's2p1c1area', 's2p1c1qharv', 's2p1c1cons',
       's2p1c1lives', 's2p1c1lost', 's2p1c1mkt', 's2p1c1sold', 's2p1c1seed',
       's2p1c1sval', 'pc1', 'nyieldc1', 's1p1fert', 's1p1irrig1', 's1p1irrig2',
       's1p1irrig3', 's1p1irrig4', 's1p1pest', 's1p1wat1', 's1p1wat2',
       's1p1wat3', 's1p1wat4', 's1p1wat5', 's2p1fert', 's2p1irrig1',
       's2p1irrig2', 's2p1irrig3', 's2p1irrig4', 's2p1pest', 's2p1wat1',
       's2p1wat2', 's2p1wat3', 's2p1wat4', 's2p1wat5', 'costkgfert',
       'costkgpest', 'distsmktkm', 'distsmkthr', 'distpmktkm', 'distpmkthr',
       'transport', 'cost1crop', 'cost2crop', 'cost3crop', 'cost4crop',
       'cost5crop'],
      dtype='object')

In [23]:
# Create an empty dataframe, crop_features to contain selected tenure features
crop_features = pd.DataFrame()
crop_features = crop_data

In [24]:
cat_cols = crop_features.columns

# Iterate through each categorical column in the DataFrame
for col in cat_cols:
    # Print the counts of unique values in the current column, including NaN values
    print(crop_features[col].value_counts(dropna=False))

10010601     1
60250915     1
60251002     1
60251003     1
60251004     1
            ..
30080755     1
30080756     1
30080757     1
30080758     1
100090117    1
Name: hhcode, Length: 9597, dtype: int64
NaN     2489
26.0    2419
27.0    1168
44.0     502
54.0     452
6.0      389
9.0      259
14.0     208
22.0     195
4.0      185
56.0     166
10.0     130
53.0      95
12.0      91
2.0       87
39.0      87
55.0      74
13.0      68
28.0      61
38.0      55
30.0      42
11.0      41
50.0      32
37.0      30
48.0      29
46.0      26
7.0       24
25.0      19
34.0      16
29.0      15
45.0      13
41.0      13
36.0      11
8.0       10
3.0       10
19.0       9
52.0       9
21.0       9
35.0       7
32.0       6
23.0       6
5.0        5
17.0       4
18.0       4
16.0       4
15.0       4
43.0       3
1.0        3
31.0       3
49.0       2
20.0       2
33.0       2
24.0       2
47.0       1
51.0       1
Name: s1p1c1, dtype: int64
-999         1213
1-Jun         885
0             635
-99           459
NaN           422
             ...
3/01/03         1
17/12/02        1
23/11/02        1
14Oct2001       1
16apr03         1
Name: s1p1c1plant, Length: 594, dtype: int64
-999              1167
30-Sep             885
0                  635
-99                593
NaN                456
                  ...
oct-mar              1
nov early            1
nov from began       1
feb to oct           1
wkjul03              1
Name: s1p1c1harv, Length: 668, dtype: int64
NaN           2683
100.000000    1298
50.000000     1031
60.000000      476
40.000000      393
              ...
69.790001        1
36.340000        1
57.259998        1
61.110001        1
17.900000        1
Name: s1p1c1area, Length: 440, dtype: int64
NaN        2508
1000.0      262
500.0       252
1500.0      230
300.0       229
           ...
192.0         1
17600.0       1
31262.0       1
26067.0       1
8800.0        1
Name: s1p1c1qharv, Length: 848, dtype: int64
NaN      2890
0.0       891
100.0     453
200.0     345
500.0     326
         ...
29.5        1
264.0       1
21.0        1
167.0       1
189.0       1
Name: s1p1c1cons, Length: 537, dtype: int64
NaN        4642
0.0        4144
100.0        98
50.0         68
200.0        35
           ...
14000.0       1
16.0          1
1400.0        1
340.0         1
31500.0       1
Name: s1p1c1lives, Length: 136, dtype: int64
NaN       4064
0.0       3837
100.0      207
50.0       199
20.0       139
          ...
8.0          1
960.0        1
96.0         1
720.0        1
2250.0       1
Name: s1p1c1lost, Length: 183, dtype: int64
NaN    3438
2.0    2574
0.0    2256
1.0    1054
3.0     244
4.0      31
Name: s1p1c1mkt, dtype: int64
NaN       2774
0.0       2749
200.0      188
500.0      179
100.0      167
          ...
1812.5       1
2536.0       1
592.0        1
1638.0       1
5635.0       1
Name: s1p1c1sold, Length: 778, dtype: int64
NaN          5586
300000.0       83
60000.0        70
1000000.0      58
20000.0        57
             ...
8510.0          1
6640.0          1
15900.0         1
73040.0         1
35200.0         1
Name: s1p1c1cval, Length: 1156, dtype: int64
.              2498
0               949
20              608
10              589
50              415
               ...
6.400000095       1
64.80000305       1
5150              1
1700              1
70000             1
Name: s1p1c1seed, Length: 303, dtype: int64
.         2656
0         1686
100        253
200        219
300        215
          ...
81000        1
98000        1
68000        1
156000       1
76           1
Name: s1p1c1sval, Length: 487, dtype: int64
NaN     5536
26.0    1050
27.0     567
22.0     333
4.0      209
44.0     196
56.0     187
39.0     180
14.0     180
54.0     178
51.0     174
53.0      81
3.0       72
38.0      70
6.0       61
13.0      57
10.0      51
2.0       50
30.0      35
41.0      34
33.0      31
50.0      28
12.0      25
34.0      24
25.0      23
29.0      17
19.0      16
16.0      13
48.0      12
37.0      11
49.0      11
11.0      10
45.0       8
42.0       7
7.0        7
52.0       6
28.0       5
36.0       5
55.0       5
5.0        4
17.0       4
15.0       3
24.0       3
46.0       3
18.0       3
35.0       2
1.0        2
47.0       2
40.0       2
43.0       1
32.0       1
21.0       1
20.0       1
Name: s2p1c1, dtype: int64
NaN           3161
0              864
-99            825
-999           813
mjun2002       424
              ...
d28jui2002       1
01jun04          1
01feb04          1
03feb04          1
20aug03          1
Name: s2p1c1plant, Length: 546, dtype: int64
NaN           3159
-99            872
0              864
-999           795
moct2002       476
              ...
14-Nov-03        1
d31oct2002       1
9-Jan-03         1
d12nov2002       1
01jan04          1
Name: s2p1c1harv, Length: 505, dtype: int64
NaN       6516
100.00     609
50.00      483
25.00      168
0.00       146
          ...
31.60        1
29.41        1
24.24        1
6.26         1
17.50        1
Name: s2p1c1area, Length: 285, dtype: int64
NaN       4954
0.0       1520
500.0      189
300.0      177
200.0      163
          ...
730.0        1
111.0        1
170.0        1
245.0        1
1880.0       1
Name: s2p1c1qharv, Length: 356, dtype: int64
NaN       4317
0.0       2212
100.0      268
200.0      264
500.0      207
          ...
2700.0       1
168.0        1
54.0         1
197.0        1
285.0        1
Name: s2p1c1cons, Length: 243, dtype: int64
NaN        5330
0.0        3478
100.0       137
50.0         95
200.0        44
           ...
16800.0       1
70000.0       1
4375.0        1
1925.0        1
35.0          1
Name: s2p1c1lives, Length: 141, dtype: int64
NaN        4998
0.0        2881
500.0       114
50.0         99
1000.0       95
           ...
840.0         1
35000.0       1
370.0         1
245.0         1
26.0          1
Name: s2p1c1lost, Length: 167, dtype: int64
NaN    5734
0.0    1747
2.0    1253
1.0     568
3.0     285
4.0      10
Name: s2p1c1mkt, dtype: int64
NaN              5235
0.000000         2359
200.000000        169
100.000000        142
300.000000        103
                 ...
3400.000000         1
2880.000000         1
333.299988          1
522000.000000       1
2205.000000         1
Name: s2p1c1sold, Length: 398, dtype: int64
.        4164
0        1698
10        253
20        228
50        214
         ...
6.25        1
210         1
420         1
260         1
18000       1
Name: s2p1c1seed, Length: 245, dtype: int64
.       4165
0       1953
200      203
150      164
-99      158
        ...
3.4        1
1.55       1
2.26       1
1.35       1
700        1
Name: s2p1c1sval, Length: 359, dtype: int64
26.0    2734
27.0    1589
44.0     668
54.0     539
22.0     526
6.0      443
NaN      414
4.0      286
14.0     285
9.0      197
12.0     167
56.0     153
0.0      141
51.0     137
39.0     127
10.0     126
13.0     101
48.0      94
53.0      80
2.0       72
38.0      56
55.0      54
3.0       52
28.0      49
50.0      49
30.0      47
41.0      45
11.0      44
37.0      41
29.0      34
7.0       31
34.0      25
25.0      24
46.0      22
16.0      16
52.0      14
36.0      13
45.0      10
8.0        9
24.0       9
49.0       7
33.0       7
21.0       6
1.0        6
18.0       6
23.0       6
5.0        6
19.0       5
32.0       5
31.0       5
17.0       4
15.0       4
43.0       3
35.0       3
20.0       1
Name: pc1, dtype: int64
1000.0    717
800.0     522
NaN       496
600.0     376
500.0     373
         ...
812.0       1
233.0       1
367.0       1
511.0       1
1180.0      1
Name: nyieldc1, Length: 867, dtype: int64
NaN       3596
0.0       2034
100.0      514
50.0       424
150.0      374
          ...
4700.0       1
880.0        1
353.0        1
915.0        1
156.0        1
Name: s1p1fert, Length: 279, dtype: int64
NaN    6140
0.0    2145
1.0     926
4.0     233
2.0     108
3.0      45
Name: s1p1irrig1, dtype: int64
NaN    6367
0.0    3145
2.0      73
4.0       7
3.0       4
1.0       1
Name: s1p1irrig2, dtype: int64
NaN    6419
0.0    3128
3.0      50
Name: s1p1irrig3, dtype: int64
NaN    6315
0.0    3118
4.0     163
1.0       1
Name: s1p1irrig4, dtype: int64
NaN        4098
0.00       3359
1.00        281
2.00        215
5.00        148
           ...
3.75          1
5.57          1
1.30          1
1.14          1
1100.00       1
Name: s1p1pest, Length: 178, dtype: int64
NaN    4102
4.0    2379
0.0    1774
1.0    1061
2.0     158
3.0      78
5.0      45
Name: s1p1wat1, dtype: int64
NaN    6303
0.0    3127
2.0      91
4.0      52
1.0      16
5.0       6
3.0       2
Name: s1p1wat2, dtype: int64
NaN    6371
0.0    3147
3.0      72
4.0       5
1.0       1
5.0       1
Name: s1p1wat3, dtype: int64
NaN    4170
4.0    3171
0.0    2207
1.0      49
Name: s1p1wat4, dtype: int64
NaN    6347
0.0    3152
5.0      57
4.0      41
Name: s1p1wat5, dtype: int64
NaN      4835
0.0      2807
100.0     294
50.0      179
200.0     177
         ...
122.0       1
525.0       1
625.0       1
240.0       1
160.0       1
Name: s2p1fert, Length: 186, dtype: int64
NaN    6177
0.0    2534
1.0     758
4.0      69
2.0      40
3.0      17
5.0       2
Name: s2p1irrig1, dtype: int64
NaN    6286
0.0    3262
2.0      39
4.0       6
3.0       3
1.0       1
Name: s2p1irrig2, dtype: int64
NaN    6311
0.0    3265
3.0      21
Name: s2p1irrig3, dtype: int64
NaN    6267
0.0    3265
4.0      64
5.0       1
Name: s2p1irrig4, dtype: int64
NaN       4993
0.0       3478
1.0        251
2.0        148
0.5        113
          ...
600.0        1
1900.0       1
2100.0       1
5344.0       1
70.0         1
Name: s2p1pest, Length: 117, dtype: int64
NaN    5791
0.0    2388
1.0     813
4.0     485
3.0      53
2.0      46
5.0      21
Name: s2p1wat1, dtype: int64
NaN    6258
0.0    3249
2.0      56
1.0      18
4.0      12
5.0       3
3.0       1
Name: s2p1wat2, dtype: int64
NaN    6302
0.0    3268
3.0      23
1.0       4
Name: s2p1wat3, dtype: int64
NaN    4966
0.0    2574
4.0    1405
1.0     651
5.0       1
Name: s2p1wat4, dtype: int64

NaN    6308
0.0    3273
5.0      15
1.0       1
Name: s2p1wat5, dtype: int64
NaN       3940
0.00       916
250.00     535
200.00     224
170.00     219
          ...
2.26         1
1.36         1
8.90         1
2.04         1
99.00        1
Name: costkgfert, Length: 400, dtype: int64
NaN       5034
0.0       1640
2000.0     130
3000.0     126
1000.0     122
          ...
1110.0       1
4270.0       1
3150.0       1
3900.0       1
463.0        1
Name: costkgpest, Length: 416, dtype: int64
0.0      1138
5.0       795
1.0       729
3.0       667
2.0       627
         ...
185.0       1
94.0        1
160.0       1
104.0       1
275.0       1
Name: distsmktkm, Length: 171, dtype: int64
NaN       5457
0.000     1844
1.000      480
0.500      407
2.000      256
          ...
0.820        1
11.000       1
2.580        1
25.000       1
0.125        1
Name: distsmkthr, Length: 113, dtype: int64
0.0      975
NaN      808
5.0      801
1.0      754
2.0      626
        ...
290.0      1
65.0       1
420.0      1
400.0      1
56.0       1
Name: distpmktkm, Length: 172, dtype: int64
NaN         5332
0.000000    1768
1.000000     522
0.500000     438
2.000000     292
            ...
0.062500       1
0.416667       1
0.580000       1
1.700000       1
2.750000       1
Name: distpmkthr, Length: 113, dtype: int64
4.0     2523
1.0     2481
NaN     1380
3.0     1125
5.0      956
0.0      808
2.0      258
6.0       64
12.0       1
9.0        1
Name: transport, dtype: int64
0.0         3222
NaN         1741
10000.0      224
5000.0       212
20000.0      179
            ...
6750.0         1
225000.0       1
181000.0       1
720000.0       1
1080.0         1
Name: cost1crop, Length: 459, dtype: int64
0.0        4206
NaN        2299
1000.0      217
2000.0      173
5000.0      136
           ...
38100.0       1
86000.0       1
7300.0        1
19200.0       1
210.0         1
Name: cost2crop, Length: 366, dtype: int64
0.0        4970
NaN        2611
1000.0      157
10000.0     117
20000.0     110
           ...
1300.0        1
630.0         1
32500.0       1
61000.0       1
140.0         1
Name: cost3crop, Length: 231, dtype: int64
0.00         5085
NaN          3217
1000.00        69
10000.00       49
100000.00      48
             ...
117.50          1
293.00          1
1.25            1
20.25           1
7680.00         1
Name: cost4crop, Length: 277, dtype: int64
0.0        5677
NaN        3763
50000.0      12
20000.0      10
10000.0       6
           ...
125.0         1
47.0          1
282.0         1
270.0         1
360.0         1
Name: cost5crop, Length: 85, dtype: int64

In [25]:
cat_crop_cols = ['s1p1c1', 's2p1c1', 'pc1']
for col in cat_crop_cols:
    # Convert odd values not within categotical range to 'Other', 56
    crop_features.loc[:, col] = crop_features[col].apply(lambda x: x if (x in range(1, 57) or pd.isna(x)) else 56)

cat_mkt_col = ['s1p1c1mkt', 's2p1c1mkt']
for col in cat_crop_cols:
    # Convert odd values not within categotical range to 'Other', 7
    crop_features.loc[:, col] = crop_features[col].apply(lambda x: x if (x in range(1, 8) or pd.isna(x)) else 7)
    
crop_features.loc[:, 'transport'] = crop_features['transport'].apply(lambda x: x if (x in range(1, 7) or pd.isna(x)) else 6)

cat_wat_col = ['s1p1wat1', 's1p1wat2', 's1p1wat3', 's1p1wat4', 's1p1wat5']
for col in cat_crop_cols:
    # Convert odd values not within categotical range to 'Other', 5
    crop_features.loc[:, col] = crop_features[col].apply(lambda x: x if (x in range(1, 6) or pd.isna(x)) else 5)

cat_irrig_col = ['s1p1irrig1', 's1p1irrig2', 's1p1irrig3', 's1p1irrig4']
for col in cat_crop_cols:
    # Convert odd values not within categotical range to 'Other', 4
    crop_features.loc[:, col] = crop_features[col].apply(lambda x: x if (x in range(1, 5) or pd.isna(x)) else 4)

## Section 7- Climate Adaptation

In [26]:
# Filter raw data to contain columns needed
climate_data = raw_data[section_7_col]
# Print tenure_data
print(climate_data)

         hhcode  farmingexperience  ad711  ad712  ad713  ad714  ad715  ad716  \
0      10010601                NaN    0.0    0.0    0.0    0.0    0.0    0.0
1      10010602                NaN    0.0    0.0    0.0    0.0    0.0    0.0
2      10010603                NaN    0.0    0.0    0.0    0.0    0.0    0.0
3      10010604                NaN    0.0    0.0    0.0    0.0    0.0    0.0
4      10010605                NaN    0.0    0.0    0.0    0.0    0.0    0.0
...         ...                ...    ...    ...    ...    ...    ...    ...
9592  100090113               12.0    NaN    NaN    NaN    1.0    NaN    NaN
9593  100090114                4.0    NaN    NaN    NaN    NaN    NaN    NaN
9594  100090115               20.0    NaN    NaN    NaN    NaN    NaN    NaN
9595  100090116                0.0    NaN    1.0    NaN    NaN    NaN    NaN
9596  100090117               12.0    NaN    NaN    NaN    NaN    NaN    NaN

      ad717  ad718  ad719  ad7110  ad7111  ad7112  ad7113  ad7114  ad7115  \
0       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       1.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN     NaN     1.0     NaN     NaN     NaN     NaN

      ad7116  ad7117  ad7118  ad7119  ad7120 ad7121  ad7122  ad7123  ad7124  \
0        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
1        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
2        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
3        0.0     0.0     1.0     0.0     1.0      1     0.0     0.0     0.0
4        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...    ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN      1     NaN     NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN

      ad7125  ad721  ad722  ad723  ad724  ad725  ad726  ad727  ad728  ad729  \
0        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9593     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN

      ad7210 ad7211  ad7212  ad731  ad732  ad733  ad734  ad735  ad736  ad741  \
0        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0      1     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN    NaN     NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN    NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN    NaN     1.0    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595     NaN    NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN    NaN     NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN

      ad742  ad743  ad744  ad745  ad746  ad747  ad751  ad752  ad753  ad754  \
0       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592    1.0    NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
9593    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9596    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad755  ad756  ad757  ad758  ad759  ad7510  ad7511  ad7512  ad7513  \
0       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
2       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...    ...    ...     ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN

      ad7514  ad7515  ad7516  ad7517  ad7518  ad7519  ad7520 ad7521  ad7522  \
0        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
3        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
...      ...     ...     ...     ...     ...     ...     ...    ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN      1     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN

      ad7523  ad7524  ad7525  ad761  ad762  ad763  ad764  ad765  ad766  ad767  \
0        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad768  ad769  ad7610  ad7611  ad7612  ad7613  ad7614  ad7615  ad7616  \
0       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...     ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN
9594    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    1.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7617  ad7618  ad7619  ad7620  ad7621  ad7622  ad7623 ad7624  ad7625  \
0        0.0     1.0     0.0     1.0     0.0     0.0     0.0      0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
2        0.0     1.0     0.0     1.0     0.0     0.0     0.0      0     0.0
3        0.0     1.0     0.0     1.0     1.0     0.0     0.0      0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
...      ...     ...     ...     ...     ...     ...     ...    ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     NaN

     clmadaptstrategy1 clmadaptstrategy2 clmadaptstrategy3 constraint1  \
0                  NaN               NaN               NaN         NaN
1                  NaN               NaN               NaN         NaN
2                  NaN               NaN               NaN         NaN
3                  NaN               NaN               NaN         NaN
4                  NaN               NaN               NaN         NaN
...                ...               ...               ...         ...
9592               NaN               NaN               NaN         NaN
9593               NaN               NaN               NaN         NaN
9594               NaN               NaN               NaN         NaN
9595               NaN               NaN               NaN         NaN
9596               NaN               NaN               NaN         NaN

     constraint2 constraint3 longtermtempshifts1 longtermtempshifts2  \
0            NaN         NaN                 NaN                 NaN
1            NaN         NaN                 NaN                 NaN
2            NaN         NaN                 NaN                 NaN
3            NaN         NaN                 NaN                 NaN
4            NaN         NaN                 NaN                 NaN
...          ...         ...                 ...                 ...
9592         NaN         NaN                 NaN                 NaN
9593         NaN         NaN                 NaN                 NaN
9594         NaN         NaN                 NaN                 NaN
9595         NaN         NaN                 NaN                 NaN
9596         NaN         NaN                 NaN                 NaN

     longtermtempshifts3 longtermrainfallshifts1 longtermrainfallshifts2  \
0                    NaN                     NaN                     NaN
1                    NaN                     NaN                     NaN
2                    NaN                     NaN                     NaN
3                    NaN                     NaN                     NaN
4                    NaN                     NaN                     NaN
...                  ...                     ...                     ...
9592                 NaN                     NaN                     NaN
9593                 NaN                     NaN                     NaN
9594                 NaN                     NaN                     NaN
9595                 NaN                     NaN                     NaN
9596                 NaN                     NaN                     NaN

      longtermrainfallshifts3 adjtempshifts1_1 adjtempshifts2_1  \
0                         NaN              NaN              NaN
1                         NaN              NaN              NaN
2                         NaN              NaN              NaN
3                         NaN              NaN              NaN
4                         NaN              NaN              NaN
...                       ...              ...              ...
9592                      NaN              NaN              NaN
9593                      NaN              NaN              NaN
9594                      NaN              NaN              NaN
9595                      NaN              NaN              NaN
9596                      NaN              NaN              NaN

     adjtempshifts3_1 adjrainfallshifts1_1 adjrainfallshifts2_1  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN
...               ...                  ...                  ...
9592              NaN                  NaN                  NaN
9593              NaN                  NaN                  NaN
9594              NaN                  NaN                  NaN
9595              NaN                  NaN                  NaN
9596              NaN                  NaN                  NaN

     adjrainfallshifts3_1
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
9592                  NaN
9593                  NaN
9594                  NaN
9595                  NaN
9596                  NaN

[9597 rows x 120 columns]

In [27]:
# Calculate the percentage of NaN values in each column
na_percentage = (climate_data.isna().mean() * 100)

# Drop columns with more than 80% NaN values
columns_to_drop = na_percentage[na_percentage > 80].index
climate_data = climate_data.drop(columns=columns_to_drop)

print(climate_data)

         hhcode  farmingexperience  ad711  ad712  ad713  ad714  ad715  ad716  \
0      10010601                NaN    0.0    0.0    0.0    0.0    0.0    0.0
1      10010602                NaN    0.0    0.0    0.0    0.0    0.0    0.0
2      10010603                NaN    0.0    0.0    0.0    0.0    0.0    0.0
3      10010604                NaN    0.0    0.0    0.0    0.0    0.0    0.0
4      10010605                NaN    0.0    0.0    0.0    0.0    0.0    0.0
...         ...                ...    ...    ...    ...    ...    ...    ...
9592  100090113               12.0    NaN    NaN    NaN    1.0    NaN    NaN
9593  100090114                4.0    NaN    NaN    NaN    NaN    NaN    NaN
9594  100090115               20.0    NaN    NaN    NaN    NaN    NaN    NaN
9595  100090116                0.0    NaN    1.0    NaN    NaN    NaN    NaN
9596  100090117               12.0    NaN    NaN    NaN    NaN    NaN    NaN

      ad717  ad718  ad719  ad7110  ad7111  ad7112  ad7113  ad7114  ad7115  \
0       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       1.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN     NaN     1.0     NaN     NaN     NaN     NaN

      ad7116  ad7117  ad7118  ad7119  ad7120 ad7121  ad7122  ad7123  ad7124  \
0        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
1        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
2        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
3        0.0     0.0     1.0     0.0     1.0      1     0.0     0.0     0.0
4        0.0     0.0     1.0     0.0     1.0      0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...    ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN      1     NaN     NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN      .     NaN     NaN     NaN

      ad7125  ad721  ad722  ad723  ad724  ad725  ad726  ad727  ad728  ad729  \
0        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9593     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN

      ad7210 ad7211  ad7212  ad731  ad732  ad733  ad734  ad735  ad736  ad741  \
0        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0      1     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0      0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN    NaN     NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN    NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN    NaN     1.0    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595     NaN    NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN    NaN     NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN

      ad742  ad743  ad744  ad745  ad746  ad747  ad751  ad752  ad753  ad754  \
0       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592    1.0    NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
9593    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9596    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad755  ad756  ad757  ad758  ad759  ad7510  ad7511  ad7512  ad7513  \
0       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
2       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...    ...    ...     ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN

      ad7514  ad7515  ad7516  ad7517  ad7518  ad7519  ad7520 ad7521  ad7522  \
0        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
3        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
...      ...     ...     ...     ...     ...     ...     ...    ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN      1     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN      .     NaN

      ad7523  ad7524  ad7525  ad761  ad762  ad763  ad764  ad765  ad766  ad767  \
0        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad768  ad769  ad7610  ad7611  ad7612  ad7613  ad7614  ad7615  ad7616  \
0       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...     ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN
9594    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    1.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7617  ad7618  ad7619  ad7620  ad7621  ad7622  ad7623 ad7624  ad7625
0        0.0     1.0     0.0     1.0     0.0     0.0     0.0      0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
2        0.0     1.0     0.0     1.0     0.0     0.0     0.0      0     0.0
3        0.0     1.0     0.0     1.0     1.0     0.0     0.0      0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0      0     0.0
...      ...     ...     ...     ...     ...     ...     ...    ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     1.0
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN     NaN

[9597 rows x 102 columns]

In [28]:
# Calculate sum of missing data in each column
with pd.option_context('display.max_rows', None):
    print(climate_data.isna().sum())

hhcode                  0
farmingexperience    6746
ad711                3098
ad712                3077
ad713                3126
ad714                3113
ad715                3187
ad716                3218
ad717                3206
ad718                3201
ad719                3201
ad7110               3216
ad7111               3169
ad7112               3187
ad7113               3218
ad7114               3108
ad7115               3216
ad7116               3215
ad7117               3191
ad7118               3117
ad7119               3216
ad7120               3128
ad7121               2303
ad7122               3216
ad7123               3218
ad7124               3124
ad7125               3088
ad721                3160
ad722                3212
ad723                3070
ad724                2753
ad725                3202
ad726                3160
ad727                3188
ad728                3201
ad729                3203
ad7210               3204
ad7211               3010
ad7212               3153
ad731                2849
ad732                3178
ad733                3079
ad734                3216
ad735                3000
ad736                3199
ad741                3182
ad742                2766
ad743                3076
ad744                3165
ad745                3221
ad746                3094
ad747                3211
ad751                3123
ad752                3073
ad753                3179
ad754                3160
ad755                3199
ad756                3203
ad757                3201
ad758                3198
ad759                3199
ad7510               3204
ad7511               3175
ad7512               3200
ad7513               3205
ad7514               3160
ad7515               3205
ad7516               3204
ad7517               3183
ad7518               3151
ad7519               3205
ad7520               3158
ad7521               2303
ad7522               3205
ad7523               3206
ad7524               3168
ad7525               2878
ad761                3054
ad762                3055
ad763                3137
ad764                3072
ad765                3183
ad766                3192
ad767                3188
ad768                3185
ad769                3174
ad7610               3191
ad7611               3148
ad7612               3182
ad7613               3194
ad7614               3061
ad7615               3192
ad7616               3194
ad7617               3186
ad7618               3025
ad7619               3192
ad7620               3083
ad7621               3121
ad7622               3194
ad7623               3196
ad7624               3070
ad7625               3010
dtype: int64

In [29]:
# Get value_counts of the binary columns to spot odd values not 1/0/1.0/0.0
for col in climate_data.columns[2:]:
    print(climate_data[col].value_counts(dropna=False))

0.0    5344
NaN    3098
1.0    1155
Name: ad711, dtype: int64
0.0    6158
NaN    3077
1.0     362
Name: ad712, dtype: int64
0.0    6174
NaN    3126
1.0     297
Name: ad713, dtype: int64
0.0    5827
NaN    3113
1.0     657
Name: ad714, dtype: int64
0.0    5421
NaN    3187
1.0     989
Name: ad715, dtype: int64
0.0    6347
NaN    3218
1.0      32
Name: ad716, dtype: int64
0.0    6222
NaN    3206
1.0     169
Name: ad717, dtype: int64
0.0    6284
NaN    3201
1.0     112
Name: ad718, dtype: int64
0.0    6337
NaN    3201
1.0      59
Name: ad719, dtype: int64
0.0    6378
NaN    3216
1.0       3
Name: ad7110, dtype: int64
0.0    6284
NaN    3169
1.0     144
Name: ad7111, dtype: int64
0.0    5621
NaN    3187
1.0     789
Name: ad7112, dtype: int64
0.0    6344
NaN    3218
1.0      35
Name: ad7113, dtype: int64
0.0    6030
NaN    3108
1.0     459
Name: ad7114, dtype: int64
0.0    6368
NaN    3216
1.0      13
Name: ad7115, dtype: int64
0.0    6370
NaN    3215
1.0      12
Name: ad7116, dtype: int64
0.0    6137
NaN    3191
1.0     269
Name: ad7117, dtype: int64
0.0    5698
NaN    3117
1.0     782
Name: ad7118, dtype: int64
0.0    6354
NaN    3216
1.0      27
Name: ad7119, dtype: int64
0.0    5749
NaN    3128
1.0     720
Name: ad7120, dtype: int64
0                5355
NaN              2303
1                1154
.                 783
intercropping       1
no change           1
Name: ad7121, dtype: int64
0.0    6157
NaN    3216
1.0     224
Name: ad7122, dtype: int64
0.0    6188
NaN    3218
1.0     191
Name: ad7123, dtype: int64
0.0    5559
NaN    3124
1.0     914
Name: ad7124, dtype: int64
0.0     4848
NaN     3088
1.0     1660
10.0       1
Name: ad7125, dtype: int64
0.0    6009
NaN    3160
1.0     428
Name: ad721, dtype: int64
0.0    6032
NaN    3212
1.0     353
Name: ad722, dtype: int64
0.0    6081
NaN    3070
1.0     446
Name: ad723, dtype: int64
0.0    5018
NaN    2753
1.0    1826
Name: ad724, dtype: int64
0.0    6153
NaN    3202
1.0     242
Name: ad725, dtype: int64
0.0    6066
NaN    3160
1.0     371
Name: ad726, dtype: int64
0.0    6270
NaN    3188
1.0     139
Name: ad727, dtype: int64
0.0    6252
NaN    3201
1.0     144
Name: ad728, dtype: int64
0.0    6343
NaN    3203
1.0      51
Name: ad729, dtype: int64
0.0    6315
NaN    3204
1.0      78
Name: ad7210, dtype: int64
0                         5007
NaN                       3010
1                         1467
.                          111
10                           1
1(diseases &predators)       1
Name: ad7211, dtype: int64
0.0    3343
NaN    3153
1.0    3101
Name: ad7212, dtype: int64
 1.0     3669
 0.0     3078
 NaN     2849
-99.0       1
Name: ad731, dtype: int64
 0.0     6030
 NaN     3178
 1.0      388
-99.0       1
Name: ad732, dtype: int64
 0.0     5951
 NaN     3079
 1.0      566
-99.0       1
Name: ad733, dtype: int64
 0.0     5980
 NaN     3216
 1.0      400
-99.0       1
Name: ad734, dtype: int64
 0.0     5589
 NaN     3000
 1.0     1007
-99.0       1
Name: ad735, dtype: int64
 0.0     6070
 NaN     3199
 1.0      327
-99.0       1
Name: ad736, dtype: int64
 0.0     5979
 NaN     3182
 1.0      435
-99.0       1
Name: ad741, dtype: int64
 1.0     3789
 0.0     3041
 NaN     2766
-99.0       1
Name: ad742, dtype: int64
 0.0     4313
 NaN     3076
 1.0     2207
-99.0       1
Name: ad743, dtype: int64
 0.0     5160
 NaN     3165
 1.0     1271
-99.0       1
Name: ad744, dtype: int64
 0.0     6062
 NaN     3221
 1.0      313
-99.0       1
Name: ad745, dtype: int64
 0.0     5542
 NaN     3094
 1.0      960
-99.0       1
Name: ad746, dtype: int64
 0.0     6194
 NaN     3211
 1.0      191
-99.0       1
Name: ad747, dtype: int64
 0.0     5944
 NaN     3123
 1.0      528
-99.0       2
Name: ad751, dtype: int64
 0.0     6289
 NaN     3073
 1.0      233
-99.0       2
Name: ad752, dtype: int64
 0.0     6319
 NaN     3179
 1.0       96
-99.0       2
 3.0        1
Name: ad753, dtype: int64
 0.0     5942
 NaN     3160
 1.0      493
-99.0       2
Name: ad754, dtype: int64
 0.0     5464
 NaN     3199
 1.0      932
-99.0       2
Name: ad755, dtype: int64
 0.0     6378
 NaN     3203
 1.0       14
-99.0       2
Name: ad756, dtype: int64
 0.0     6271
 NaN     3201
 1.0      123
-99.0       2
Name: ad757, dtype: int64
 0.0     6326
 NaN     3198
 1.0       71
-99.0       2
Name: ad758, dtype: int64
 0.0     6374
 NaN     3199
 1.0       22
-99.0       2
Name: ad759, dtype: int64
 0.0     6381
 NaN     3204
 1.0       10
-99.0       2
Name: ad7510, dtype: int64
 0.0     6338
 NaN     3175
 1.0       82
-99.0       2
Name: ad7511, dtype: int64
 0.0     5786
 NaN     3200
 1.0      609
-99.0       2
Name: ad7512, dtype: int64
 0.0     6338
 NaN     3205
 1.0       52
-99.0       2
Name: ad7513, dtype: int64
 0.0     6127
 NaN     3160
 1.0      308
-99.0       2
Name: ad7514, dtype: int64
 0.0     6381
 NaN     3205
 1.0        9
-99.0       2
Name: ad7515, dtype: int64
 0.0     6358
 NaN     3204
 1.0       33
-99.0       2
Name: ad7516, dtype: int64
 0.0     6260
 NaN     3183
 1.0      152
-99.0       2
Name: ad7517, dtype: int64
 0.0     5879
 NaN     3151
 1.0      564
-99.0       2
 18.0       1
Name: ad7518, dtype: int64
 0.0     6367
 NaN     3205
 1.0       23
-99.0       2
Name: ad7519, dtype: int64
 0.0     5904
 NaN     3158
 1.0      533
-99.0       2
Name: ad7520, dtype: int64
0                5447
NaN              2303
1                1117
.                 727
-99                 2
intercropping       1
Name: ad7521, dtype: int64
 0.0     6113
 NaN     3205
 1.0      277
-99.0       2
Name: ad7522, dtype: int64
 0.0     6236
 NaN     3206
 1.0      153
-99.0       2
Name: ad7523, dtype: int64
 0.0     5861
 NaN     3168
 1.0      566
-99.0       2
Name: ad7524, dtype: int64
 0.0     3947
 NaN     2878
 1.0     2770
-99.0       2
Name: ad7525, dtype: int64
 0.0     5133
 NaN     3054
 1.0     1409
-99.0       1
Name: ad761, dtype: int64
 0.0     6178
 NaN     3055
 1.0      363
-99.0       1
Name: ad762, dtype: int64
 0.0     6231
 NaN     3137
 1.0      228
-99.0       1
Name: ad763, dtype: int64
 0.0     5965
 NaN     3072
 1.0      559
-99.0       1
Name: ad764, dtype: int64
 0.0     5433
 NaN     3183
 1.0      980
-99.0       1
Name: ad765, dtype: int64
 0.0     6354
 NaN     3192
 1.0       50
-99.0       1
Name: ad766, dtype: int64
 0.0     6141
 NaN     3188
 1.0      267
-99.0       1
Name: ad767, dtype: int64
 0.0     6309
 NaN     3185
 1.0      102
-99.0       1
Name: ad768, dtype: int64
 0.0     6379
 NaN     3174
 1.0       43
-99.0       1
Name: ad769, dtype: int64
 0.0     6391
 NaN     3191
 1.0       14
-99.0       1
Name: ad7610, dtype: int64
 0.0     6351
 NaN     3148
 1.0       97
-99.0       1
Name: ad7611, dtype: int64
 0.0     6130
 NaN     3182
 1.0      284
-99.0       1
Name: ad7612, dtype: int64
 0.0     6352
 NaN     3194
 1.0       50
-99.0       1
Name: ad7613, dtype: int64
 0.0     6087
 NaN     3061
 1.0      448
-99.0       1
Name: ad7614, dtype: int64
 0.0     6337
 NaN     3192
 1.0       67
-99.0       1
Name: ad7615, dtype: int64
 0.0     6366
 NaN     3194
 1.0       36
-99.0       1
Name: ad7616, dtype: int64
 0.0     6213
 NaN     3186
 1.0      197
-99.0       1
Name: ad7617, dtype: int64
 0.0     5849
 NaN     3025
 1.0      722
-99.0       1
Name: ad7618, dtype: int64
 0.0     6371
 NaN     3192
 1.0       33
-99.0       1
Name: ad7619, dtype: int64
 0.0     5832
 NaN     3083
 1.0      681
-99.0       1
Name: ad7620, dtype: int64
 0.0     5799
 NaN     3121
 1.0      676
-99.0       1
Name: ad7621, dtype: int64
 0.0     5849
 NaN     3194
 1.0      553
-99.0       1
Name: ad7622, dtype: int64
 0.0     6126
 NaN     3196
 1.0      274
-99.0       1
Name: ad7623, dtype: int64
0                         5643
NaN                       3070
1                          801
.                           81
construction of stores       1
-99                          1
Name: ad7624, dtype: int64
 0.0     4807
 NaN     3010
 1.0     1779
-99.0       1
Name: ad7625, dtype: int64

In [30]:
# Get all columns from index 2 onwards (binary columns) in the climate_data DataFrame
binary_columns = climate_data.columns[2:]

# Define a function to convert non-binary values to NaN
def binary_convert(column):
    try:
        value = int(column)
        # Check if the value is 1 or 0, if not, set it to NaN
        if value in [1, 0]:
            return value
        else:
            return np.nan
    except (ValueError, TypeError):
        return np.nan

# Apply the binary_convert function to all columns in the binary_columns list
for column in binary_columns:
    climate_data[column] = climate_data[column].apply(binary_convert)

# Print the updated climate_data DataFrame with binary values or NaN after conversion
print(climate_data)

         hhcode  farmingexperience  ad711  ad712  ad713  ad714  ad715  ad716  \
0      10010601                NaN    0.0    0.0    0.0    0.0    0.0    0.0
1      10010602                NaN    0.0    0.0    0.0    0.0    0.0    0.0
2      10010603                NaN    0.0    0.0    0.0    0.0    0.0    0.0
3      10010604                NaN    0.0    0.0    0.0    0.0    0.0    0.0
4      10010605                NaN    0.0    0.0    0.0    0.0    0.0    0.0
...         ...                ...    ...    ...    ...    ...    ...    ...
9592  100090113               12.0    NaN    NaN    NaN    1.0    NaN    NaN
9593  100090114                4.0    NaN    NaN    NaN    NaN    NaN    NaN
9594  100090115               20.0    NaN    NaN    NaN    NaN    NaN    NaN
9595  100090116                0.0    NaN    1.0    NaN    NaN    NaN    NaN
9596  100090117               12.0    NaN    NaN    NaN    NaN    NaN    NaN

      ad717  ad718  ad719  ad7110  ad7111  ad7112  ad7113  ad7114  ad7115  \
0       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       1.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN     NaN     1.0     NaN     NaN     NaN     NaN

      ad7116  ad7117  ad7118  ad7119  ad7120  ad7121  ad7122  ad7123  ad7124  \
0        0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0
1        0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0
2        0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0
3        0.0     0.0     1.0     0.0     1.0     1.0     0.0     0.0     0.0
4        0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7125  ad721  ad722  ad723  ad724  ad725  ad726  ad727  ad728  ad729  \
0        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9593     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN

      ad7210  ad7211  ad7212  ad731  ad732  ad733  ad734  ad735  ad736  ad741  \
0        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0     1.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN     NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     1.0    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595     NaN     NaN     1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN

      ad742  ad743  ad744  ad745  ad746  ad747  ad751  ad752  ad753  ad754  \
0       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4       1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592    1.0    NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
9593    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN
9595    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
9596    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad755  ad756  ad757  ad758  ad759  ad7510  ad7511  ad7512  ad7513  \
0       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
2       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...    ...    ...     ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN

      ad7514  ad7515  ad7516  ad7517  ad7518  ad7519  ad7520  ad7521  ad7522  \
0        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7523  ad7524  ad7525  ad761  ad762  ad763  ad764  ad765  ad766  ad767  \
0        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad768  ad769  ad7610  ad7611  ad7612  ad7613  ad7614  ad7615  ad7616  \
0       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...     ...     ...     ...     ...     ...     ...     ...
9592    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN
9594    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    1.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7617  ad7618  ad7619  ad7620  ad7621  ad7622  ad7623  ad7624  ad7625
0        0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     1.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
3        0.0     1.0     0.0     1.0     1.0     0.0     0.0     0.0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[9597 rows x 102 columns]

In [31]:
# Create an empty dataframe to contain selected tenure features
climate_features = pd.DataFrame()

In [32]:
climate_features = climate_data

In [33]:
# Display information about the 'climate_features' DataFrame including data types, non-null counts, and memory usage.
climate_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9597 entries, 0 to 9596
Columns: 102 entries, hhcode to ad7625
dtypes: float64(101), int64(1)
memory usage: 7.5 MB

In [34]:
# Merge the 'tenure_features' DataFrame with 'crop_features' DataFrame on the 'hhcode' column using inner join
# Result: DataFrame containing combined information about tenure features and crop features
merged_tenure_crop = pd.merge(tenure_features, crop_features, on='hhcode', how='inner')

# Merge the above combined DataFrame with 'climate_features' DataFrame on the 'hhcode' column using right join
# Result: DataFrame containing all data, including tenure features, crop features, and climate features
all_data = pd.merge(merged_tenure_crop, climate_features, on='hhcode', how='right')

# Display the first few rows of the merged DataFrame to verify the merging process
all_data.head()

,hhcode,adm0,adm1,farmtype,fplotarea1,fsystem1,tenure1,yearsuse1,rentplot1,season1s,season1e,season2s,season2e,seas1nam,seas2nam,s1p1c1,s1p1c1plant,s1p1c1harv,s1p1c1area,s1p1c1qharv,s1p1c1cons,s1p1c1lives,s1p1c1lost,s1p1c1mkt,s1p1c1sold,s1p1c1cval,s1p1c1seed,s1p1c1sval,s2p1c1,s2p1c1plant,s2p1c1harv,s2p1c1area,s2p1c1qharv,s2p1c1cons,s2p1c1lives,s2p1c1lost,s2p1c1mkt,s2p1c1sold,s2p1c1seed,s2p1c1sval,pc1,nyieldc1,s1p1fert,s1p1irrig1,s1p1irrig2,s1p1irrig3,s1p1irrig4,s1p1pest,s1p1wat1,s1p1wat2,s1p1wat3,s1p1wat4,s1p1wat5,s2p1fert,s2p1irrig1,s2p1irrig2,s2p1irrig3,s2p1irrig4,s2p1pest,s2p1wat1,s2p1wat2,s2p1wat3,s2p1wat4,s2p1wat5,costkgfert,costkgpest,distsmktkm,distsmkthr,distpmktkm,distpmkthr,transport,cost1crop,cost2crop,cost3crop,cost4crop,cost5crop,farmingexperience,ad711,ad712,ad713,ad714,ad715,ad716,ad717,ad718,ad719,ad7110,ad7111,ad7112,ad7113,ad7114,ad7115,ad7116,ad7117,ad7118,ad7119,ad7120,ad7121,ad7122,ad7123,ad7124,ad7125,ad721,ad722,ad723,ad724,ad725,ad726,ad727,ad728,ad729,ad7210,ad7211,ad7212,ad731,ad732,ad733,ad734,ad735,ad736,ad741,ad742,ad743,ad744,ad745,ad746,ad747,ad751,ad752,ad753,ad754,ad755,ad756,ad757,ad758,ad759,ad7510,ad7511,ad7512,ad7513,ad7514,ad7515,ad7516,ad7517,ad7518,ad7519,ad7520,ad7521,ad7522,ad7523,ad7524,ad7525,ad761,ad762,ad763,ad764,ad765,ad766,ad767,ad768,ad769,ad7610,ad7611,ad7612,ad7613,ad7614,ad7615,ad7616,ad7617,ad7618,ad7619,ad7620,ad7621,ad7622,ad7623,ad7624,ad7625
0,10010601,burkinafaso,bam,2.0,5.0,2.0,1.0,60.0,NaN,June,October,November,May,rainy season,dry season,4.0,Jun,Oct,9.0,520.0,300.0,NaN,20.0,NaN,200.0,46325.0,26,375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.,4.0,1080.0,150.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,NaN,2.0,NaN,2.0,NaN,6.0,0.0,2500.0,12500.0,103950.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,10010602,burkinafaso,bam,2.0,5.0,2.0,1.0,60.0,NaN,June,October,November,May,rainy season,dry season,4.0,Jul,Sep,9.0,750.0,370.0,0.0,15.0,NaN,0.0,NaN,10,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.,4.0,400.0,50.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,NaN,2.0,NaN,2.0,NaN,6.0,0.0,0.0,115000.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10010603,burkinafaso,bam,2.0,3.0,3.0,1.0,7.0,NaN,June,October,November,May,rainy season,dry season,4.0,Jun,Oct,7.0,310.0,250.0,0.0,10.0,NaN,0.0,NaN,10,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.,4.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,0.0,500.0,3000.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10010604,burkinafaso,bam,1.0,1.0,3.0,1.0,107.0,NaN,June,October,November,May,rainy season,dry season,4.0,Jun,Nov,50.0,340.0,300.0,0.0,40.0,NaN,0.0,NaN,16,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.,4.0,250.0,25.0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,NaN,1.0,NaN,1.0,NaN,1.0,0.0,49500.0,0.0,3000.0,1200.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,10010605,burkinafaso,bam,2.0,5.0,1.0,1.0,23.0,NaN,June,October,November,May,rainy season,dry season,4.0,Jun,Nov,55.0,1782.0,1602.0,30.0,50.0,NaN,0.0,NaN,20,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.,4.0,648.0,460.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,110.0,1.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,250.0,NaN,1.0,NaN,1.0,NaN,1.0,0.0,2500.0,0.0,3000.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# Display basic information about the dataset using all_data.info()
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9597 entries, 0 to 9596
Columns: 177 entries, hhcode to ad7625
dtypes: float64(160), int64(1), object(16)
memory usage: 13.0+ MB

In [36]:
# Set the display option to show all rows when printing the DataFrame
with pd.option_context('display.max_rows', None):
    # Check and print the sum of missing values (NaN) in each column of the 'all_data' DataFrame
    print(all_data.isna().sum())

hhcode                  0
adm0                    0
adm1                    0
farmtype              109
fplotarea1              0
fsystem1              810
tenure1               853
yearsuse1             124
rentplot1            5182
season1s              889
season1e              887
season2s              150
season2e              148
seas1nam              119
seas2nam              168
s1p1c1               2489
s1p1c1plant           422
s1p1c1harv            456
s1p1c1area           2683
s1p1c1qharv          2508
s1p1c1cons           2890
s1p1c1lives          4642
s1p1c1lost           4064
s1p1c1mkt            3438
s1p1c1sold           2774
s1p1c1cval           5586
s1p1c1seed            206
s1p1c1sval            214
s2p1c1               5536
s2p1c1plant          3161
s2p1c1harv           3159
s2p1c1area           6516
s2p1c1qharv          4954
s2p1c1cons           4317
s2p1c1lives          5330
s2p1c1lost           4998
s2p1c1mkt            5734
s2p1c1sold           5235
s2p1c1seed            141
s2p1c1sval            148
pc1                   414
nyieldc1              496
s1p1fert             3596
s1p1irrig1           6140
s1p1irrig2           6367
s1p1irrig3           6419
s1p1irrig4           6315
s1p1pest             4098
s1p1wat1             4102
s1p1wat2             6303
s1p1wat3             6371
s1p1wat4             4170
s1p1wat5             6347
s2p1fert             4835
s2p1irrig1           6177
s2p1irrig2           6286
s2p1irrig3           6311
s2p1irrig4           6267
s2p1pest             4993
s2p1wat1             5791
s2p1wat2             6258
s2p1wat3             6302
s2p1wat4             4966
s2p1wat5             6308
costkgfert           3940
costkgpest           5034
distsmktkm            593
distsmkthr           5457
distpmktkm            808
distpmkthr           5332
transport            1380
cost1crop            1741
cost2crop            2299
cost3crop            2611
cost4crop            3217
cost5crop            3763
farmingexperience    6746
ad711                3098
ad712                3077
ad713                3126
ad714                3113
ad715                3187
ad716                3218
ad717                3206
ad718                3201
ad719                3201
ad7110               3216
ad7111               3169
ad7112               3187
ad7113               3218
ad7114               3108
ad7115               3216
ad7116               3215
ad7117               3191
ad7118               3117
ad7119               3216
ad7120               3128
ad7121               3088
ad7122               3216
ad7123               3218
ad7124               3124
ad7125               3089
ad721                3160
ad722                3212
ad723                3070
ad724                2753
ad725                3202
ad726                3160
ad727                3188
ad728                3201
ad729                3203
ad7210               3204
ad7211               3123
ad7212               3153
ad731                2850
ad732                3179
ad733                3080
ad734                3217
ad735                3001
ad736                3200
ad741                3183
ad742                2767
ad743                3077
ad744                3166
ad745                3222
ad746                3095
ad747                3212
ad751                3125
ad752                3075
ad753                3182
ad754                3162
ad755                3201
ad756                3205
ad757                3203
ad758                3200
ad759                3201
ad7510               3206
ad7511               3177
ad7512               3202
ad7513               3207
ad7514               3162
ad7515               3207
ad7516               3206
ad7517               3185
ad7518               3154
ad7519               3207
ad7520               3160
ad7521               3033
ad7522               3207
ad7523               3208
ad7524               3170
ad7525               2880
ad761                3055
ad762                3056
ad763                3138
ad764                3073
ad765                3184
ad766                3193
ad767                3189
ad768                3186
ad769                3175
ad7610               3192
ad7611               3149
ad7612               3183
ad7613               3195
ad7614               3062
ad7615               3193
ad7616               3195
ad7617               3187
ad7618               3026
ad7619               3193
ad7620               3084
ad7621               3122
ad7622               3195
ad7623               3197
ad7624               3153
ad7625               3011
dtype: int64

In [37]:
# Get the list of column names in the DataFrame
columns = all_data.columns

# Iterate through each column in the DataFrame
for col in columns:
    # Print the value counts of the current column, including NaN values
    print("Column:", col)
    print(all_data[col].value_counts(dropna=False))  # 'dropna=False' includes NaN values in the count

    # Add an empty line for better readability between columns
    print("\n" + "="*50 + "\n")

Column: hhcode
10010601     1
60250915     1
60251002     1
60251003     1
60251004     1
            ..
30080755     1
30080756     1
30080757     1
30080758     1
100090117    1
Name: hhcode, Length: 9597, dtype: int64

==================================================

Column: adm0
burkinafaso     1087
senegal         1078
zambia          1008
ethiopia         998
egypt            900
niger            900
ghana            894
kenya            816
cameroon         800
zimbabwe         700
south africa     416
Name: adm0, dtype: int64

==================================================

Column: adm1
lower egypt    540
eastern        381
oromia         360
central        328
western        320
              ...
boulgou         11
komandjari       7
poni             7
zoundweogo       5
koulpeologo      4
Name: adm1, Length: 110, dtype: int64

==================================================

Column: farmtype
1.0    5220
2.0    2342
3.0    1926
NaN     109
Name: farmtype, dtype: int64

==================================================

Column: fplotarea1
2.000000     758
1.000000     721
3.000000     544
5.000000     499
4.000000     473
            ...
15.175875      1
32.375198      1
21.853260      1
5.463315       1
0.420000       1
Name: fplotarea1, Length: 822, dtype: int64

==================================================

Column: fsystem1
2.0    3451
3.0    3407
1.0    1286
NaN     810
4.0     390
6.0     173
5.0      80
Name: fsystem1, dtype: int64

==================================================

Column: tenure1
1.0    6003
4.0    1134
NaN     853
6.0     512
5.0     430
7.0     301
3.0     218
2.0     146
Name: tenure1, dtype: int64

==================================================

Column: yearsuse1
10.0     726
20.0     714
30.0     606
3.0      508
15.0     506
        ...
107.0      1
59.0       1
76.0       1
115.0      1
2.5        1
Name: yearsuse1, Length: 90, dtype: int64

==================================================

Column: rentplot1
NaN              5182
0.000000         3647
200000.000000      43
150000.000000      28
1000.000000        28
                 ...
18.250000           1
108.300003          1
162.500000          1
25.410000           1
590.000000          1
Name: rentplot1, Length: 219, dtype: int64

==================================================

Column: season1s
-999       1392
NaN         889
1-Jun       887
October     748
mar         710
           ...
w1nov         1
w1oct         1
w1jun         1
25jan         1
20mar03       1
Name: season1s, Length: 134, dtype: int64

==================================================

Column: season1e
-999         1396
30-Sep        900
NaN           887
.             700
November      614
             ...
w3may03         1
w2oct03         1
w4jul04         1
ddddaug03       1
15ddaug03       1
Name: season1e, Length: 156, dtype: int64

==================================================

Column: season2s
-99         1032
1-Nov        900
10/06/02     748
.            700
December     614
            ...
w3sept03       1
w4may03        1
ddmar03        1
36433          1
20aug03        1
Name: season2s, Length: 145, dtype: int64

==================================================

Column: season2e
-99        1031
31-Mar      780
.           700
April       616
-999        566
           ...
w1jan04       1
w3feb04       1
w2aug04       1
w2aug03       1
20dec03       1
Name: season2e, Length: 170, dtype: int64

==================================================

Column: seas1nam
1               2153
2               1926
-999            1422
rainy season    1087
others           885
long rains       814
.                700
major            475
NaN              119
-99               16
Name: seas1nam, dtype: int64

==================================================

Column: seas2nam
2              3870
dry season     1087
-99            1003
1               898
short rains     761
.               700
-999            576
minor           356
NaN             168
others          118
spring           40
outumn           20
Name: seas2nam, dtype: int64

==================================================

Column: s1p1c1
4.0    7008
NaN    2489
2.0      87
3.0      10
1.0       3
Name: s1p1c1, dtype: int64

==================================================

Column: s1p1c1plant
-999         1213
1-Jun         885
0             635
-99           459
NaN           422
             ...
3/01/03         1
17/12/02        1
23/11/02        1
14Oct2001       1
16apr03         1
Name: s1p1c1plant, Length: 594, dtype: int64

==================================================

Column: s1p1c1harv
-999              1167
30-Sep             885
0                  635
-99                593
NaN                456
                  ...
oct-mar              1
nov early            1
nov from began       1
feb to oct           1
wkjul03              1
Name: s1p1c1harv, Length: 668, dtype: int64

==================================================

Column: s1p1c1area
NaN           2683
100.000000    1298
50.000000     1031
60.000000      476
40.000000      393
              ...
69.790001        1
36.340000        1
57.259998        1
61.110001        1
17.900000        1
Name: s1p1c1area, Length: 440, dtype: int64

==================================================

Column: s1p1c1qharv
NaN        2508
1000.0      262
500.0       252
1500.0      230
300.0       229
           ...
192.0         1
17600.0       1
31262.0       1
26067.0       1
8800.0        1
Name: s1p1c1qharv, Length: 848, dtype: int64

==================================================

Column: s1p1c1cons
NaN      2890
0.0       891
100.0     453
200.0     345
500.0     326
         ...
29.5        1
264.0       1
21.0        1
167.0       1
189.0       1
Name: s1p1c1cons, Length: 537, dtype: int64

==================================================

Column: s1p1c1lives
NaN        4642
0.0        4144
100.0        98
50.0         68
200.0        35
           ...
14000.0       1
16.0          1
1400.0        1
340.0         1
31500.0       1
Name: s1p1c1lives, Length: 136, dtype: int64

==================================================

Column: s1p1c1lost
NaN       4064
0.0       3837
100.0      207
50.0       199
20.0       139
          ...
8.0          1
960.0        1
96.0         1
720.0        1
2250.0       1
Name: s1p1c1lost, Length: 183, dtype: int64

==================================================

Column: s1p1c1mkt
NaN    3438
2.0    2574
0.0    2256
1.0    1054
3.0     244
4.0      31
Name: s1p1c1mkt, dtype: int64

==================================================

Column: s1p1c1sold
NaN       2774
0.0       2749
200.0      188
500.0      179
100.0      167
          ...
1812.5       1
2536.0       1
592.0        1
1638.0       1
5635.0       1
Name: s1p1c1sold, Length: 778, dtype: int64

==================================================

Column: s1p1c1cval
NaN          5586
300000.0       83
60000.0        70
1000000.0      58
20000.0        57
             ...
8510.0          1
6640.0          1
15900.0         1
73040.0         1
35200.0         1
Name: s1p1c1cval, Length: 1156, dtype: int64

==================================================

Column: s1p1c1seed
.              2498
0               949
20              608
10              589
50              415
               ...
6.400000095       1
64.80000305       1
5150              1
1700              1
70000             1
Name: s1p1c1seed, Length: 303, dtype: int64

==================================================

Column: s1p1c1sval
.         2656
0         1686
100        253
200        219
300        215
          ...
81000        1
98000        1
68000        1
156000       1
76           1
Name: s1p1c1sval, Length: 487, dtype: int64

==================================================

Column: s2p1c1
NaN    5536
4.0    3937
3.0      72
2.0      50
1.0       2
Name: s2p1c1, dtype: int64

==================================================

Column: s2p1c1plant
NaN           3161
0              864
-99            825
-999           813
mjun2002       424
              ...
d28jui2002       1
01jun04          1
01feb04          1
03feb04          1
20aug03          1
Name: s2p1c1plant, Length: 546, dtype: int64

==================================================

Column: s2p1c1harv
NaN           3159
-99            872
0              864
-999           795
moct2002       476
              ...
14-Nov-03        1
d31oct2002       1
9-Jan-03         1
d12nov2002       1
01jan04          1
Name: s2p1c1harv, Length: 505, dtype: int64

==================================================

Column: s2p1c1area
NaN       6516
100.00     609
50.00      483
25.00      168
0.00       146
          ...
31.60        1
29.41        1
24.24        1
6.26         1
17.50        1
Name: s2p1c1area, Length: 285, dtype: int64

==================================================

Column: s2p1c1qharv
NaN       4954
0.0       1520
500.0      189
300.0      177
200.0      163
          ...
730.0        1
111.0        1
170.0        1
245.0        1
1880.0       1
Name: s2p1c1qharv, Length: 356, dtype: int64

==================================================

Column: s2p1c1cons
NaN       4317
0.0       2212
100.0      268
200.0      264
500.0      207
          ...
2700.0       1
168.0        1
54.0         1
197.0        1
285.0        1
Name: s2p1c1cons, Length: 243, dtype: int64

==================================================

Column: s2p1c1lives
NaN        5330
0.0        3478
100.0       137
50.0         95
200.0        44
           ...
16800.0       1
70000.0       1
4375.0        1
1925.0        1
35.0          1
Name: s2p1c1lives, Length: 141, dtype: int64

==================================================

Column: s2p1c1lost
NaN        4998
0.0        2881
500.0       114
50.0         99
1000.0       95
           ...
840.0         1
35000.0       1
370.0         1
245.0         1
26.0          1
Name: s2p1c1lost, Length: 167, dtype: int64

==================================================

Column: s2p1c1mkt
NaN    5734
0.0    1747
2.0    1253
1.0     568
3.0     285
4.0      10
Name: s2p1c1mkt, dtype: int64

==================================================

Column: s2p1c1sold
NaN              5235
0.000000         2359
200.000000        169
100.000000        142
300.000000        103
                 ...
3400.000000         1
2880.000000         1
333.299988          1
522000.000000       1
2205.000000         1
Name: s2p1c1sold, Length: 398, dtype: int64

==================================================

Column: s2p1c1seed
.        4164
0        1698
10        253
20        228
50        214
         ...
6.25        1
210         1
420         1
260         1
18000       1
Name: s2p1c1seed, Length: 245, dtype: int64

==================================================

Column: s2p1c1sval
.       4165
0       1953
200      203
150      164
-99      158
        ...
3.4        1
1.55       1
2.26       1
1.35       1
700        1
Name: s2p1c1sval, Length: 359, dtype: int64

==================================================

Column: pc1
4.0    9053
NaN     414
2.0      72
3.0      52
1.0       6
Name: pc1, dtype: int64

==================================================

Column: nyieldc1
1000.0    717
800.0     522
NaN       496
600.0     376
500.0     373
         ...
812.0       1
233.0       1
367.0       1
511.0       1
1180.0      1
Name: nyieldc1, Length: 867, dtype: int64

==================================================

Column: s1p1fert
NaN       3596
0.0       2034
100.0      514
50.0       424
150.0      374
          ...
4700.0       1
880.0        1
353.0        1
915.0        1
156.0        1
Name: s1p1fert, Length: 279, dtype: int64

==================================================

Column: s1p1irrig1
NaN    6140
0.0    2145
1.0     926
4.0     233
2.0     108
3.0      45
Name: s1p1irrig1, dtype: int64

==================================================

Column: s1p1irrig2
NaN    6367
0.0    3145
2.0      73
4.0       7
3.0       4
1.0       1
Name: s1p1irrig2, dtype: int64

==================================================

Column: s1p1irrig3
NaN    6419
0.0    3128
3.0      50
Name: s1p1irrig3, dtype: int64

==================================================

Column: s1p1irrig4
NaN    6315
0.0    3118
4.0     163
1.0       1
Name: s1p1irrig4, dtype: int64

==================================================

Column: s1p1pest
NaN        4098
0.00       3359
1.00        281
2.00        215
5.00        148
           ...
3.75          1
5.57          1
1.30          1
1.14          1
1100.00       1
Name: s1p1pest, Length: 178, dtype: int64

==================================================

Column: s1p1wat1
NaN    4102
4.0    2379
0.0    1774
1.0    1061
2.0     158
3.0      78
5.0      45
Name: s1p1wat1, dtype: int64

==================================================

Column: s1p1wat2
NaN    6303
0.0    3127
2.0      91
4.0      52
1.0      16
5.0       6
3.0       2
Name: s1p1wat2, dtype: int64

==================================================

Column: s1p1wat3
NaN    6371
0.0    3147
3.0      72
4.0       5
1.0       1
5.0       1
Name: s1p1wat3, dtype: int64

==================================================

Column: s1p1wat4
NaN    4170
4.0    3171
0.0    2207
1.0      49
Name: s1p1wat4, dtype: int64

==================================================

Column: s1p1wat5
NaN    6347
0.0    3152
5.0      57
4.0      41
Name: s1p1wat5, dtype: int64

==================================================

Column: s2p1fert
NaN      4835
0.0      2807
100.0     294
50.0      179
200.0     177
         ...
122.0       1
525.0       1
625.0       1
240.0       1
160.0       1
Name: s2p1fert, Length: 186, dtype: int64

==================================================

Column: s2p1irrig1
NaN    6177
0.0    2534
1.0     758
4.0      69
2.0      40
3.0      17
5.0       2
Name: s2p1irrig1, dtype: int64

==================================================

Column: s2p1irrig2
NaN    6286
0.0    3262
2.0      39
4.0       6
3.0       3
1.0       1
Name: s2p1irrig2, dtype: int64

==================================================

Column: s2p1irrig3
NaN    6311
0.0    3265
3.0      21
Name: s2p1irrig3, dtype: int64

==================================================

Column: s2p1irrig4
NaN    6267
0.0    3265
4.0      64
5.0       1
Name: s2p1irrig4, dtype: int64

==================================================

Column: s2p1pest
NaN       4993
0.0       3478
1.0        251
2.0        148
0.5        113
          ...
600.0        1
1900.0       1
2100.0       1
5344.0       1
70.0         1
Name: s2p1pest, Length: 117, dtype: int64

==================================================

Column: s2p1wat1
NaN    5791
0.0    2388
1.0     813
4.0     485
3.0      53
2.0      46
5.0      21
Name: s2p1wat1, dtype: int64

==================================================

Column: s2p1wat2
NaN    6258
0.0    3249
2.0      56
1.0      18
4.0      12
5.0       3
3.0       1
Name: s2p1wat2, dtype: int64

==================================================

Column: s2p1wat3
NaN    6302
0.0    3268
3.0      23
1.0       4
Name: s2p1wat3, dtype: int64

==================================================

Column: s2p1wat4
NaN    4966
0.0    2574
4.0    1405
1.0     651
5.0       1
Name: s2p1wat4, dtype: int64

==================================================

Column: s2p1wat5
NaN    6308
0.0    3273
5.0      15
1.0       1
Name: s2p1wat5, dtype: int64

==================================================

Column: costkgfert
NaN       3940
0.00       916
250.00     535
200.00     224
170.00     219
          ...
2.26         1
1.36         1
8.90         1
2.04         1
99.00        1
Name: costkgfert, Length: 400, dtype: int64

==================================================

Column: costkgpest
NaN       5034
0.0       1640
2000.0     130
3000.0     126
1000.0     122
          ...
1110.0       1
4270.0       1
3150.0       1
3900.0       1
463.0        1
Name: costkgpest, Length: 416, dtype: int64

==================================================

Column: distsmktkm
0.0      1138
5.0       795
1.0       729
3.0       667
2.0       627
         ...
185.0       1
94.0        1
160.0       1
104.0       1
275.0       1
Name: distsmktkm, Length: 171, dtype: int64

==================================================

Column: distsmkthr
NaN       5457
0.000     1844
1.000      480
0.500      407
2.000      256
          ...
0.820        1
11.000       1
2.580        1
25.000       1
0.125        1
Name: distsmkthr, Length: 113, dtype: int64

==================================================

Column: distpmktkm
0.0      975
NaN      808
5.0      801
1.0      754
2.0      626
        ...
290.0      1
65.0       1
420.0      1
400.0      1
56.0       1
Name: distpmktkm, Length: 172, dtype: int64

==================================================

Column: distpmkthr
NaN         5332
0.000000    1768
1.000000     522
0.500000     438
2.000000     292
            ...
0.062500       1
0.416667       1
0.580000       1
1.700000       1
2.750000       1
Name: distpmkthr, Length: 113, dtype: int64

==================================================

Column: transport
4.0    2523
1.0    2481
NaN    1380
3.0    1125
5.0     956
6.0     874
2.0     258
Name: transport, dtype: int64

==================================================

Column: cost1crop
0.0         3222
NaN         1741
10000.0      224
5000.0       212
20000.0      179
            ...
6750.0         1
225000.0       1
181000.0       1
720000.0       1
1080.0         1
Name: cost1crop, Length: 459, dtype: int64

==================================================

Column: cost2crop
0.0        4206
NaN        2299
1000.0      217
2000.0      173
5000.0      136
           ...
38100.0       1
86000.0       1
7300.0        1
19200.0       1
210.0         1
Name: cost2crop, Length: 366, dtype: int64

==================================================

Column: cost3crop
0.0        4970
NaN        2611
1000.0      157
10000.0     117
20000.0     110
           ...
1300.0        1
630.0         1
32500.0       1
61000.0       1
140.0         1
Name: cost3crop, Length: 231, dtype: int64

==================================================

Column: cost4crop
0.00         5085
NaN          3217
1000.00        69
10000.00       49
100000.00      48
             ...
117.50          1
293.00          1
1.25            1
20.25           1
7680.00         1
Name: cost4crop, Length: 277, dtype: int64

==================================================

Column: cost5crop
0.0        5677
NaN        3763
50000.0      12
20000.0      10
10000.0       6
           ...
125.0         1
47.0          1
282.0         1
270.0         1
360.0         1
Name: cost5crop, Length: 85, dtype: int64

==================================================

Column: farmingexperience
NaN     6746
20.0     238
30.0     227
10.0     189
25.0     154
        ...
70.0       1
64.0       1
61.0       1
80.0       1
2.5        1
Name: farmingexperience, Length: 75, dtype: int64

==================================================

Column: ad711
0.0    5344
NaN    3098
1.0    1155
Name: ad711, dtype: int64

==================================================

Column: ad712
0.0    6158
NaN    3077
1.0     362
Name: ad712, dtype: int64

==================================================

Column: ad713
0.0    6174
NaN    3126
1.0     297
Name: ad713, dtype: int64

==================================================

Column: ad714
0.0    5827
NaN    3113
1.0     657
Name: ad714, dtype: int64

==================================================

Column: ad715
0.0    5421
NaN    3187
1.0     989
Name: ad715, dtype: int64

==================================================

Column: ad716
0.0    6347
NaN    3218
1.0      32
Name: ad716, dtype: int64

==================================================

Column: ad717

0.0    5698
NaN    3117
1.0     782
Name: ad7118, dtype: int64

==================================================

Column: ad7119
0.0    6354
NaN    3216
1.0      27
Name: ad7119, dtype: int64

==================================================

Column: ad7120
0.0    5749
NaN    3128
1.0     720
Name: ad7120, dtype: int64

==================================================

Column: ad7121
0.0    5355
NaN    3088
1.0    1154
Name: ad7121, dtype: int64

==================================================

Column: ad7122
0.0    6157
NaN    3216
1.0     224
Name: ad7122, dtype: int64

==================================================

Column: ad7123
0.0    6188
NaN    3218
1.0     191
Name: ad7123, dtype: int64

==================================================

Column: ad7124
0.0    5559
NaN    3124
1.0     914
Name: ad7124, dtype: int64

==================================================

Column: ad7125
0.0    4848
NaN    3089
1.0    1660
Name: ad7125, dtype: int64

==================================================

Column: ad721
0.0    6009
NaN    3160
1.0     428
Name: ad721, dtype: int64

==================================================

Column: ad722
0.0    6032
NaN    3212
1.0     353
Name: ad722, dtype: int64

==================================================

Column: ad723
0.0    6081
NaN    3070
1.0     446
Name: ad723, dtype: int64

==================================================

Column: ad724
0.0    5018
NaN    2753
1.0    1826
Name: ad724, dtype: int64

==================================================

Column: ad725
0.0    6153
NaN    3202
1.0     242
Name: ad725, dtype: int64

==================================================

Column: ad726
0.0    6066
NaN    3160
1.0     371
Name: ad726, dtype: int64

==================================================

Column: ad727
0.0    6270
NaN    3188
1.0     139
Name: ad727, dtype: int64

==================================================

Column: ad728
0.0    6252
NaN    3201
1.0     144
Name: ad728, dtype: int64

==================================================

Column: ad729
0.0    6343
NaN    3203
1.0      51
Name: ad729, dtype: int64

==================================================

Column: ad7210
0.0    6315
NaN    3204
1.0      78
Name: ad7210, dtype: int64

==================================================

Column: ad7211
0.0    5007
NaN    3123
1.0    1467
Name: ad7211, dtype: int64

==================================================

Column: ad7212
0.0    3343
NaN    3153
1.0    3101
Name: ad7212, dtype: int64

==================================================

Column: ad731
1.0    3669
0.0    3078
NaN    2850
Name: ad731, dtype: int64

==================================================

Column: ad732
0.0    6030
NaN    3179
1.0     388
Name: ad732, dtype: int64

==================================================

Column: ad733
0.0    5951
NaN    3080
1.0     566
Name: ad733, dtype: int64

==================================================

Column: ad734
0.0    5980
NaN    3217
1.0     400
Name: ad734, dtype: int64

==================================================

Column: ad735
0.0    5589
NaN    3001
1.0    1007
Name: ad735, dtype: int64

==================================================

Column: ad736
0.0    6070
NaN    3200
1.0     327
Name: ad736, dtype: int64

==================================================

Column: ad741
0.0    5979
NaN    3183
1.0     435
Name: ad741, dtype: int64

==================================================

Column: ad742
1.0    3789
0.0    3041
NaN    2767
Name: ad742, dtype: int64

==================================================

Column: ad743
0.0    4313
NaN    3077
1.0    2207
Name: ad743, dtype: int64

==================================================

Column: ad744
0.0    5160
NaN    3166
1.0    1271
Name: ad744, dtype: int64

==================================================

Column: ad745
0.0    6062
NaN    3222
1.0     313
Name: ad745, dtype: int64

==================================================

Column: ad746
0.0    5542
NaN    3095
1.0     960
Name: ad746, dtype: int64

==================================================

Column: ad747
0.0    6194
NaN    3212
1.0     191
Name: ad747, dtype: int64

==================================================

Column: ad751
0.0    5944
NaN    3125
1.0     528
Name: ad751, dtype: int64

==================================================

Column: ad752
0.0    6289
NaN    3075
1.0     233
Name: ad752, dtype: int64

==================================================

Column: ad753
0.0    6319
NaN    3182
1.0      96
Name: ad753, dtype: int64

==================================================

Column: ad754
0.0    5942
NaN    3162
1.0     493
Name: ad754, dtype: int64

==================================================

Column: ad755
0.0    5464
NaN    3201
1.0     932
Name: ad755, dtype: int64

==================================================

Column: ad756
0.0    6378
NaN    3205
1.0      14
Name: ad756, dtype: int64

==================================================

Column: ad757
0.0    6271
NaN    3203
1.0     123
Name: ad757, dtype: int64

==================================================

Column: ad758
0.0    6326
NaN    3200
1.0      71
Name: ad758, dtype: int64

==================================================

Column: ad759
0.0    6374
NaN    3201
1.0      22
Name: ad759, dtype: int64

==================================================

Column: ad7510
0.0    6381
NaN    3206
1.0      10
Name: ad7510, dtype: int64

==================================================

Column: ad7511
0.0    6338
NaN    3177
1.0      82
Name: ad7511, dtype: int64

==================================================

Column: ad7512
0.0    5786
NaN    3202
1.0     609
Name: ad7512, dtype: int64

==================================================

Column: ad7513
0.0    6338
NaN    3207
1.0      52
Name: ad7513, dtype: int64

==================================================

Column: ad7514
0.0    6127
NaN    3162
1.0     308
Name: ad7514, dtype: int64

==================================================

Column: ad7515
0.0    6381
NaN    3207
1.0       9
Name: ad7515, dtype: int64

==================================================

Column: ad7516
0.0    6358
NaN    3206
1.0      33
Name: ad7516, dtype: int64

==================================================

Column: ad7517
0.0    6260
NaN    3185
1.0     152
Name: ad7517, dtype: int64

==================================================

Column: ad7518
0.0    5879
NaN    3154
1.0     564
Name: ad7518, dtype: int64

==================================================

Column: ad7519
0.0    6367
NaN    3207
1.0      23
Name: ad7519, dtype: int64

==================================================

Column: ad7520
0.0    5904
NaN    3160
1.0     533
Name: ad7520, dtype: int64

==================================================

Column: ad7521
0.0    5447
NaN    3033
1.0    1117
Name: ad7521, dtype: int64

==================================================

Column: ad7522
0.0    6113
NaN    3207
1.0     277
Name: ad7522, dtype: int64

==================================================

Column: ad7523
0.0    6236
NaN    3208
1.0     153
Name: ad7523, dtype: int64

==================================================

Column: ad7524
0.0    5861
NaN    3170
1.0     566
Name: ad7524, dtype: int64

==================================================

Column: ad7525
0.0    3947
NaN    2880
1.0    2770
Name: ad7525, dtype: int64

==================================================

Column: ad761
0.0    5133
NaN    3055
1.0    1409
Name: ad761, dtype: int64

==================================================

Column: ad762
0.0    6178
NaN    3056
1.0     363
Name: ad762, dtype: int64

==================================================

Column: ad763
0.0    6231
NaN    3138
1.0     228
Name: ad763, dtype: int64

==================================================

Column: ad764
0.0    5965
NaN    3073
1.0     559
Name: ad764, dtype: int64

==================================================

Column: ad765
0.0    5433
NaN    3184
1.0     980
Name: ad765, dtype: int64

==================================================

Column: ad766
0.0    6354
NaN    3193
1.0      50
Name: ad766, dtype: int64

==================================================

Column: ad767
0.0    6141
NaN    3189
1.0     267
Name: ad767, dtype: int64

==================================================

Column: ad768
0.0    6309
NaN    3186
1.0     102
Name: ad768, dtype: int64

==================================================

Column: ad769
0.0    6379
NaN    3175
1.0      43
Name: ad769, dtype: int64

==================================================

Column: ad7610
0.0    6391
NaN    3192
1.0      14
Name: ad7610, dtype: int64

==================================================

Column: ad7611
0.0    6351
NaN    3149
1.0      97
Name: ad7611, dtype: int64

==================================================

Column: ad7612
0.0    6130
NaN    3183
1.0     284
Name: ad7612, dtype: int64

==================================================

Column: ad7613
0.0    6352
NaN    3195
1.0      50
Name: ad7613, dtype: int64

==================================================

Column: ad7614
0.0    6087
NaN    3062
1.0     448
Name: ad7614, dtype: int64

==================================================

Column: ad7615
0.0    6337
NaN    3193
1.0      67
Name: ad7615, dtype: int64

==================================================

Column: ad7616
0.0    6366
NaN    3195
1.0      36
Name: ad7616, dtype: int64

==================================================

Column: ad7617
0.0    6213
NaN    3187
1.0     197
Name: ad7617, dtype: int64

==================================================

Column: ad7618
0.0    5849
NaN    3026
1.0     722
Name: ad7618, dtype: int64

==================================================

Column: ad7619
0.0    6371
NaN    3193
1.0      33
Name: ad7619, dtype: int64

==================================================

Column: ad7620
0.0    5832
NaN    3084
1.0     681
Name: ad7620, dtype: int64

==================================================

Column: ad7621
0.0    5799
NaN    3122
1.0     676
Name: ad7621, dtype: int64

==================================================

Column: ad7622
0.0    5849
NaN    3195
1.0     553
Name: ad7622, dtype: int64

==================================================

Column: ad7623
0.0    6126
NaN    3197
1.0     274
Name: ad7623, dtype: int64

==================================================

Column: ad7624
0.0    5643
NaN    3153
1.0     801
Name: ad7624, dtype: int64

==================================================

Column: ad7625
0.0    4807
NaN    3011
1.0    1779
Name: ad7625, dtype: int64

==================================================

In [38]:
# Print the first 77 columns of the DataFrame
print(columns[:77])

Index(['hhcode', 'adm0', 'adm1', 'farmtype', 'fplotarea1', 'fsystem1',
       'tenure1', 'yearsuse1', 'rentplot1', 'season1s', 'season1e', 'season2s',
       'season2e', 'seas1nam', 'seas2nam', 's1p1c1', 's1p1c1plant',
       's1p1c1harv', 's1p1c1area', 's1p1c1qharv', 's1p1c1cons', 's1p1c1lives',
       's1p1c1lost', 's1p1c1mkt', 's1p1c1sold', 's1p1c1cval', 's1p1c1seed',
       's1p1c1sval', 's2p1c1', 's2p1c1plant', 's2p1c1harv', 's2p1c1area',
       's2p1c1qharv', 's2p1c1cons', 's2p1c1lives', 's2p1c1lost', 's2p1c1mkt',
       's2p1c1sold', 's2p1c1seed', 's2p1c1sval', 'pc1', 'nyieldc1', 's1p1fert',
       's1p1irrig1', 's1p1irrig2', 's1p1irrig3', 's1p1irrig4', 's1p1pest',
       's1p1wat1', 's1p1wat2', 's1p1wat3', 's1p1wat4', 's1p1wat5', 's2p1fert',
       's2p1irrig1', 's2p1irrig2', 's2p1irrig3', 's2p1irrig4', 's2p1pest',
       's2p1wat1', 's2p1wat2', 's2p1wat3', 's2p1wat4', 's2p1wat5',
       'costkgfert', 'costkgpest', 'distsmktkm', 'distsmkthr', 'distpmktkm',
       'distpmkthr', 'transport', 'cost1crop', 'cost2crop', 'cost3crop',
       'cost4crop', 'cost5crop', 'farmingexperience'],
      dtype='object')

In [39]:
# Import the necessary library
from dateutil import parser
import pandas as pd

# Define a function to extract the month from a date string
def extract_month(date_string):
    try:
        # Parse the date string and extract the full month name
        parsed_date = parser.parse(date_string)
        month_name = parsed_date.strftime('%B')
        return month_name
    except (TypeError, ValueError):
        # Return NaN for invalid dates
        return pd.NA  

# List of date columns to be processed
date_cols = ['season1s', 'season1e', 'season2s', 'season2e', 's1p1c1plant', 's1p1c1harv', 's2p1c1plant', 's2p1c1harv']

# Apply the 'extract_month' function to each date column in the DataFrame
for col in date_cols:
    all_data[col] = all_data[col].apply(extract_month)

# Print the DataFrame with extracted months and NaN for invalid dates
print(all_data)

         hhcode         adm0     adm1  farmtype  fplotarea1  fsystem1  \
0      10010601  burkinafaso      bam       2.0         5.0       2.0
1      10010602  burkinafaso      bam       2.0         5.0       2.0
2      10010603  burkinafaso      bam       2.0         3.0       3.0
3      10010604  burkinafaso      bam       1.0         1.0       3.0
4      10010605  burkinafaso      bam       2.0         5.0       1.0
...         ...          ...      ...       ...         ...       ...
9592  100090113        kenya  western       2.0         3.0       NaN
9593  100090114        kenya  western       2.0         3.0       NaN
9594  100090115        kenya  western       2.0         1.0       NaN
9595  100090116        kenya  western       1.0         1.0       NaN
9596  100090117        kenya  western       2.0         2.0       NaN

      tenure1  yearsuse1  rentplot1  season1s  season1e   season2s  season2e  \
0         1.0       60.0        NaN      June   October   November       May
1         1.0       60.0        NaN      June   October   November       May
2         1.0        7.0        NaN      June   October   November       May
3         1.0      107.0        NaN      June   October   November       May
4         1.0       23.0        NaN      June   October   November       May
...       ...        ...        ...       ...       ...        ...       ...
9592      NaN       12.0        0.0  February      July     August  December
9593      NaN        5.0        0.0     March      <NA>  September   January
9594      NaN       20.0        0.0      <NA>      <NA>       <NA>      <NA>
9595      NaN        8.0        0.0      <NA>      <NA>       <NA>      <NA>
9596      NaN       12.0        0.0  November  November   November  November

          seas1nam     seas2nam  s1p1c1 s1p1c1plant s1p1c1harv  s1p1c1area  \
0     rainy season   dry season     4.0        June    October         9.0
1     rainy season   dry season     4.0        July  September         9.0
2     rainy season   dry season     4.0        June    October         7.0
3     rainy season   dry season     4.0        June   November        50.0
4     rainy season   dry season     4.0        June   November        55.0
...            ...          ...     ...         ...        ...         ...
9592    long rains  short rains     2.0        <NA>       <NA>        30.0
9593    long rains  short rains     4.0       April   November        75.0
9594    long rains  short rains     4.0        <NA>       <NA>        50.0
9595    long rains  short rains     4.0    February       July       100.0
9596           NaN          NaN     NaN        <NA>       <NA>         NaN

      s1p1c1qharv  s1p1c1cons  s1p1c1lives  s1p1c1lost  s1p1c1mkt  s1p1c1sold  \
0           520.0       300.0          NaN        20.0        NaN       200.0
1           750.0       370.0          0.0        15.0        NaN         0.0
2           310.0       250.0          0.0        10.0        NaN         0.0
3           340.0       300.0          0.0        40.0        NaN         0.0
4          1782.0      1602.0         30.0        50.0        NaN         0.0
...           ...         ...          ...         ...        ...         ...
9592        400.0        50.0          0.0         0.0        2.0       350.0
9593       3600.0       540.0          0.0        90.0        1.0      2970.0
9594       1800.0       900.0          0.0         0.0        2.0       900.0
9595       2700.0       810.0          0.0        40.0        2.0      1850.0
9596          NaN         NaN          NaN         NaN        NaN         NaN

      s1p1c1cval s1p1c1seed s1p1c1sval  s2p1c1 s2p1c1plant s2p1c1harv  \
0        46325.0         26        375     NaN        <NA>       <NA>
1            NaN         10        170     NaN        <NA>       <NA>
2            NaN         10        175     NaN        <NA>       <NA>
3            NaN         16        125     NaN        <NA>       <NA>
4            NaN         20        125     NaN        <NA>       <NA>
...          ...        ...        ...     ...         ...        ...
9592     20000.0        120         25     NaN        <NA>       <NA>
9593     30000.0         30        150     NaN        <NA>       <NA>
9594     12600.0         10        150     4.0   September       <NA>
9595     18500.0         10       1400     4.0      August    January
9596         NaN          .          .     NaN        <NA>       <NA>

      s2p1c1area  s2p1c1qharv  s2p1c1cons  s2p1c1lives  s2p1c1lost  s2p1c1mkt  \
0            NaN          NaN         NaN          NaN         NaN        NaN
1            NaN          NaN         NaN          NaN         NaN        NaN
2            NaN          NaN         NaN          NaN         NaN        NaN
3            NaN          NaN         NaN          NaN         NaN        NaN
4            NaN          NaN         NaN          NaN         NaN        NaN
...          ...          ...         ...          ...         ...        ...
9592         NaN          NaN         NaN          NaN         NaN        NaN
9593         NaN          NaN         NaN          NaN         NaN        NaN
9594        50.0       1800.0       900.0          0.0         0.0        1.0
9595       100.0       2700.0       450.0          0.0        45.0        1.0
9596         NaN          NaN         NaN          NaN         NaN        NaN

      s2p1c1sold s2p1c1seed s2p1c1sval  pc1  nyieldc1  s1p1fert  s1p1irrig1  \
0            NaN          .          .  4.0    1080.0     150.0         NaN
1            NaN          .          .  4.0     400.0      50.0         NaN
2            NaN          .          .  4.0     325.0       NaN         NaN
3            NaN          .          .  4.0     250.0      25.0         NaN
4            NaN          .          .  4.0     648.0     460.0         NaN
...          ...        ...        ...  ...       ...       ...         ...
9592         NaN          .          .  4.0    1400.0     100.0         NaN
9593         NaN          .          .  4.0    2700.0     250.0         NaN
9594       900.0         10         70  2.0     400.0     150.0         NaN
9595      2205.0         10        700  4.0    3600.0      50.0         NaN
9596         NaN          .          .  NaN       NaN       NaN         NaN

      s1p1irrig2  s1p1irrig3  s1p1irrig4  s1p1pest  s1p1wat1  s1p1wat2  \
0            NaN         NaN         NaN       NaN       4.0       NaN
1            NaN         NaN         NaN       NaN       4.0       NaN
2            NaN         NaN         NaN       NaN       4.0       NaN
3            NaN         NaN         NaN       0.0       4.0       NaN
4            NaN         NaN         NaN       NaN       4.0       NaN
...          ...         ...         ...       ...       ...       ...
9592         NaN         NaN         NaN       NaN       4.0       NaN
9593         NaN         NaN         NaN       1.0       4.0       NaN
9594         NaN         NaN         NaN       NaN       4.0       NaN
9595         NaN         NaN         NaN       NaN       4.0       NaN
9596         NaN         NaN         NaN       NaN       NaN       NaN

      s1p1wat3  s1p1wat4  s1p1wat5  s2p1fert  s2p1irrig1  s2p1irrig2  \
0          NaN       NaN       NaN       NaN         NaN         NaN
1          NaN       NaN       NaN       NaN         NaN         NaN
2          NaN       NaN       NaN       NaN         NaN         NaN
3          NaN       NaN       NaN       NaN         NaN         NaN
4          NaN       NaN       NaN     110.0         1.0         NaN
...        ...       ...       ...       ...         ...         ...
9592       NaN       NaN       NaN       NaN         NaN         NaN
9593       NaN       NaN       NaN       NaN         NaN         NaN
9594       NaN       NaN       NaN       NaN         NaN         NaN
9595       NaN       NaN       NaN       NaN         NaN         NaN
9596       NaN       NaN       NaN       NaN         NaN         NaN

      s2p1irrig3  s2p1irrig4  s2p1pest  s2p1wat1  s2p1wat2  s2p1wat3  \
0            NaN         NaN       NaN       NaN       NaN       NaN
1            NaN         NaN       NaN       NaN       NaN       NaN
2            NaN         NaN       NaN       NaN       NaN       NaN
3            NaN         NaN       NaN       NaN       NaN       NaN
4            NaN         NaN       2.0       1.0       NaN       NaN
...          ...         ...       ...       ...       ...       ...
9592         NaN         NaN       NaN       NaN       NaN       NaN
9593         NaN         NaN       NaN       NaN       NaN       NaN
9594         NaN         NaN       NaN       NaN       NaN       NaN
9595         NaN         NaN       NaN       NaN       NaN       NaN
9596         NaN         NaN       NaN       NaN       NaN       NaN

      s2p1wat4  s2p1wat5  costkgfert  costkgpest  distsmktkm  distsmkthr  \
0          NaN       NaN       250.0         NaN         2.0         NaN
1          NaN       NaN       250.0         NaN         2.0         NaN
2          NaN       NaN         NaN         NaN         2.0         NaN
3          NaN       NaN       250.0         NaN         1.0         NaN
4          NaN       NaN       250.0         NaN         1.0         NaN
...        ...       ...         ...         ...         ...         ...
9592       NaN       NaN        32.0         NaN         5.0         NaN
9593       NaN       NaN        26.0       360.0         7.0         NaN
9594       NaN       NaN        38.0         NaN        10.0         NaN
9595       NaN       NaN        32.0         NaN         4.0         NaN
9596       NaN       NaN         NaN         NaN        20.0         NaN

      distpmktkm  distpmkthr  transport  cost1crop  cost2crop  cost3crop  \
0            2.0         NaN        6.0        0.0     2500.0    12500.0
1            2.0         NaN        6.0        0.0        0.0   115000.0
2            2.0         NaN        1.0        0.0      500.0     3000.0
3            1.0         NaN        1.0        0.0    49500.0        0.0
4            1.0         NaN        1.0        0.0     2500.0        0.0
...          ...         ...        ...        ...        ...        ...
9592         5.0         NaN        5.0    20000.0     5000.0     1000.0
9593         7.0         NaN        5.0     2500.0        0.0        0.0
9594        10.0         NaN        4.0     3000.0      500.0        0.0
9595         4.0         NaN        1.0        0.0        0.0        0.0
9596        20.0         NaN        4.0        0.0        0.0        0.0

      cost4crop  cost5crop  farmingexperience  ad711  ad712  ad713  ad714  \
0      103950.0        0.0                NaN    0.0    0.0    0.0    0.0
1           0.0        0.0                NaN    0.0    0.0    0.0    0.0
2           0.0        0.0                NaN    0.0    0.0    0.0    0.0
3        3000.0     1200.0                NaN    0.0    0.0    0.0    0.0
4        3000.0        0.0                NaN    0.0    0.0    0.0    0.0
...         ...        ...                ...    ...    ...    ...    ...
9592        0.0        0.0               12.0    NaN    NaN    NaN    1.0
9593        0.0        0.0                4.0    NaN    NaN    NaN    NaN
9594        0.0        0.0               20.0    NaN    NaN    NaN    NaN
9595        0.0        0.0                0.0    NaN    1.0    NaN    NaN
9596        0.0        0.0               12.0    NaN    NaN    NaN    NaN

      ad715  ad716  ad717  ad718  ad719  ad7110  ad7111  ad7112  ad7113  \
0       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
2       0.0    0.0    1.0    0.0    0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...    ...    ...     ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    NaN    NaN     NaN     1.0     NaN     NaN

      ad7114  ad7115  ad7116  ad7117  ad7118  ad7119  ad7120  ad7121  ad7122  \
0        0.0     0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0
1        0.0     0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0
2        0.0     0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0
3        0.0     0.0     0.0     0.0     1.0     0.0     1.0     1.0     0.0
4        0.0     0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0     NaN
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7123  ad7124  ad7125  ad721  ad722  ad723  ad724  ad725  ad726  ad727  \
0        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN
9593     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9595     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN

      ad728  ad729  ad7210  ad7211  ad7212  ad731  ad732  ad733  ad734  ad735  \
0       0.0    0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
1       0.0    0.0     0.0     1.0     0.0    0.0    0.0    0.0    0.0    0.0
2       0.0    0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
4       0.0    0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
...     ...    ...     ...     ...     ...    ...    ...    ...    ...    ...
9592    NaN    NaN     NaN     NaN     NaN    1.0    NaN    NaN    NaN    NaN
9593    NaN    NaN     NaN     NaN     1.0    1.0    NaN    NaN    NaN    NaN
9594    NaN    NaN     NaN     NaN     1.0    NaN    NaN    1.0    NaN    NaN
9595    NaN    NaN     NaN     NaN     1.0    1.0    NaN    NaN    NaN    NaN
9596    NaN    NaN     NaN     NaN     NaN    NaN    NaN    1.0    NaN    NaN

      ad736  ad741  ad742  ad743  ad744  ad745  ad746  ad747  ad751  ad752  \
0       0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1       0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2       0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4       0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9592    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    1.0
9593    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9594    NaN    NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
9595    NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN
9596    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      ad753  ad754  ad755  ad756  ad757  ad758  ad759  ad7510  ad7511  ad7512  \
0       0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
2       0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0
...     ...    ...    ...    ...    ...    ...    ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
9594    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN

      ad7513  ad7514  ad7515  ad7516  ad7517  ad7518  ad7519  ad7520  ad7521  \
0        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
9592     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     1.0
9594     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9595     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      ad7522  ad7523  ad7524  ad7525  ad761  ad762  ad763  ad764  ad765  \
0        0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
1        0.0     0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0
2        0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
3        0.0     0.0     0.0     1.0    0.0    0.0    0.0    0.0    0.0
4        0.0     0.0     0.0     1.0    1.0    0.0    0.0    0.0    0.0
...      ...     ...     ...     ...    ...    ...    ...    ...    ...
9592     NaN     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN
9593     NaN     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN
9594     NaN     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN
9595     NaN     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN
9596     NaN     NaN     NaN     1.0    NaN    NaN    NaN    NaN    NaN

      ad766  ad767  ad768  ad769  ad7610  ad7611  ad7612  ad7613  ad7614  \
0       0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0
1       0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0
2       0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0
3       0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0
4       0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0
...     ...    ...    ...    ...     ...     ...     ...     ...     ...
9592    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
9593    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     1.0
9594    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
9595    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
9596    NaN    NaN    NaN    1.0     NaN     NaN     NaN     NaN     NaN

      ad7615  ad7616  ad7617  ad7618  ad7619  ad7620  ad7621  ad7622  ad7623  \
0        0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0     0.0

In [40]:
# Define the pattern to remove from column names
patterns_to_remove = ['p1c1', 'p1']

# Get the list of columns to process
columns_to_process = all_data.columns

# Remove the specified patterns from column names
new_columns = [col for col in columns_to_process]
for pattern in patterns_to_remove:
    new_columns = [col.replace(pattern, '') for col in new_columns]

# Rename the columns in the DataFrame
all_data.columns = new_columns

In [41]:
all_data.columns[:70]

Index(['hhcode', 'adm0', 'adm1', 'farmtype', 'fplotarea1', 'fsystem1',
       'tenure1', 'yearsuse1', 'rentplot1', 'season1s', 'season1e', 'season2s',
       'season2e', 'seas1nam', 'seas2nam', 's1', 's1plant', 's1harv', 's1area',
       's1qharv', 's1cons', 's1lives', 's1lost', 's1mkt', 's1sold', 's1cval',
       's1seed', 's1sval', 's2', 's2plant', 's2harv', 's2area', 's2qharv',
       's2cons', 's2lives', 's2lost', 's2mkt', 's2sold', 's2seed', 's2sval',
       'pc1', 'nyieldc1', 's1fert', 's1irrig1', 's1irrig2', 's1irrig3',
       's1irrig4', 's1pest', 's1wat1', 's1wat2', 's1wat3', 's1wat4', 's1wat5',
       's2fert', 's2irrig1', 's2irrig2', 's2irrig3', 's2irrig4', 's2pest',
       's2wat1', 's2wat2', 's2wat3', 's2wat4', 's2wat5', 'costkgfert',
       'costkgpest', 'distsmktkm', 'distsmkthr', 'distpmktkm', 'distpmkthr'],
      dtype='object')

In [42]:
# Create a duplicate of the original dataset for modeling purposes
model_data = all_data.copy()

In [43]:
# Replacement dictionaries for cleaning specific columns
water_replacement_dict = {0: 5}
irrig_replacement_dict = {0: 4}
market_replacement_dict = {0: 3}
seasname_replacement_dict = {'-99': pd.NA, '-999': pd.NA, '.': 3}

# Columns to be cleaned using replacement dictionaries
water_col = ['s1wat1', 's1wat2', 's1wat3', 's1wat4', 's1wat5', 's2wat1', 's2wat2', 's2wat3', 's2wat4', 's2wat5']
irrig_col = ['s1irrig1', 's1irrig2', 's1irrig3', 's1irrig4', 's2irrig1', 's2irrig2', 's2irrig3', 's2irrig4']
season_col = ['seas1nam', 'seas2nam']
market_col = ['s1mkt', 's2mkt']

# Replace values in specified columns using the replacement dictionaries
# For water-related columns
for col in water_col:
    model_data[col] = model_data[col].replace(water_replacement_dict)

# For irrigation-related columns
for col in irrig_col:
    model_data[col] = model_data[col].replace(irrig_replacement_dict)

# For season name columns
for col in season_col:
    model_data[col] = model_data[col].replace(seasname_replacement_dict)

# For market-related columns
for col in market_col:
    model_data[col] = model_data[col].replace(market_replacement_dict)

In [44]:
# Define a dictionary for column mapping, translating original column names to new names
column_mapping = {
    'adm0' : 'Country',
    'adm1' : 'Region',
    'season1s' : 's1start',
    'season1e' : 's1end',
    'season2s' : 's2start',
    'season2e' : 's2end',
    's1' : 'crop1',
    's1plant' : 's1plant_data',
    's1harv' : 's1harv_date',
    's1area' : 's1land_area',
    's1qharv' : 's1quant_harv',
    's1cons' : 's1consumed',
    's1lives' : 's1livestock',
    's1lost' : 's1lost',
    's1mkt' : 's1market',
    's1sold' : 's1quant_sold',
    's1cval' : 's1crop_val',
    's1seed' : 's1no_seed',
    's1sval' : 's1seed_cost',
    's2' : 'crop2',
    's2plant' : 's2plant_data',
    's2harv' : 's2harv_date',
    's2area' : 's2land_area',
    's2qharv' : 's2quant_harv',
    's2cons' : 's2consumed',
    's2lives' : 's2livestock',
    's2lost' : 's2lost',
    's2mkt' : 's2market',
    's2sold' : 's2quant_sold',
    's2cval' : 's2crop_val',
    's2seed' : 's2no_seed',
    's2sval' : 's2seed_cost'
}

# Rename columns in the 'model_data' DataFrame using the defined column mapping
model_data.rename(columns=column_mapping, inplace=True)

# The 'model_data' DataFrame now has updated column names as per the specified mapping

In [45]:
# Define regex partern to match columns to drop
regex_pattern = r's2|crop2'

#use filter and regex to drop columns matching the pattern
plot_cols = [col for col in model_data.columns if re.search(regex_pattern, col)]
model_data = model_data.drop(columns=plot_cols)

In [46]:
# Save the 'model_data' DataFrame to a CSV file for later use
model_data.to_csv('./Dataset/model_data.csv', index=False)

In [47]:
# Duplicate the original dataset to create a copy for analysis
analysis_data = all_data.copy()

In [48]:
# Extract the first 70 column names from the 'analysis_data' DataFrame.
selected_columns = analysis_data.columns[:70]

In [49]:
### Dictionary with replacement column names
crop_replacement_dict = {
    # ... (dictionary values for crop codes)
    1 : 'alfalfa',
    2 : 'banana',
    3 : 'barley',
    4 : 'beans',
    5 : 'cashew',
    6 : 'cassava',
    7 : 'citrus fruit',
    8 : 'chickpeas',
    9 : 'clover',
    10 : 'cocoa',
    11 : 'cocoyam',
    12 : 'cowpea',
    13 : 'coffee',
    14 : 'cotton',
    15 : 'cucumber',
    16 : 'enset',
    17 : 'field pea',
    18 : 'flax',
    19 : 'garden-eggs',
    20 : 'garlic',
    21 : 'grape',
    22 : 'groundnut',
    23 : 'kola',
    24 : 'lentil',
    25 : 'mango',
    26 : 'maize',
    27 : 'millet',
    28 : 'oil palm',
    29 : 'okra',
    30 : 'onion',
    31 : 'palm dates',
    32 : 'paprika',
    33 : 'peanuts',
    34 : 'pepper',
    35 : 'pigeon pea',
    36 : 'pineapple',
    37 : 'plantain',
    38 : 'potato',
    39 : 'rice',
    40 : 'safflower',
    41 : 'sesame',
    42 : 'shallots',
    43 : 'sheanut',
    44 : 'sorghum',
    45 : 'soybean',
    46 : 'spinach',
    47 : 'squash',
    48 : 'sugarcane',
    49 : 'sunflower',
    50 : 'tea',
    51 : 'tef',
    52 : 'tobacco',
    53 : 'tomato',
    54 : 'wheat',
    55 : 'yam',
    56 : 'other'
}

water_replacement_dict = {
    # ... (dictionary values for water source codes)
    1 : 'irrigated major scheme',
    2 : 'irrigated minor scheme',
    3 : 'irrigated groundwater',
    4 : 'rain-fed',
    5 : 'other',
    0 : 'other'
}

irrig_replacement_dict = {
    # ... (dictionary values for irrigation system codes)
    1 : 'gravity',
    2 : 'sprinklers',
    3 : 'drip systems',
    4 : 'other',
    0 : 'other'
}

market_replacement_dict = {
    # ... (dictionary values for market channel codes)
    1 : 'Directly to consumers',
    2 : 'Middleman/wholesale',
    3 : 'Other',
    4 : 'Combination',
    0 : 'Other'
}

seasname_replacement_dict = {
    # ... (dictionary values for season name codes and NA handling)
    '1' : 'winter season',
    '2' : 'summer season',
    '3' : 'others',
    '-99' : pd.NA,
    '-999' : pd.NA,
    '.' : 'other'
}

tenure_replacement_dict = {
    # ... (dictionary values for land tenure codes)
    1 : 'Own land and use',
    2 : 'Own land and rent',
    3 : 'Sharecropped land',
    4 : 'Communal land',
    5 : 'Rented land',
    6 : 'Borrowed land',
    7 : 'Other',
}

farmsys_replacement_dict = {
    # ... (dictionary values for farming system codes)
    1 : 'Shifting cultivation',
    2 : 'Continuous cropping',
    3 : 'CC with multiple rotations',
    4 : 'Livestock grazing land',
    5 : 'Other',
    6 : 'Combination',

}

farmtype_replacement_dict = {
    # ... (dictionary values for farm type codes)
    1: 'small-scale',
    2: 'medium scale',
    3: 'large-scale',
}

transport_replacement_dict = {
    # ... (dictionary values for transportation mode codes)
    1 : 'walk',
    2 : 'animal',
    3 : 'cart/bicycle',
    4 : 'motorized vehicle',
    5 : 'combination',
    6 : 'other',
}


# Replace column values using the replacement dictionaries
crop_col = ['s1', 's2', 'pc1']
water_col = ['s1wat1', 's1wat2', 's1wat3', 's1wat4', 's1wat5', 's2wat1', 's2wat2', 's2wat3', 's2wat4', 's2wat5']
irrig_col = ['s1irrig1', 's1irrig2', 's1irrig3', 's1irrig4', 's2irrig1', 's2irrig2', 's2irrig3', 's2irrig4']
season_col = ['seas1nam', 'seas2nam']
market_col = ['s1mkt', 's2mkt']

# Apply replacements using the dictionaries
for col in crop_col:
    analysis_data[col] = analysis_data[col].replace(crop_replacement_dict)
for col in water_col:
    analysis_data[col] = analysis_data[col].replace(water_replacement_dict)
for col in irrig_col:
    analysis_data[col] = analysis_data[col].replace(irrig_replacement_dict)
for col in season_col:
    analysis_data[col] = analysis_data[col].replace(seasname_replacement_dict)
for col in market_col:
    analysis_data[col] = analysis_data[col].replace(market_replacement_dict)
    
# Additional replacements for specific columns
analysis_data['fsystem1'] = analysis_data['fsystem1'].replace(farmsys_replacement_dict)
analysis_data['tenure1'] = analysis_data['tenure1'].replace(tenure_replacement_dict)
analysis_data['farmtype'] = analysis_data['farmtype'].replace(farmtype_replacement_dict)
analysis_data['transport'] = analysis_data['transport'].replace(transport_replacement_dict)

In [50]:
# Get value_counts of the columns to inspect fix
columns = analysis_data.columns

# Iterate through each column and print its unique values along with their counts
for col in columns:
    # Print column name for reference
    print(f"Column: {col}")
    
    # Get value_counts for the current column, including NaN values (dropna=False)
    # This provides a summary of unique values and their respective counts
    print(analysis_data[col].value_counts(dropna=False))
    
    # Print a separator line for better readability
    print("-" * 50)

Column: hhcode
10010601     1
60250915     1
60251002     1
60251003     1
60251004     1
            ..
30080755     1
30080756     1
30080757     1
30080758     1
100090117    1
Name: hhcode, Length: 9597, dtype: int64
--------------------------------------------------
Column: adm0
burkinafaso     1087
senegal         1078
zambia          1008
ethiopia         998
egypt            900
niger            900
ghana            894
kenya            816
cameroon         800
zimbabwe         700
south africa     416
Name: adm0, dtype: int64
--------------------------------------------------
Column: adm1
lower egypt    540
eastern        381
oromia         360
central        328
western        320
              ...
boulgou         11
komandjari       7
poni             7
zoundweogo       5
koulpeologo      4
Name: adm1, Length: 110, dtype: int64
--------------------------------------------------
Column: farmtype
small-scale     5220
medium scale    2342
large-scale     1926
NaN              109
Name: farmtype, dtype: int64
--------------------------------------------------
Column: fplotarea1
2.000000     758
1.000000     721
3.000000     544
5.000000     499
4.000000     473
            ...
15.175875      1
32.375198      1
21.853260      1
5.463315       1
0.420000       1
Name: fplotarea1, Length: 822, dtype: int64
--------------------------------------------------
Column: fsystem1
Continuous cropping           3451
CC with multiple rotations    3407
Shifting cultivation          1286
NaN                            810
Livestock grazing land         390
Combination                    173
Other                           80
Name: fsystem1, dtype: int64
--------------------------------------------------
Column: tenure1
Own land and use     6003
Communal land        1134
NaN                   853
Borrowed land         512
Rented land           430
Other                 301
Sharecropped land     218
Own land and rent     146
Name: tenure1, dtype: int64
--------------------------------------------------
Column: yearsuse1
10.0     726
20.0     714
30.0     606
3.0      508
15.0     506
        ...
107.0      1
59.0       1
76.0       1
115.0      1
2.5        1
Name: yearsuse1, Length: 90, dtype: int64
--------------------------------------------------
Column: rentplot1
NaN              5182
0.000000         3647
200000.000000      43
150000.000000      28
1000.000000        28
                 ...
18.250000           1
108.300003          1
162.500000          1
25.410000           1
590.000000          1
Name: rentplot1, Length: 219, dtype: int64
--------------------------------------------------
Column: season1s
<NA>         3334
November     1677
June         1295
October       802
March         738
May           702
April         670
July          180
February      110
January        68
August         11
September       6
December        4
Name: season1s, dtype: int64
--------------------------------------------------
Column: season1e
<NA>         3310
November     2117
September    1141
October      1007
April         570
July          458
August        377
June          253
May           233
March         106
December       18
February        4
January         3
Name: season1e, dtype: int64
--------------------------------------------------
Column: season2s
<NA>         3345
November     3076
October      1337
December      699
August        427
September     337
July          119
June          106
May            84
January        47
March           9
April           6
February        5
Name: season2s, dtype: int64
--------------------------------------------------
Column: season2e
<NA>         3331
November     2203
April        1045
March         996
October       603
December      582
May           452
June          135
February      117
January        58
September      42
July           25
August          8
Name: season2e, dtype: int64
--------------------------------------------------
Column: seas1nam
winter season    2153
summer season    1926
<NA>             1438
rainy season     1087
others            885
long rains        814
other             700
major             475
NaN               119
Name: seas1nam, dtype: int64
--------------------------------------------------
Column: seas2nam
summer season    3870
<NA>             1579
dry season       1087
winter season     898
short rains       761
other             700
minor             356
NaN               168
others            118
spring             40
outumn             20
Name: seas2nam, dtype: int64
--------------------------------------------------
Column: s1
beans      7008
NaN        2489
banana       87
barley       10
alfalfa       3
Name: s1, dtype: int64
--------------------------------------------------
Column: s1plant
November     2605
<NA>         1814
June         1600
March         649
May           594
October       554
February      497
April         396
January       380
December      186
July          145
September     107
August         70
Name: s1plant, dtype: int64
--------------------------------------------------
Column: s1harv
November     2384
<NA>         1808
September    1181
April         817
May           707
October       614
March         518
August        397
July          320
June          248
January       225
February      222
December      156
Name: s1harv, dtype: int64
--------------------------------------------------
Column: s1area
NaN           2683
100.000000    1298
50.000000     1031
60.000000      476
40.000000      393
              ...
69.790001        1
36.340000        1
57.259998        1
61.110001        1
17.900000        1
Name: s1area, Length: 440, dtype: int64
--------------------------------------------------
Column: s1qharv
NaN        2508
1000.0      262
500.0       252
1500.0      230
300.0       229
           ...
192.0         1
17600.0       1
31262.0       1
26067.0       1
8800.0        1
Name: s1qharv, Length: 848, dtype: int64
--------------------------------------------------
Column: s1cons
NaN      2890
0.0       891
100.0     453
200.0     345
500.0     326
         ...
29.5        1
264.0       1
21.0        1
167.0       1
189.0       1
Name: s1cons, Length: 537, dtype: int64
--------------------------------------------------
Column: s1lives
NaN        4642
0.0        4144
100.0        98
50.0         68
200.0        35
           ...
14000.0       1
16.0          1
1400.0        1
340.0         1
31500.0       1
Name: s1lives, Length: 136, dtype: int64
--------------------------------------------------
Column: s1lost
NaN       4064
0.0       3837
100.0      207
50.0       199
20.0       139
          ...
8.0          1
960.0        1
96.0         1
720.0        1
2250.0       1
Name: s1lost, Length: 183, dtype: int64
--------------------------------------------------
Column: s1mkt
NaN                      3438
Middleman/wholesale      2574
Other                    2500
Directly to consumers    1054
Combination                31
Name: s1mkt, dtype: int64
--------------------------------------------------
Column: s1sold
NaN       2774
0.0       2749
200.0      188
500.0      179
100.0      167
          ...
1812.5       1
2536.0       1
592.0        1
1638.0       1
5635.0       1
Name: s1sold, Length: 778, dtype: int64
--------------------------------------------------
Column: s1cval
NaN          5586
300000.0       83
60000.0        70
1000000.0      58
20000.0        57
             ...
8510.0          1
6640.0          1
15900.0         1
73040.0         1
35200.0         1
Name: s1cval, Length: 1156, dtype: int64
--------------------------------------------------
Column: s1seed
.              2498
0               949
20              608
10              589
50              415
               ...
6.400000095       1
64.80000305       1
5150              1
1700              1
70000             1
Name: s1seed, Length: 303, dtype: int64
--------------------------------------------------
Column: s1sval
.         2656
0         1686
100        253
200        219
300        215
          ...
81000        1
98000        1
68000        1
156000       1
76           1
Name: s1sval, Length: 487, dtype: int64
--------------------------------------------------
Column: s2
NaN        5536
beans      3937
barley       72
banana       50
alfalfa       2
Name: s2, dtype: int64
--------------------------------------------------
Column: s2plant
<NA>         6146
November     1788
May           417
September     245
June          235
August        190
October       143
April         132
March         118
July           98
December       31
February       29
January        25
Name: s2plant, dtype: int64
--------------------------------------------------
Column: s2harv
<NA>         6136
November     1848
September     517
December      262
October       242
August        125
March         118
June           79
January        64
May            59
July           55
February       46
April          46
Name: s2harv, dtype: int64
--------------------------------------------------
Column: s2area
NaN       6516
100.00     609
50.00      483
25.00      168
0.00       146
          ...
31.60        1
29.41        1
24.24        1
6.26         1
17.50        1
Name: s2area, Length: 285, dtype: int64
--------------------------------------------------
Column: s2qharv
NaN       4954
0.0       1520
500.0      189
300.0      177
200.0      163
          ...
730.0        1
111.0        1
170.0        1
245.0        1
1880.0       1
Name: s2qharv, Length: 356, dtype: int64
--------------------------------------------------
Column: s2cons
NaN       4317
0.0       2212
100.0      268
200.0      264
500.0      207
          ...
2700.0       1
168.0        1
54.0         1
197.0        1
285.0        1
Name: s2cons, Length: 243, dtype: int64
--------------------------------------------------
Column: s2lives
NaN        5330
0.0        3478
100.0       137
50.0         95
200.0        44
           ...
16800.0       1
70000.0       1
4375.0        1
1925.0        1
35.0          1
Name: s2lives, Length: 141, dtype: int64
--------------------------------------------------
Column: s2lost
NaN        4998
0.0        2881
500.0       114
50.0         99
1000.0       95
           ...
840.0         1
35000.0       1
370.0         1
245.0         1
26.0          1
Name: s2lost, Length: 167, dtype: int64
--------------------------------------------------
Column: s2mkt
NaN                      5734
Other                    2032
Middleman/wholesale      1253
Directly to consumers     568
Combination                10
Name: s2mkt, dtype: int64
--------------------------------------------------
Column: s2sold
NaN              5235
0.000000         2359
200.000000        169
100.000000        142
300.000000        103
                 ...
3400.000000         1
2880.000000         1
333.299988          1
522000.000000       1
2205.000000         1
Name: s2sold, Length: 398, dtype: int64
--------------------------------------------------
Column: s2seed
.        4164
0        1698
10        253
20        228
50        214
         ...
6.25        1
210         1
420         1
260         1
18000       1
Name: s2seed, Length: 245, dtype: int64
--------------------------------------------------
Column: s2sval
.       4165
0       1953
200      203
150      164
-99      158
        ...
3.4        1
1.55       1
2.26       1
1.35       1
700        1
Name: s2sval, Length: 359, dtype: int64
--------------------------------------------------
Column: pc1
beans      9053
NaN         414
banana       72
barley       52
alfalfa       6
Name: pc1, dtype: int64
--------------------------------------------------
Column: nyieldc1
1000.0    717
800.0     522
NaN       496
600.0     376
500.0     373
         ...
812.0       1
233.0       1
367.0       1
511.0       1
1180.0      1
Name: nyieldc1, Length: 867, dtype: int64
--------------------------------------------------
Column: s1fert
NaN       3596
0.0       2034
100.0      514
50.0       424
150.0      374
          ...
4700.0       1
880.0        1
353.0        1
915.0        1
156.0        1
Name: s1fert, Length: 279, dtype: int64
--------------------------------------------------
Column: s1irrig1
NaN             6140
other           2378
gravity          926
sprinklers       108
drip systems      45
Name: s1irrig1, dtype: int64
--------------------------------------------------
Column: s1irrig2
NaN             6367
other           3152
sprinklers        73
drip systems       4
gravity            1
Name: s1irrig2, dtype: int64
--------------------------------------------------
Column: s1irrig3
NaN             6419
other           3128
drip systems      50
Name: s1irrig3, dtype: int64
--------------------------------------------------
Column: s1irrig4
NaN        6315
other      3281
gravity       1
Name: s1irrig4, dtype: int64
--------------------------------------------------
Column: s1pest
NaN        4098
0.00       3359
1.00        281
2.00        215
5.00        148
           ...
3.75          1
5.57          1
1.30          1
1.14          1
1100.00       1
Name: s1pest, Length: 178, dtype: int64
--------------------------------------------------
Column: s1wat1
NaN                       4102
rain-fed                  2379
other                     1819
irrigated major scheme    1061
irrigated minor scheme     158
irrigated groundwater       78
Name: s1wat1, dtype: int64
--------------------------------------------------
Column: s1wat2
NaN                       6303
other                     3133
irrigated minor scheme      91
rain-fed                    52
irrigated major scheme      16
irrigated groundwater        2
Name: s1wat2, dtype: int64
--------------------------------------------------
Column: s1wat3
NaN                       6371
other                     3148
irrigated groundwater       72
rain-fed                     5
irrigated major scheme       1
Name: s1wat3, dtype: int64
--------------------------------------------------
Column: s1wat4
NaN                       4170
rain-fed                  3171
other                     2207
irrigated major scheme      49
Name: s1wat4, dtype: int64
--------------------------------------------------
Column: s1wat5
NaN         6347
other       3209
rain-fed      41
Name: s1wat5, dtype: int64
--------------------------------------------------
Column: s2fert
NaN      4835
0.0      2807
100.0     294
50.0      179
200.0     177
         ...
122.0       1
525.0       1
625.0       1
240.0       1
160.0       1
Name: s2fert, Length: 186, dtype: int64
--------------------------------------------------
Column: s2irrig1
NaN             6177
other           2603
gravity          758
sprinklers        40
drip systems      17
5.0                2
Name: s2irrig1, dtype: int64
--------------------------------------------------
Column: s2irrig2
NaN             6286
other           3268
sprinklers        39
drip systems       3
gravity            1
Name: s2irrig2, dtype: int64
--------------------------------------------------
Column: s2irrig3

NaN             6311
other           3265
drip systems      21
Name: s2irrig3, dtype: int64
--------------------------------------------------
Column: s2irrig4
NaN      6267
other    3329
5.0         1
Name: s2irrig4, dtype: int64
--------------------------------------------------
Column: s2pest
NaN       4993
0.0       3478
1.0        251
2.0        148
0.5        113
          ...
600.0        1
1900.0       1
2100.0       1
5344.0       1
70.0         1
Name: s2pest, Length: 117, dtype: int64
--------------------------------------------------
Column: s2wat1
NaN                       5791
other                     2409
irrigated major scheme     813
rain-fed                   485
irrigated groundwater       53
irrigated minor scheme      46
Name: s2wat1, dtype: int64
--------------------------------------------------
Column: s2wat2
NaN                       6258
other                     3252
irrigated minor scheme      56
irrigated major scheme      18
rain-fed                    12
irrigated groundwater        1
Name: s2wat2, dtype: int64
--------------------------------------------------
Column: s2wat3
NaN                       6302
other                     3268
irrigated groundwater       23
irrigated major scheme       4
Name: s2wat3, dtype: int64
--------------------------------------------------
Column: s2wat4
NaN                       4966
other                     2575
rain-fed                  1405
irrigated major scheme     651
Name: s2wat4, dtype: int64
--------------------------------------------------
Column: s2wat5
NaN                       6308
other                     3288
irrigated major scheme       1
Name: s2wat5, dtype: int64
--------------------------------------------------
Column: costkgfert
NaN       3940
0.00       916
250.00     535
200.00     224
170.00     219
          ...
2.26         1
1.36         1
8.90         1
2.04         1
99.00        1
Name: costkgfert, Length: 400, dtype: int64
--------------------------------------------------
Column: costkgpest
NaN       5034
0.0       1640
2000.0     130
3000.0     126
1000.0     122
          ...
1110.0       1
4270.0       1
3150.0       1
3900.0       1
463.0        1
Name: costkgpest, Length: 416, dtype: int64
--------------------------------------------------
Column: distsmktkm
0.0      1138
5.0       795
1.0       729
3.0       667
2.0       627
         ...
185.0       1
94.0        1
160.0       1
104.0       1
275.0       1
Name: distsmktkm, Length: 171, dtype: int64
--------------------------------------------------
Column: distsmkthr
NaN       5457
0.000     1844
1.000      480
0.500      407
2.000      256
          ...
0.820        1
11.000       1
2.580        1
25.000       1
0.125        1
Name: distsmkthr, Length: 113, dtype: int64
--------------------------------------------------
Column: distpmktkm
0.0      975
NaN      808
5.0      801
1.0      754
2.0      626
        ...
290.0      1
65.0       1
420.0      1
400.0      1
56.0       1
Name: distpmktkm, Length: 172, dtype: int64
--------------------------------------------------
Column: distpmkthr
NaN         5332
0.000000    1768
1.000000     522
0.500000     438
2.000000     292
            ...
0.062500       1
0.416667       1
0.580000       1
1.700000       1
2.750000       1
Name: distpmkthr, Length: 113, dtype: int64
--------------------------------------------------
Column: transport
motorized vehicle    2523
walk                 2481
NaN                  1380
cart/bicycle         1125
combination           956
other                 874
animal                258
Name: transport, dtype: int64
--------------------------------------------------
Column: cost1crop
0.0         3222
NaN         1741
10000.0      224
5000.0       212
20000.0      179
            ...
6750.0         1
225000.0       1
181000.0       1
720000.0       1
1080.0         1
Name: cost1crop, Length: 459, dtype: int64
--------------------------------------------------
Column: cost2crop
0.0        4206
NaN        2299
1000.0      217
2000.0      173
5000.0      136
           ...
38100.0       1
86000.0       1
7300.0        1
19200.0       1
210.0         1
Name: cost2crop, Length: 366, dtype: int64
--------------------------------------------------
Column: cost3crop
0.0        4970
NaN        2611
1000.0      157
10000.0     117
20000.0     110
           ...
1300.0        1
630.0         1
32500.0       1
61000.0       1
140.0         1
Name: cost3crop, Length: 231, dtype: int64
--------------------------------------------------
Column: cost4crop
0.00         5085
NaN          3217
1000.00        69
10000.00       49
100000.00      48
             ...
117.50          1
293.00          1
1.25            1
20.25           1
7680.00         1
Name: cost4crop, Length: 277, dtype: int64
--------------------------------------------------
Column: cost5crop
0.0        5677
NaN        3763
50000.0      12
20000.0      10
10000.0       6
           ...
125.0         1
47.0          1
282.0         1
270.0         1
360.0         1
Name: cost5crop, Length: 85, dtype: int64
--------------------------------------------------
Column: farmingexperience
NaN     6746
20.0     238
30.0     227
10.0     189
25.0     154
        ...
70.0       1
64.0       1
61.0       1
80.0       1
2.5        1
Name: farmingexperience, Length: 75, dtype: int64
--------------------------------------------------
Column: ad711
0.0    5344
NaN    3098
1.0    1155
Name: ad711, dtype: int64
--------------------------------------------------
Column: ad712
0.0    6158
NaN    3077
1.0     362
Name: ad712, dtype: int64
--------------------------------------------------
Column: ad713
0.0    6174
NaN    3126
1.0     297
Name: ad713, dtype: int64
--------------------------------------------------
Column: ad714
0.0    5827
NaN    3113
1.0     657
Name: ad714, dtype: int64
--------------------------------------------------
Column: ad715
0.0    5421
NaN    3187
1.0     989
Name: ad715, dtype: int64
--------------------------------------------------
Column: ad716
0.0    6347
NaN    3218
1.0      32
Name: ad716, dtype: int64
--------------------------------------------------
Column: ad717
0.0    6222
NaN    3206
1.0     169
Name: ad717, dtype: int64
--------------------------------------------------
Column: ad718
0.0    6284
NaN    3201
1.0     112
Name: ad718, dtype: int64
--------------------------------------------------
Column: ad719
0.0    6337
NaN    3201
1.0      59
Name: ad719, dtype: int64
--------------------------------------------------
Column: ad7110
0.0    6378
NaN    3216
1.0       3
Name: ad7110, dtype: int64
--------------------------------------------------
Column: ad7111
0.0    6284
NaN    3169
1.0     144
Name: ad7111, dtype: int64
--------------------------------------------------
Column: ad7112
0.0    5621
NaN    3187
1.0     789
Name: ad7112, dtype: int64
--------------------------------------------------
Column: ad7113
0.0    6344
NaN    3218
1.0      35
Name: ad7113, dtype: int64
--------------------------------------------------
Column: ad7114
0.0    6030
NaN    3108
1.0     459
Name: ad7114, dtype: int64
--------------------------------------------------
Column: ad7115
0.0    6368
NaN    3216
1.0      13
Name: ad7115, dtype: int64
--------------------------------------------------
Column: ad7116
0.0    6370
NaN    3215
1.0      12
Name: ad7116, dtype: int64
--------------------------------------------------
Column: ad7117
0.0    6137
NaN    3191
1.0     269
Name: ad7117, dtype: int64
--------------------------------------------------
Column: ad7118
0.0    5698
NaN    3117
1.0     782
Name: ad7118, dtype: int64
--------------------------------------------------
Column: ad7119
0.0    6354
NaN    3216
1.0      27
Name: ad7119, dtype: int64
--------------------------------------------------
Column: ad7120
0.0    5749
NaN    3128
1.0     720
Name: ad7120, dtype: int64
--------------------------------------------------
Column: ad7121
0.0    5355
NaN    3088
1.0    1154
Name: ad7121, dtype: int64
--------------------------------------------------
Column: ad7122
0.0    6157
NaN    3216
1.0     224
Name: ad7122, dtype: int64
--------------------------------------------------
Column: ad7123
0.0    6188
NaN    3218
1.0     191
Name: ad7123, dtype: int64
--------------------------------------------------
Column: ad7124
0.0    5559
NaN    3124
1.0     914
Name: ad7124, dtype: int64
--------------------------------------------------
Column: ad7125
0.0    4848
NaN    3089
1.0    1660
Name: ad7125, dtype: int64
--------------------------------------------------
Column: ad721
0.0    6009
NaN    3160
1.0     428
Name: ad721, dtype: int64
--------------------------------------------------
Column: ad722
0.0    6032
NaN    3212
1.0     353
Name: ad722, dtype: int64
--------------------------------------------------
Column: ad723
0.0    6081
NaN    3070
1.0     446
Name: ad723, dtype: int64
--------------------------------------------------
Column: ad724
0.0    5018
NaN    2753
1.0    1826
Name: ad724, dtype: int64
--------------------------------------------------
Column: ad725
0.0    6153
NaN    3202
1.0     242
Name: ad725, dtype: int64
--------------------------------------------------
Column: ad726
0.0    6066
NaN    3160
1.0     371
Name: ad726, dtype: int64
--------------------------------------------------
Column: ad727
0.0    6270
NaN    3188
1.0     139
Name: ad727, dtype: int64
--------------------------------------------------
Column: ad728
0.0    6252
NaN    3201
1.0     144
Name: ad728, dtype: int64
--------------------------------------------------
Column: ad729
0.0    6343
NaN    3203
1.0      51
Name: ad729, dtype: int64
--------------------------------------------------
Column: ad7210
0.0    6315
NaN    3204
1.0      78
Name: ad7210, dtype: int64
--------------------------------------------------
Column: ad7211
0.0    5007
NaN    3123
1.0    1467
Name: ad7211, dtype: int64
--------------------------------------------------
Column: ad7212
0.0    3343
NaN    3153
1.0    3101
Name: ad7212, dtype: int64
--------------------------------------------------
Column: ad731
1.0    3669
0.0    3078
NaN    2850
Name: ad731, dtype: int64
--------------------------------------------------
Column: ad732
0.0    6030
NaN    3179
1.0     388
Name: ad732, dtype: int64
--------------------------------------------------
Column: ad733
0.0    5951
NaN    3080
1.0     566
Name: ad733, dtype: int64
--------------------------------------------------
Column: ad734
0.0    5980
NaN    3217
1.0     400
Name: ad734, dtype: int64
--------------------------------------------------
Column: ad735
0.0    5589
NaN    3001
1.0    1007
Name: ad735, dtype: int64
--------------------------------------------------
Column: ad736
0.0    6070
NaN    3200
1.0     327
Name: ad736, dtype: int64
--------------------------------------------------
Column: ad741
0.0    5979
NaN    3183
1.0     435
Name: ad741, dtype: int64
--------------------------------------------------
Column: ad742
1.0    3789
0.0    3041
NaN    2767
Name: ad742, dtype: int64
--------------------------------------------------
Column: ad743
0.0    4313
NaN    3077
1.0    2207
Name: ad743, dtype: int64
--------------------------------------------------
Column: ad744
0.0    5160
NaN    3166
1.0    1271
Name: ad744, dtype: int64
--------------------------------------------------
Column: ad745
0.0    6062
NaN    3222
1.0     313
Name: ad745, dtype: int64
--------------------------------------------------
Column: ad746
0.0    5542
NaN    3095
1.0     960
Name: ad746, dtype: int64
--------------------------------------------------
Column: ad747
0.0    6194
NaN    3212
1.0     191
Name: ad747, dtype: int64
--------------------------------------------------
Column: ad751
0.0    5944
NaN    3125
1.0     528
Name: ad751, dtype: int64
--------------------------------------------------
Column: ad752
0.0    6289
NaN    3075
1.0     233
Name: ad752, dtype: int64
--------------------------------------------------
Column: ad753
0.0    6319
NaN    3182
1.0      96
Name: ad753, dtype: int64
--------------------------------------------------
Column: ad754
0.0    5942
NaN    3162
1.0     493
Name: ad754, dtype: int64
--------------------------------------------------
Column: ad755
0.0    5464
NaN    3201
1.0     932
Name: ad755, dtype: int64
--------------------------------------------------
Column: ad756
0.0    6378
NaN    3205
1.0      14
Name: ad756, dtype: int64
--------------------------------------------------
Column: ad757
0.0    6271
NaN    3203
1.0     123
Name: ad757, dtype: int64
--------------------------------------------------
Column: ad758
0.0    6326
NaN    3200
1.0      71
Name: ad758, dtype: int64
--------------------------------------------------
Column: ad759
0.0    6374
NaN    3201
1.0      22
Name: ad759, dtype: int64
--------------------------------------------------
Column: ad7510
0.0    6381
NaN    3206
1.0      10
Name: ad7510, dtype: int64
--------------------------------------------------
Column: ad7511
0.0    6338
NaN    3177
1.0      82
Name: ad7511, dtype: int64
--------------------------------------------------
Column: ad7512
0.0    5786
NaN    3202
1.0     609
Name: ad7512, dtype: int64
--------------------------------------------------
Column: ad7513
0.0    6338
NaN    3207
1.0      52
Name: ad7513, dtype: int64
--------------------------------------------------
Column: ad7514
0.0    6127
NaN    3162
1.0     308
Name: ad7514, dtype: int64
--------------------------------------------------
Column: ad7515
0.0    6381
NaN    3207
1.0       9
Name: ad7515, dtype: int64
--------------------------------------------------
Column: ad7516
0.0    6358
NaN    3206
1.0      33
Name: ad7516, dtype: int64
--------------------------------------------------
Column: ad7517
0.0    6260
NaN    3185
1.0     152
Name: ad7517, dtype: int64
--------------------------------------------------
Column: ad7518
0.0    5879
NaN    3154
1.0     564
Name: ad7518, dtype: int64
--------------------------------------------------
Column: ad7519
0.0    6367
NaN    3207
1.0      23
Name: ad7519, dtype: int64
--------------------------------------------------
Column: ad7520
0.0    5904
NaN    3160
1.0     533
Name: ad7520, dtype: int64
--------------------------------------------------
Column: ad7521
0.0    5447
NaN    3033
1.0    1117
Name: ad7521, dtype: int64
--------------------------------------------------
Column: ad7522
0.0    6113
NaN    3207
1.0     277
Name: ad7522, dtype: int64
--------------------------------------------------
Column: ad7523
0.0    6236
NaN    3208
1.0     153
Name: ad7523, dtype: int64
--------------------------------------------------
Column: ad7524
0.0    5861
NaN    3170
1.0     566
Name: ad7524, dtype: int64
--------------------------------------------------
Column: ad7525
0.0    3947
NaN    2880
1.0    2770
Name: ad7525, dtype: int64
--------------------------------------------------
Column: ad761
0.0    5133
NaN    3055
1.0    1409
Name: ad761, dtype: int64
--------------------------------------------------
Column: ad762
0.0    6178
NaN    3056
1.0     363
Name: ad762, dtype: int64
--------------------------------------------------
Column: ad763
0.0    6231
NaN    3138
1.0     228
Name: ad763, dtype: int64
--------------------------------------------------
Column: ad764
0.0    5965
NaN    3073
1.0     559
Name: ad764, dtype: int64
--------------------------------------------------
Column: ad765
0.0    5433
NaN    3184
1.0     980
Name: ad765, dtype: int64
--------------------------------------------------
Column: ad766
0.0    6354
NaN    3193
1.0      50
Name: ad766, dtype: int64
--------------------------------------------------
Column: ad767
0.0    6141
NaN    3189
1.0     267
Name: ad767, dtype: int64
--------------------------------------------------
Column: ad768
0.0    6309
NaN    3186
1.0     102
Name: ad768, dtype: int64
--------------------------------------------------
Column: ad769
0.0    6379
NaN    3175
1.0      43
Name: ad769, dtype: int64
--------------------------------------------------
Column: ad7610
0.0    6391
NaN    3192
1.0      14
Name: ad7610, dtype: int64
--------------------------------------------------
Column: ad7611
0.0    6351
NaN    3149
1.0      97
Name: ad7611, dtype: int64
--------------------------------------------------
Column: ad7612
0.0    6130
NaN    3183
1.0     284
Name: ad7612, dtype: int64
--------------------------------------------------
Column: ad7613
0.0    6352
NaN    3195
1.0      50
Name: ad7613, dtype: int64
--------------------------------------------------
Column: ad7614
0.0    6087
NaN    3062
1.0     448
Name: ad7614, dtype: int64
--------------------------------------------------
Column: ad7615
0.0    6337
NaN    3193
1.0      67
Name: ad7615, dtype: int64
--------------------------------------------------
Column: ad7616
0.0    6366
NaN    3195
1.0      36
Name: ad7616, dtype: int64
--------------------------------------------------
Column: ad7617
0.0    6213
NaN    3187
1.0     197
Name: ad7617, dtype: int64
--------------------------------------------------
Column: ad7618
0.0    5849
NaN    3026
1.0     722
Name: ad7618, dtype: int64
--------------------------------------------------
Column: ad7619

0.0    6371
NaN    3193
1.0      33
Name: ad7619, dtype: int64
--------------------------------------------------
Column: ad7620
0.0    5832
NaN    3084
1.0     681
Name: ad7620, dtype: int64
--------------------------------------------------
Column: ad7621
0.0    5799
NaN    3122
1.0     676
Name: ad7621, dtype: int64
--------------------------------------------------
Column: ad7622
0.0    5849
NaN    3195
1.0     553
Name: ad7622, dtype: int64
--------------------------------------------------
Column: ad7623
0.0    6126
NaN    3197
1.0     274
Name: ad7623, dtype: int64
--------------------------------------------------
Column: ad7624
0.0    5643
NaN    3153
1.0     801
Name: ad7624, dtype: int64
--------------------------------------------------
Column: ad7625
0.0    4807
NaN    3011
1.0    1779
Name: ad7625, dtype: int64
--------------------------------------------------

In [51]:
# Save the cleaned and processed data to a CSV file
# './Dataset/analysis_data.csv': Specifies the file path where the cleaned data will be saved.
# index=False: Ensures that the DataFrame index is not included in the CSV file.
analysis_data.to_csv('./Dataset/analysis_data.csv', index=False)